<div class="delete-overview-form">
    <form class="form" action="" id="delete-overview-form">
        <div class="form-row">
            <div class="form-field">
                {{ 'Are you sure you want to delete this overview?'|trans }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-field">
                <button type="button">{{ 'Cancel'|trans }}</button>
                <button type="submit" value="delete">{{ 'Add'|trans }}</button>
            </div>
        </div>
        <input type="hidden" name="overview-type" id="overview-type" value=""> {# localized|additional #}
        <input type="hidden" name="overview-id" id="overview-id" value="">
    </form>
</div>