<div class="keyword-translation-form" popover id="keyword-translation-popover">
    <div class="close" data-title="{{ 'Close'|trans }}">{{ ux_icon('mdi:close') }}</div>
    <form class="form" action="" id="keyword-translation-form">
        <div class="form-row" id="keyword-translation-buttons">
            <div class="form-field">
                <button type="button">{{ 'Cancel'|trans }}</button>
                <button type="submit" value="translate">{{ 'Translate'|trans }}</button>
            </div>
        </div>
    </form>
</div>