{% extends 'base.html.twig' %}

{% block title %}My Tv Time → Accueil{% endblock %}

{% block body %}
    <div class="container-fluid home">
        <h1 class="text-center my-5">Bienvenue sur My Tv Time</h1>
        <p class="text-center">My Tv Time est un site qui vous permet de gérer vos séries préférées. Vous pouvez ajouter des séries à votre liste, indiquer les épisodes que vous avez vus, et bien plus encore !</p>

        <div class="last-added-series">
            <h2>Dernières séries ajoutées</h2>
            <div class="wrapper">
                <div class="content">
                    {% for s in series %}
                        {{ include('_blocks/series/_card.html.twig', { series: s }) }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
