{% extends 'base.html.twig' %}

{% block title %}{{ 'Movies'|trans }}!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/home.scss') }}">
    <link rel="stylesheet" href="{{ asset('styles/movie.scss') }}">
{% endblock %}

{% block body %}
    {% include('_blocks/_menu.html.twig') %}
    <div class="container-fluid">

        {% include('_blocks/_footer.html.twig') %}
    </div>
{% endblock %}
