
###> symfony/framework-bundle ###
/.env
/.env.test
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/series/posters/
/public/series/backdrops/
/public/series/logos/
/public/movies/
/public/videos/
/var/
/vendor/
/Archive.zip

###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
#.phpunit.result.cache
/phpunit.xml.dist
###< symfony/phpunit-bridge ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###


/.gitignore
/.php-version
/composer.lock
/yarn.lock
/.idea-temp/
.DS_Store
.env.temp
.idea/mytvtime2.0.iml
.idea/php.xml
*.iml
*.xml
*.pem
/node_modules/
