{% if guest_stars %}
    <h3>{{ 'Guest stars'|trans }}</h3>
    <div class="cast">
        <div class="wrapper">
            {% for people in guest_stars %}
                {{ include('_blocks/series/_cast.html.twig', {people: people, role: people.character}) }}
            {% endfor %}
        </div>
    </div>
{% endif %}
