<dialog id="review-dialog">
    <div class="content">
        <form method="dialog">
            <button value="remove">{{ 'Remove'|trans }}</button>
            <button value="watch">{{ 'Watched again'|trans }}</button>
            <button value="now">{{ 'Now'|trans }}</button>
            <button value="cancel" autofocus>{{ 'Cancel'|trans }}</button>
        </form>
    </div>
</dialog>
