<script>
    const nextEpisodeDiv = document.querySelector(".next.user.episode");
    if (nextEpisodeDiv) {
        const ref = nextEpisodeDiv.getAttribute('data-ref');
        const alternateSchedulesDivs = document.querySelectorAll('.alternate-schedule');
        alternateSchedulesDivs.forEach(div => {
            const airDayCard = div.querySelector('a[id="' + ref + '"]');
            if (airDayCard) {
                airDayCard.classList.add('highlighted');
                airDayCard.scrollIntoView({behavior: "smooth", inline: "center"});
            }
        });
    }
    const scheduledDayDivs = document.querySelectorAll('.scheduled-day');
    scheduledDayDivs.forEach(div => {
        const checkbox = div.querySelector('input[type="checkbox"]');
        const input = div.querySelector('input[type="number"]');
        if (checkbox && input) {
            checkbox.addEventListener('change', () => {
                if (checkbox.checked) {
                    input.removeAttribute('disabled');
                    if (input.value === '' || input.value === "0") {
                        input.value = 1; // Set default value if empty
                    }
                } else {
                    input.setAttribute('disabled', 'disabled');
                }
            });
        }
    });

    function SaveSchedule(id) {
        const form = document.getElementById('schedule-form-' + id);
        const countrySelector = 'input[name="country-' + id + '"]';
        const country = form.querySelector(countrySelector).value;
        const seasonNumberSelector = 'input[name="season-number-' + id + '"]';
        const seasonNumber = form.querySelector(seasonNumberSelector).value;
        const multiPartSelector = 'input[name="multi-part-' + id + '"]';
        const multiPart = form.querySelector(multiPartSelector).checked;
        const seasonPartSelector = 'input[name="season-part-' + id + '"]';
        const seasonPart = form.querySelector(seasonPartSelector).value;
        const seasonPartFirstEpisodeSelector = 'input[name="season-part-first-episode-' + id + '"]';
        const seasonPartFirstEpisode = form.querySelector(seasonPartFirstEpisodeSelector).value;
        const seasonPartEpisodeCountSelector = 'input[name="season-part-episode-count-' + id + '"]';
        const seasonPartEpisodeCount = form.querySelector(seasonPartEpisodeCountSelector).value;
        const dateSelector = 'input[name="date-' + id + '"]';
        const date = form.querySelector(dateSelector).value;
        const timeSelector = 'input[name="time-' + id + '"]';
        const time = form.querySelector(timeSelector).value;
        const timezoneSelector = 'select[name="timezone-' + id + '"]';
        const timezone = form.querySelector(timezoneSelector).value;
        const overrideSelector = 'input[name="override-' + id + '"]';
        const override = form.querySelector(overrideSelector).checked;
        const frequencySelector = 'select[name="frequency-' + id + '"]';
        const frequency = form.querySelector(frequencySelector).value;
        const providerSelector = 'select[name="provider-' + id + '"]';
        const provider = form.querySelector(providerSelector).value;
        const scheduledDays = form.querySelectorAll(".scheduled-day");
        const dayArr = [];
        scheduledDays.forEach(day => {
            const checkbox = day.querySelector('input[type="checkbox"]');
            const input = day.querySelector('input[type="number"]');
            if (checkbox.checked) {
                dayArr.push({
                    day: checkbox.value,
                    count: input.value
                });
            }
        });

        const data = {
            id: id,
            country: country,
            seasonNumber: seasonNumber,
            multiPart: multiPart,
            seasonPart: seasonPart,
            seasonPartFirstEpisode: seasonPartFirstEpisode,
            seasonPartEpisodeCount: seasonPartEpisodeCount,
            date: date,
            time: time,
            timezone: timezone,
            override: override,
            frequency: frequency,
            days: dayArr,
            provider: provider === "" ? null : provider,
            seriesId: {{ series.id }}
        };
        fetch('{{ path('app_series_schedule_save') }}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-Requested-With': 'XMLHttpRequest'
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    ToggleScheduleForm(id);
                    window.location.reload();
                }
            });
    }

    function convertDateTime(id) {
        const form = document.getElementById('schedule-form-' + id);
        const dateSelector = 'input[name="date-' + id + '"]';
        const date = form.querySelector(dateSelector).value;
        const timeSelector = 'input[name="time-' + id + '"]';
        const time = form.querySelector(timeSelector).value;
        const timezoneSelector = 'select[name="timezone-' + id + '"]';
        const timezone = form.querySelector(timezoneSelector).value;

        const data = {
            date: date,
            time: time,
            timezone: timezone,
        };
        fetch('{{ path('app_series_schedule_convert') }}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-Requested-With': 'XMLHttpRequest'
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    const finaleDateSpan = form.querySelector('.finale-date');
                    finaleDateSpan.innerHTML = '<span>' + data.date + '</span>';

                    // On coche le jour correspondant à la date renvoyée.
                    const selector = "days-" + id + "-" + data['dayIndex'];
                    /** @type HTMLInputElement */
                    const input = document.querySelector('input[id="' + selector + '"]');
                    input.checked = true;
                }
            });
    }

    function toggleMultiPart(id) {
        const form = document.getElementById('schedule-form-' + id);
        const multiPartSelector = 'input[name="multi-part-' + id + '"]';
        const multiPart = form.querySelector(multiPartSelector).checked;
        const seasonPartSelector = 'input[name="season-part-' + id + '"]';
        const seasonPart = form.querySelector(seasonPartSelector);
        const seasonPartFirstEpisodeSelector = 'input[name="season-part-first-episode-' + id + '"]';
        const seasonPartFirstEpisode = form.querySelector(seasonPartFirstEpisodeSelector);
        const seasonPartEpisodeCountSelector = 'input[name="season-part-episode-count-' + id + '"]';
        const seasonPartEpisodeCount = form.querySelector(seasonPartEpisodeCountSelector);
        if (multiPart) {
            seasonPart.removeAttribute('disabled');
            seasonPartFirstEpisode.removeAttribute('disabled');
            seasonPartEpisodeCount.removeAttribute('disabled');
        } else {
            seasonPart.setAttribute('disabled', 'disabled');
            seasonPartFirstEpisode.setAttribute('disabled', 'disabled');
            seasonPartEpisodeCount.setAttribute('disabled', 'disabled');
        }
    }

    function updateProviderLogo(id) {
        const selectElement = document.querySelector("#provider-" + id);
        const selectedProvider = selectElement.value;
        const logoDiv = selectElement.parentElement.querySelector('.provider-logo');
        let logoImg = logoDiv.querySelector('img');
        if (selectedProvider) {
            if (!logoImg) {
                logoImg = document.createElement('img');
                logoDiv.appendChild(logoImg);
            }
            logoImg.src = selectElement.querySelector('option[value="' + selectedProvider + '"]').getAttribute('data-logo-url');
            logoImg.alt = selectedProvider + ' logo';
        } else {
            if (logoImg) logoImg.remove();
        }
    }

    function ToggleScheduleForm(id) {
        const form = document.getElementById('schedule-form-' + id);
        const formBlock = form.parentElement;
        formBlock.classList.toggle("show");
    }
</script>