<div class="series-search-block">
    <label for="series-search">
        <input type="search" id="series-search" data-type="tv" class="search" spellcheck="false" autocomplete="off" placeholder="{{ 'Search for a series…'|trans }}">
    </label>
    <div class="search-results __series">
        <ul data-type="tv"></ul>
    </div>
</div>