<dialog id="select-provider-dialog">
    <div class="content">
        <form method="dialog">
            <button value="cancel" autofocus>{{ 'Cancel'|trans }}</button>
        </form>
    </div>
</dialog>
