{% extends 'base.html.twig' %}

{% block title %}Hello SeriesController!{% endblock %}

{% block body %}
<div class="container">
    <h1>{{ series.name }}</h1>

    <div class="overview">{{ series.overview }}</div>
</div>
{% endblock %}
