{% extends 'base.html.twig' %}

{% block title %}{{ 'Series' }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/series.scss') }}">
{% endblock %}

{% block body %}
<div class="container-fluid">
    {% include('_blocks/_menu.html.twig') %}
    <h1>{{'Your series here soon'}}</h1>
    {% include('_blocks/_footer.html.twig') %}
</div>
{% endblock %}
