<div class="movie-search">
    <label for="movie-search-2">
        <input type="search" id="movie-search-2" data-type="movie" class="search" spellcheck="false" autocomplete="off" placeholder="{{ 'Search for a movie…'|trans }}">
    </label>
    <div class="search-results __movie">
        <ul data-type="movie"></ul>
    </div>
</div>