<div class="cast-search-block" data-season-number="{{ seasonNumber }}" data-series-id="{{ seriesId }}">
    <label for="character-name">
        <input type="text" id="character-name" data-type="person" class="character" spellcheck="false" autocomplete="off" placeholder="{{ 'Character‘s name'|trans }}">
    </label>
    <label for="cast-search">
        <input type="search" id="cast-search" data-type="person" class="search" spellcheck="false" autocomplete="off" placeholder="{{ 'Search for a person…'|trans }}">
    </label>
    <div class="search-results __people">
        <ul data-type="people"></ul>
    </div>
</div>