<div class="flash-messages">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-message {{ label }}">
                {{ message|raw }}
                <div class="closure-countdown">
                    <div>
                        {{ ux_icon('mdi:close') }}
                    </div>
                    <div class="circle-start"></div>
                    <div class="circle-end"></div>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
</div>
