{% set route = app.request.attributes.get('_route') %}
{% set route_params = app.request.attributes.get('_route_params') %}

<div class="home-footer">
    <div class="mytvtime">
        <a class="logo" href="{{ path('app_home') }}">
            <img src="/android-chrome-192x192.png" alt="Logo myTvTime">
        </a>
        <div>
            <a href="{{ path('app_home') }}">myTvTime ©</a>
        </div>
    </div>
    <div class="powered">
        <a class="logo" href="https://www.themoviedb.org/" target="_blank">
            <img src="/images/the-movie-database.png" alt="Logo The Movie Database">
        </a>
        <div>
            <a href="https://www.themoviedb.org/" target="_blank">The Movie Database</a>
        </div>
    </div>
</div>
<script>
    window.addEventListener("DOMContentLoaded", () => {
        document.querySelector(".home-footer").querySelector(".mytvtime").querySelector('div').querySelector('a').innerHTML += new Date().getFullYear();
    })
</script>
