<h2>{{ 'Users'|trans }}</h2>
<div class="admin__tools">

    <div class="tools">
        <h1>{{ ux_icon('mdi:tools') }} {{ 'Tools'|trans }}</h1>
        <div class="tool">
        </div>
    </div>
</div>
<script type="module" src="{{ asset('js/admin/api.js') }}"></script>
