<h2>{{ 'Users'|trans }}</h2>
<div class="admin__api">

    <div class="tools">
        <h1>{{ ux_icon('mdi:tools') }} {{ 'Tools'|trans }}</h1>
        <div class="tool api">
        </div>
        <div class="tool data-gouv">
            <div data-udata-dataset="662a5e2cd71b24df5e9a0827"></div><script data-udata="https://www.data.gouv.fr" src="https://www.data.gouv.fr/oembed.js" async defer></script>
        </div>
    </div>
</div>
