$transition-delay: .5s;
$fa-font-path: "../webfonts";

:root {
    --side-panel-easing: linear(0, 0.002 0.4%, 0.01 0.8%, 0.021 1.2%, 0.037 1.6%, 0.056 2%, 0.085 2.5%, 0.119 3%, 0.157 3.5%, 0.226 4.3%, 0.321 5.3%, 0.666 8.6%, 0.805 10%, 0.93 11.4%, 0.986 12.1%, 1.036 12.8%, 1.082 13.5%, 1.122 14.2%, 1.152 14.8%, 1.181 15.5%, 1.206 16.2%, 1.225 16.9%, 1.239 17.6%, 1.248 18.3%, 1.254 19.2%, 1.252 20.1%, 1.245 21%, 1.232 22%, 1.213 23%, 1.189 24.1%, 1.059 29.1%, 1.028 30.4%, 1.001 31.7%, 0.976 33.2%, 0.958 34.6%, 0.945 36.1%, 0.938 37.6%, 0.936 39.5%, 0.941 41.5%, 0.952 43.6%, 0.985 48.5%, 0.999 51%, 1.01 53.8%, 1.015 56.6%, 1.016 58.6%, 1.015 60.9%, 1.001 70.3%, 0.996 75.6%, 0.996 80.3%, 1.001 92.7%, 1);

    color-scheme: light dark;

    --svgSize: 18px;

    accent-color: hsl(32, 76%, 50%);
    --accent-color: hsl(32, 76%, 50%);

    --error: hsl(0, 50%, 50%);
    --background: light-dark(hsl(202, 18%, 95%), hsl(202, 18%, 5%));
    --background-gradient-0: light-dark(hsl(212, 18%, 84%), hsl(212, 18%, 16%));
    --background-gradient-11: light-dark(hsl(211, 18%, 85%), hsl(211, 18%, 15%));
    --background-gradient-22: light-dark(hsl(210, 18%, 86%), hsl(210, 18%, 14%));
    --background-gradient-33: light-dark(hsl(210, 18%, 87%), hsl(210, 18%, 13%));
    --background-gradient-44: light-dark(hsl(209, 18%, 88%), hsl(209, 18%, 12%));
    --background-gradient-56: light-dark(hsl(208, 18%, 89%), hsl(208, 18%, 11%));
    --background-gradient-67: light-dark(hsl(207, 18%, 90%), hsl(207, 18%, 10%));
    --background-gradient-78: light-dark(hsl(207, 18%, 91%), hsl(207, 18%, 9%));
    --background-gradient-89: light-dark(hsl(206, 18%, 92%), hsl(206, 18%, 8%));
    --background-gradient-100: light-dark(hsl(206, 18%, 93%), hsl(206, 18%, 7%));

    --ardoise: hsl(202, 18%, 50%);
    --ardoise-10: light-dark(hsl(202, 18%, 10%), hsl(202, 18%, 90%));
    --ardoise-20: light-dark(hsl(202, 18%, 20%), hsl(202, 18%, 80%));
    --ardoise-25: light-dark(hsl(202, 18%, 25%), hsl(202, 18%, 75%));
    --ardoise-30: light-dark(hsl(202, 18%, 30%), hsl(202, 18%, 70%));
    --ardoise-40: light-dark(hsl(202, 18%, 40%), hsl(202, 18%, 60%));
    --ardoise-50: hsl(202, 18%, 50%);
    --ardoise-60: light-dark(hsl(202, 18%, 60%), hsl(202, 18%, 40%));
    --ardoise-70: light-dark(hsl(202, 18%, 70%), hsl(202, 18%, 30%));
    --ardoise-75: light-dark(hsl(202, 18%, 75%), hsl(202, 18%, 25%));
    --ardoise-80: light-dark(hsl(202, 18%, 80%), hsl(202, 18%, 20%));
    --ardoise-90: light-dark(hsl(202, 18%, 90%), hsl(202, 18%, 10%));

    --green: hsl(166, 18%, 50%);
    --green-10: light-dark(hsl(166, 18%, 10%), hsl(166, 18%, 90%));
    --green-20: light-dark(hsl(166, 18%, 20%), hsl(166, 18%, 80%));
    --green-30: light-dark(hsl(166, 18%, 30%), hsl(166, 18%, 70%));
    --green-40: light-dark(hsl(166, 18%, 40%), hsl(166, 18%, 60%));
    --green-50: hsl(166, 18%, 50%);
    --green-60: light-dark(hsl(166, 18%, 60%), hsl(166, 18%, 40%));
    --green-70: light-dark(hsl(166, 18%, 70%), hsl(166, 18%, 30%));
    --green-80: light-dark(hsl(166, 18%, 80%), hsl(166, 18%, 20%));
    --green-90: light-dark(hsl(166, 18%, 90%), hsl(166, 18%, 10%));

    --red: hsl(0, 18%, 50%);
    --red-50: hsl(0, 18%, 50%);
    --red-20: light-dark(hsl(0, 18%, 20%), hsl(0, 18%, 80%));

    --yellow: hsl(45, 50%, 50%);
    --yellow-50: hsl(45, 50%, 50%);

    --purple: hsl(306, 50%, 50%);
    --purple-50: hsl(306, 50%, 50%);

    //--orange: oklch(from var(--accent-color) 50% c h);
    //--orange-0: oklch(from var(--accent-color) 0% c h);
    //--orange-10: oklch(from var(--accent-color) 10% c h);
    //--orange-20: oklch(from var(--accent-color) 20% c h);
    //--orange-30: oklch(from var(--accent-color) 30% c h);
    //--orange-40: oklch(from var(--accent-color) 40% c h);
    //--orange-50: oklch(from var(--accent-color) 50% c h);
    //--orange-60: oklch(from var(--accent-color) 60% c h);
    //--orange-70: oklch(from var(--accent-color) 70% c h);
    //--orange-80: oklch(from var(--accent-color) 80% c h);
    //--orange-90: oklch(from var(--accent-color) 90% c h);
    //--orange-100: oklch(from var(--accent-color) 100% c h);
    --orange: var(--accent-color);
    --orange-0: hsl(from var(--accent-color) h s 0%);
    --orange-10: hsl(from var(--accent-color) h s 10%);
    --orange-20: hsl(from var(--accent-color) h s 20%);
    --orange-30: hsl(from var(--accent-color) h s 30%);
    --orange-40: hsl(from var(--accent-color) h s 40%);
    --orange-50: hsl(from var(--accent-color) h s 50%);
    --orange-60: hsl(from var(--accent-color) h s 60%);
    --orange-70: hsl(from var(--accent-color) h s 70%);
    --orange-80: hsl(from var(--accent-color) h s 80%);
    --orange-90: hsl(from var(--accent-color) h s 90%);
    --orange-100: hsl(from var(--accent-color) h s 100%);

    --add-this: hsl(45, 80%, 45%);
    --start-this-series: hsl(186, 80%, 45%);
    --add-this-episode: hsl(45, 80%, 45%);
    --up-to-date-series: hsl(127, 25%, 45%);
    --up-to-date-series-border: hsl(127, 25%, 35%);
    --up-to-date-series-bg: hsl(127, 25%, 25%);
    --that-s-all-folks: cadetblue;
    --that-s-all-folks-border: teal;
    --user-episode-actions: cadetblue;
    --user-episode-list: hsl(202, 20%, 60%);
    --remove-this-series: hsl(0, 50%, 45%);
    --remove-this-series-hover: hsl(0, 50%, 55%);
    --season-number-badge: hsl(0, 50%, 45%);
    --season-order-badge: hsl(0, 50%, 45%);
    --favorite-series: hsl(32, 76%, 50%);
    --marathoner-series: hsl(45, 80%, 45%);
    --rating: hsl(45, 80%, 45%);
}

:root[data-theme='dark'] {
    color-scheme: dark;
}
:root[data-theme='light'] {
    color-scheme: light;
}

@mixin flex-row($align: center, $justify: center) {
    align-items: $align;
    display: flex;
    flex-direction: row;
    justify-content: $justify;
}

@mixin flex-100($align: center, $justify: center) {
    align-items: $align;
    display: flex;
    flex-direction: row;
    justify-content: $justify;
    width: 100%;
}

@mixin flex-col($align: center, $justify: center) {
    align-items: $align;
    display: flex;
    flex-direction: column;
    justify-content: $justify;
}