.admin {
    display: flex;
    gap: 1rem;
    margin-block-start: 3rem;

    aside {
        background-color: var(--ardoise-80-alpha-50);
        border-radius: .25rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        width: 15rem;

        .admin__menu {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            a {
                align-items: center;
                background-color: var(--ardoise-80-alpha-50);
                border-radius: .25rem;
                color: var(--ardoise-10);
                cursor: pointer;
                display: flex;
                font-size: 1rem;
                font-weight: bold;
                gap: 1rem;
                padding: .5rem 1rem;
                width: 100%;

                &.active {
                    background-color: var(--green-50);
                    color: var(--ardoise-10);
                }

                &:hover {
                    background-color: var(--orange-50);
                    color: var(--ardoise-10);
                }

                div:has(svg) {
                    align-items: center;
                    background-color: var(--orange-40);
                    border-radius: .25rem;
                    display: flex;
                    flex-shrink: 0;
                    justify-content: center;
                    height: 2rem;
                    width: 2rem;

                    svg {
                        color: var(--ardoise-10);
                    }
                }
            }
        }

        .admin__avatar {
            align-items: center;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            width: 5rem;
            height: 5rem;

            img {
                border-radius: 50%;
                width: 100%;
                height: 100%;
            }
        }

        .admin__name {
            font-size: 1.25rem;
            font-weight: bold;
            text-align: center;
        }

        .admin__email {
            font-size: .875rem;
            text-align: center;
        }

        .dim {
            margin-block-start: auto;
        }
    }

    main {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;

        .admin__actions {
            display: flex;
            gap: 1rem;

            button {
                background-color: var(--orange-50);
                border-radius: .25rem;
                color: var(--ardoise-10);
                cursor: pointer;
                font-size: 1rem;
                font-weight: bold;
                padding: .5rem 1rem;

                &:hover {
                    background-color: var(--orange-30);
                }
            }
        }
    }

    h2 {
        margin-block: 1rem;
    }

    .pagination {
        display: flex;
        gap: 1rem;
        justify-content: center;
        margin-block: 1rem;

        .page {
            background-color: var(--orange-50);
            border-radius: .25rem;
            color: var(--ardoise-10);
            cursor: pointer;
            font-size: 1rem;
            font-weight: bold;
            padding: .5rem 1rem;

            &.active {
                background-color: var(--green-50);
                color: var(--ardoise-10);
            }

            &:hover {
                background-color: var(--orange-30);
            }
        }
    }

    .admin__users {
        display: flex;
        flex-direction: column;
        gap: .25rem;

        .user {
            align-items: center;
            border-radius: .25rem;
            display: flex;
            font-size: .875rem;

            gap: 1rem;
            padding-block: .25rem;
            padding-inline: 1rem;

            .user__avatar {
                width: 2rem;
                height: 2rem;
                border-radius: 50%;

                &:has(svg) {
                    align-items: center;
                    border: 2px solid var(--orange-50);
                    display: flex;
                    justify-content: center;
                }
            }

            .user__name, .user__email {
                white-space: nowrap;
                width: 10rem;
            }

            .user__movie, .user__series, .user__providers, .user__episodes {
                text-align: right;
                width: 5rem;
            }

            .user__role {
                display: flex;
                justify-content: center;
                width: 5rem;
            }

            &:has(img) {
                .user__role {
                    color: var(--green-30);
                }
            }

            &:nth-child(odd) {
                background-color: var(--ardoise-80-alpha-50);

                &:hover {
                    background-color: var(--ardoise-60-alpha-50);
                }
            }

            &:nth-child(even) {
                background-color: var(--ardoise-90-alpha-50);

                &:hover {
                    background-color: var(--ardoise-70-alpha-50);
                }
            }
        }
    }

    .admin__series__tools {
        background-color: var(--ardoise-80-alpha-50);
        border-radius: .25rem;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
        padding: 1rem;

        .admin__series__tool {
            align-items: center;
            background-color: var(--orange-40-alpha-50);
            border-radius: .5rem;
            display: flex;
            gap: 1rem;
            padding: .25rem .25rem .25rem 1rem;

            label:has(select) {
                margin-inline-start: unset;

                &::after {
                    top: 32%;
                }
            }

            label:has(input) {
                align-items: center;
                gap: .5rem;

                input {
                    background-color: var(--orange-40-alpha-50);
                    border-radius: .25rem;
                    border: 2px solid var(--orange-50);
                    color: var(--ardoise-10);
                    font-size: 1rem;
                    padding: .125rem 1rem;

                    &.id {
                        width: 12rem;
                    }

                    &.name {
                        width: 20rem;
                    }
                }
            }

            button {
                align-items: center;
                background-color: var(--orange-40-alpha-50);
                border-radius: 50%;
                border: 2px solid var(--orange-50);
                color: var(--ardoise-10);
                cursor: pointer;
                display: flex;
                height: 2rem;
                justify-content: center;
                width: 2rem;

                &:hover {
                    background-color: var(--orange-30);
                }
            }
        }

        .admin__series__result {
            font-size: 2rem;
            line-height: 1.25em;
        }
    }

    .admin__series {
        background-color: var(--ardoise-80-alpha-50);
        border-radius: .25rem;
        display: flex;
        flex-direction: column;
        gap: .25rem;

        .list__header {
            display: flex;
            gap: 1rem;
            padding-inline: 1rem;
            white-space: nowrap;

            .series__poster {
                width: 2rem;
            }

            .series__id, .series__tmdb_id {
                display: flex;
                gap: .25rem;
                text-align: right;
                width: 4rem;
            }

            .series__name, .series__localized_name {
                display: flex;
                gap: .25rem;
                overflow-x: auto;
                width: 10rem;
            }

            .series__seasons, .series__episodes {
                display: flex;
                gap: .25rem;
                text-align: right;
                width: 5rem;
            }

            .series__country {
                width: 5rem;
            }

            .series__first_air_date {
                display: flex;
                gap: .25rem;
                width: 5rem;
            }

            .series__status {
                display: flex;
                gap: .25rem;
                width: 8rem;
            }

            .series__provider {
                align-items: center;
                display: flex;
                justify-content: center;
                width: 3rem;
            }
        }

        .list__content {
            display: flex;
            flex-direction: column;
            gap: .25rem;

            .list__item {
                border: 2px solid transparent;
                display: flex;
                gap: 1rem;

                &:hover {
                    > a:first-child {
                        .series__poster {
                            border-color: var(--orange-50);
                        }
                    }

                    .item {
                        border-color: var(--orange-50);
                    }
                }

                > a:first-child {
                    display: flex;
                    flex-shrink: 0;
                    width: 2.25rem;

                    .series__poster {
                        aspect-ratio: 78/117;
                        border: 2px solid transparent;
                        border-radius: .25rem;
                        height: 3.25rem;

                        &:has(svg) {
                            align-items: center;
                            border-color: var(--green-50);
                            display: flex;
                            justify-content: center;
                        }
                    }
                }

                .item {
                    align-items: center;
                    border: 2px solid transparent;
                    border-radius: .25rem;
                    cursor: pointer;
                    display: flex;
                    font-size: .875rem;
                    gap: 1rem;
                    white-space: nowrap;

                    .series__id, .series__tmdb_id {
                        text-align: right;
                        width: 4rem;
                    }

                    .series__name, .series__localized_name {
                        overflow-x: auto;
                        width: 10rem;
                    }

                    .series__seasons, .series__episodes {
                        text-align: right;
                        width: 5rem;
                    }

                    .series__countries {
                        display: flex;
                        gap: .25rem;
                        overflow-x: auto;
                        width: 5rem;

                        .country {
                            border-radius: .25rem;
                            display: flex;
                            gap: .25rem;
                            padding: .25rem;
                            width: 100%;

                            img {
                                aspect-ratio: 1/1;
                                border-radius: .25rem;
                                height: 1.5rem;
                                width: 1.5rem;
                            }

                            span {
                                font-size: .75rem;
                                font-weight: bold;
                                text-align: center;
                                width: 100%;
                            }
                        }
                    }

                    .series__first_air_date {
                        width: 5rem;
                    }

                    .series__status {
                        width: 8rem;
                    }

                    .series__provider {
                        aspect-ratio: 1/1;
                        width: 3rem;

                        img {
                            aspect-ratio: 1/1;
                            border-radius: .25rem;
                            height: 3rem;
                            width: 3rem;
                        }
                    }

                    &:nth-child(odd) {
                        background-color: var(--ardoise-80-alpha-50);

                        &:hover {
                            background-color: var(--ardoise-60-alpha-50);
                        }
                    }

                    &:nth-child(even) {
                        background-color: var(--ardoise-90-alpha-50);

                        &:hover {
                            background-color: var(--ardoise-70-alpha-50);
                        }
                    }
                }
            }
        }
    }

    .admin__series__edit {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        > div {
            background-color: var(--ardoise-80-alpha-50);
            border-radius: .25rem;
            padding: 1rem;
        }

        .admin__series__edit__title {
            display: flex;
            font-size: 2rem;
            gap: 1rem;
            line-height: 1.25em;

            span {
                color: var(--orange-50);
            }

            .admin__series__edit__title__id {
                align-items: center;
                display: flex;
                gap: .5rem;
                margin-inline-start: auto;
                position: relative;

                &:hover {
                    cursor: pointer;

                    .series__db {
                        display: flex;
                    }
                }

                svg {
                    color: var(--green-50);
                    height: 2rem;
                    width: 2rem;
                }

                .series__db {
                    backdrop-filter: blur(16px) brightness(.5);
                    background-color: var(--green-40-alpha-50);
                    border-radius: .25rem;
                    color: var(--ardoise-10);
                    display: none;
                    flex-direction: column;
                    font-size: 1rem;
                    font-weight: 300;
                    gap: .25rem;
                    min-width: 60vw;
                    padding: .5rem 1rem;
                    position: absolute;
                    right: 0;
                    top: 2.5rem;

                    .series__db__property {
                        display: flex;
                        gap: .5rem;

                        .series__db__property_key {
                            color: var(--green-90);
                            flex-shrink: 0;
                            font-weight: bold;
                            width: 12rem;
                        }

                        .series__db__property_value {
                            color: var(--ardoise-10);
                            flex-grow: 5;
                            max-width: 60vw;
                        }
                    }
                }
            }

            .admin__series__edit__title__tmdb__id {
                align-items: center;
                display: flex;
                gap: .5rem;
                position: relative;

                &:hover {
                    cursor: pointer;

                    .series__tmdb {
                        display: flex;
                    }
                }

                .admin__series__edit__title__tmdb__id__logo {
                    aspect-ratio: 1/1;
                    border-radius: .25rem;
                    height: 2rem;
                }

                .series__tmdb {
                    backdrop-filter: blur(16px) brightness(.5);
                    background-color: var(--green-40-alpha-50);
                    border-radius: .25rem;
                    color: var(--ardoise-10);
                    display: none;
                    flex-direction: column;
                    font-size: 1rem;
                    font-weight: 300;
                    gap: .25rem;
                    line-height: 1.1em;
                    max-height: calc(100vh - 10rem);
                    overflow-y: auto;
                    padding: .5rem 1rem;
                    position: absolute;
                    right: 0;
                    top: 2.5rem;

                    .series__tmdb__property {
                        align-items: flex-start;
                        display: flex;
                        gap: .5rem;

                        .series__tmdb__property_key {
                            background-color: var(--green-90);
                            border-radius: .25rem;
                            color: var(--green-30);
                            flex-shrink: 0;
                            font-weight: bold;
                            padding: .25rem 1rem;
                            width: 12rem;
                        }

                        .series__tmdb__property_value,
                        .series__tmdb__property_value__iterable {
                            border-radius: .25rem;
                            color: var(--ardoise-10);
                            display: flex;
                            flex-grow: 5;
                            gap: .5rem;
                            line-height: 1.1em;
                            padding: .5rem;
                        }

                        /*.series__tmdb__property_value__iterable:has(> .series__tmdb__property_value__iterable) {
                            flex-direction: row;
                        }*/

                        .series__tmdb__property_value__item {
                            align-items: flex-start;
                            background-color: var(--green-40-alpha-500);
                            border-radius: .25rem;
                            display: flex;
                            gap: .5rem;
                            padding: .25rem;

                            .series__tmdb__property_value__item {
                                align-items: flex-start;
                                flex-shrink: 0;
                                padding: .25rem;
                            }
                        }

                        .series__tmdb__property_value__iterable {
                            background-color: var(--green-40-alpha-50);
                            border-radius: .25rem;
                            flex-direction: column;
                            flex-shrink: 0;

                            .series__tmdb__property_value {
                                display: flex;
                                gap: .5rem;
                            }
                        }

                        .series__tmdb__property_value {
                            background-color: var(--green-40-alpha-50);

                            &:has(img) {
                                border-radius: .375rem;
                                padding: .125rem;
                            }
                        }

                        .series__tmdb__property_value,
                        .series__tmdb__property_value__item {
                            background-color: var(--green-40-alpha-50);
                        }

                        .series__tmdb__property_value {
                            &:has(img) {
                                border-radius: .375rem;
                                padding: .125rem;
                            }
                        }
                    }

                    .admin__series__backdrop {
                        aspect-ratio: 16/9;
                        border-radius: .25rem;
                        height: 10rem;
                    }

                    .admin__series__logo {
                        border-radius: .25rem;
                        height: auto;
                        width: 15rem;
                    }

                    .admin__series__poster {
                        aspect-ratio: 78/117;
                        border-radius: .25rem;
                        height: 10rem;
                    }

                    .admin__series__profile {
                        aspect-ratio: 2/3;
                        border-radius: .25rem;
                        height: 10rem;
                        object-fit: cover;
                    }

                    .admin__series__still {
                        border-radius: .25rem;
                        height: 10rem;
                        width: auto;
                    }
                }
            }
        }

        .admin__additional__overviews,
        .admin__localized__names,
        .admin__localized__overviews {
            width: 100%;

            .admin__columns {
                display: flex;
                gap: .5rem;
                width: 100%;

                .admin__lang {
                    width: 5rem;
                }

                .admin__field_name {
                    align-items: center;
                    display: flex;
                    width: 100%;
                }
            }

            .admin__row {
                display: flex;
                gap: .25rem;
                width: 100%;

                .admin__lang {
                    align-items: center;
                    background-color: var(--orange-50);
                    border-radius: .25rem;
                    display: flex;
                    font-weight: bold;
                    height: 2rem;
                    justify-content: center;
                    margin-inline-end: 3rem;
                    width: 2rem;
                }

                .admin__field {
                    align-items: center;
                    display: flex;
                    width: 100%;

                    label {
                        width: 100%;
                    }

                    input, textarea {
                        appearance: none;
                        background-color: var(--orange-40-alpha-50);
                        border-radius: .25rem;
                        border: 2px solid var(--orange-50);
                        color: var(--ardoise-10);
                        font-size: 1rem;
                        padding: .5rem 1rem;
                        width: 100%;
                    }
                }
            }
        }

        .admin__localized__names {
            .admin__localized__name {
                .admin__localized__name__name {
                    input {
                        background-color: var(--ardoise-80-alpha-50);
                        border-radius: .25rem;
                        color: var(--ardoise-10);
                        font-size: 1rem;
                        padding: .5rem 1rem;
                        width: 100%;
                    }
                }
            }
        }
    }

    .admin__series__details {
        header {
            align-items: center;
            display: flex;
            gap: 1rem;
            overflow: hidden;
            padding: 1rem;
            position: relative;
            width: 100%;

            .poster {
                align-items: center;
                aspect-ratio: 78/117;
                background-color: var(--orange-40-alpha-50);
                border-radius: .25rem;
                color: var(--ardoise-10);
                display: flex;
                flex-shrink: 0;
                height: 30rem;
                justify-content: center;
                z-index: 1;

                img {
                    aspect-ratio: 78/117;
                    border-radius: .25rem;
                    height: 30rem;
                    width: auto;
                }
            }

            .infos {
                align-items: flex-start;
                border-radius: .25rem;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                justify-content: center;
                padding: 2rem;
                width: 100%;
                z-index: 1;
            }

            .backdrop {
                aspect-ratio: 16/9;
                background-color: var(--orange-40-alpha-50);
                border-radius: .25rem;
                color: var(--ardoise-10);
                display: flex;
                filter: brightness(.125) contrast(.85);
                inset: 0;
                justify-content: center;
                position: absolute;
                width: 100%;

                img {
                    aspect-ratio: 16/9;
                    border-radius: .25rem;
                    height: auto;
                    object-fit: cover;
                    width: 100%;
                }
            }
        }

        .admin__series__details__actions {
            display: flex;
            gap: 1rem;
            justify-content: center;
            margin-block: 1rem;

            button {
                background-color: var(--orange-50);
                border-radius: .25rem;
                border: none;
                color: var(--ardoise-10);
                cursor: pointer;
                font-size: 3rem;
                font-weight: 100;
                line-height: 1.25em;
                padding: .5rem 1rem;

                &:hover {
                    background-color: var(--orange-30);
                }
            }
        }
    }

    .admin__series__list {
        display: flex;
        flex-direction: column;
        gap: .5rem;

        .admin__series__list__header {
            display: flex;
            gap: 1rem;
            padding-inline: 1rem;
            white-space: nowrap;

            .admin__series__list__header__poster {
                width: 2rem;
            }

            .admin__series__list__header__id, .admin__series__list__header__tmdb_id {
                display: flex;
                gap: .25rem;
                text-align: right;
                width: 5rem;
            }

            .admin__series__list__header__name, .admin__series__list__header__localized_name {
                overflow-x: auto;
                width: 20rem;
            }

            .admin__series__list__header__country {
                width: 5rem;
            }

            .admin__series__list__header__first_air_date {
                width: 5rem;
            }
        }

        .admin__series__list__content {
            display: flex;
            flex-direction: column;
            gap: .5rem;

            .admin__series__list__item {
                align-items: center;
                border: 2px solid transparent;
                border-radius: .25rem;
                cursor: pointer;
                display: flex;
                font-size: .875rem;
                gap: 1rem;
                padding-block: .25rem;
                padding-inline: 1rem;
                white-space: nowrap;

                &:hover {
                    border: 2px solid var(--orange-50);
                }

                .admin__series__list__poster {
                    aspect-ratio: 78/117;
                    border-radius: .25rem;
                    width: 2rem;

                    &:has(svg) {
                        align-items: center;
                        aspect-ratio: 78/117;
                        background-color: var(--green-70);
                        display: flex;
                        justify-content: center;
                        width: 2rem;
                    }
                }

                .admin__series__list__id, .admin__series__list__tmdb_id {
                    text-align: right;
                    width: 5rem;
                }

                .admin__series__list__name, .admin__series__list__localized_name {
                    overflow-x: auto;
                    width: 20rem;
                }

                .admin__series__list__seasons, .admin__series__list__episodes {
                    text-align: right;
                    width: 5rem;
                }

                .admin__series__list__country {
                    display: flex;
                    gap: .25rem;
                    overflow-x: auto;
                    width: 5rem;

                    img {
                        aspect-ratio: 1/1;
                        border-radius: .25rem;
                        height: 1.5rem;
                        width: 1.5rem;
                    }
                }

                .admin__series__list__first_air_date {
                    width: 5rem;
                }

                .admin__series__list__status {
                    display: flex;
                    gap: .25rem;
                    width: 10rem;
                }

                &.active {
                    background-color: var(--green-50);
                    color: var(--ardoise-10);
                }

                &:nth-child(odd) {
                    background-color: var(--ardoise-80-alpha-50);

                    &:hover {
                        background-color: var(--ardoise-60-alpha-50);
                    }
                }

                &:nth-child(even) {
                    background-color: var(--ardoise-90-alpha-50);

                    &:hover {
                        background-color: var(--ardoise-70-alpha-50);
                    }
                }
            }
        }
    }
}

@media (width < 1400px) {
    .admin {
        .large {
            display: none;
        }

        aside {
            padding: 1rem .5rem;
            width: 3.5rem;

            .admin__menu {
                a {
                    padding: .25rem;
                }
            }
        }
    }
}

@media (width < 1280px) {
    .admin {
        flex-direction: column;

        aside {
            flex-direction: row;
            width: 100%;

            .admin__menu {
                flex-direction: row;
            }
        }

        .dim{
            margin-inline-start: auto;
        }
    }
}
