.container-fluid.albums-page,
.container-fluid.album-page {
    height: calc(100vh - 4rem);
    overflow-y: auto;
}

.albums-page {
    @property --glow-deg {
        syntax: "<angle>";
        inherits: true;
        initial-value: 0deg;
    }

    --glow-deg: 0deg;
    --gradient-glow: var(--green-30) 0%,
    var(--green-100) 50%,
    var(--green-30) 100%;

    @keyframes glow {
        from {
            --glow-deg: 0deg;
        }
        to {
            --glow-deg: 360deg;
        }
    }

    margin-block-start: 4rem;

    h4 {
        text-wrap: unset;
    }

    .album-tools {
        align-items: center;
        background-color: var(--orange-30-alpha-75);
        border-radius: .5rem;
        display: flex;
        gap: 1rem;
        justify-content: center;
        margin-block: 1rem;
        padding: 1rem;

        form {
            align-items: center;
            display: flex;
            gap: 1rem;
            width: 100%;

            .form-group {
                display: flex;
                flex: 1;
                gap: 1rem;

                label {
                    align-items: center;
                    display: flex;
                    gap: .5rem;
                    font-weight: 300;

                    span {
                        text-wrap: nowrap;
                    }

                    input {
                        background-color: var(--orange-20);
                        border: none;
                        border-radius: .25rem;
                        color: var(--orange-100);
                        padding: .25rem 1rem;
                    }
                }

                button {
                    background-color: var(--orange-50);
                    border: none;
                    border-radius: .25rem;
                    color: var(--orange-100);
                    cursor: pointer;
                    padding: .25rem 1rem;

                    &:hover {
                        background-color: var(--orange-60);
                    }
                }
            }
        }
    }

    .pagination {
        align-items: center;
        display: flex;
        gap: 1rem;
        justify-content: center;
        margin-block-end: 1rem;

        .page {
            background-color: var(--orange-30-alpha-75);
            border-radius: .25rem;
            color: var(--orange-100);
            cursor: pointer;
            font-size: 1rem;
            font-weight: 400;
            padding: .5rem 1rem;
        }

        .page.active {
            background-color: var(--orange-50);
            color: var(--orange-10);
        }

        .page:hover {
            background-color: var(--orange-40);
        }
    }

    .album-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: .25rem;
        margin-block-end: 1rem;
        /*margin-inline: auto;*/
        width: 100%;

        &:has(.new-album) {
            justify-content: center;
            margin-block: auto;
        }

        .new-album {
            align-items: center;
            background-color: var(--green-50);
            border: 2px solid transparent;
            border-radius: .5rem;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            font-size: 2rem;
            font-weight: 600;
            height: 20rem;
            justify-content: center;
            line-height: 1.1em;
            text-align: center;
            text-wrap: balance;
            transition: all 0.3s ease-in-out;
            width: 20rem;

            &:hover {
                animation: glow 2s linear infinite;
                background: linear-gradient(var(--green-70) 0 0) padding-box,
                conic-gradient(from var(--glow-deg), var(--gradient-glow)) border-box;
                border-radius: 50%;
                border-width: 20px;
                color: var(--green-30);
            }
        }

        .album {
            aspect-ratio: 1 / 1;
            border: 2px solid transparent;
            border-radius: .625rem;
            display: flex;
            flex-direction: column;
            position: relative;
            width: 100%;

            &:hover {
                border-color: var(--orange-100);

                .infos {
                    opacity: 1;
                }
            }

            .thumbnail {
                position: relative;

                a {
                    align-items: center;
                    aspect-ratio: 1 / 1;
                    display: flex;
                    justify-content: center;
                    width: 100%;

                    img {
                        aspect-ratio: 1 / 1;
                        border-radius: .5rem;
                        object-fit: cover;
                        width: 100%;
                    }
                }
            }

            .infos {
                background-color: var(--orange-30-alpha-75);
                border-radius: 0 0 .5rem .5rem;
                bottom: 0;
                display: flex;
                flex-direction: column;
                gap: .5rem;
                /*height: 9rem;*/
                opacity: 0;
                padding: .5rem;
                position: absolute;
                transition: opacity 0.3s ease-in-out;
                width: 100%;

                .content {
                    display: flex;
                    flex-direction: column;
                    gap: .25rem;

                    .name {
                        color: var(--orange-100);
                        display: flex;
                        font-size: 1.5rem;
                        font-weight: 600;
                        line-height: 2.5rem;
                        overflow-y: auto;
                    }

                    .range {
                        align-items: center;
                        color: var(--orange-80);
                        display: flex;
                        font-size: 1rem;
                        font-weight: 400;
                        gap: .5rem;
                    }

                    .at {
                        display: flex;
                        gap: .5rem;

                        .created-at, .updated-at {
                            align-items: center;
                            color: var(--orange-100);
                            display: flex;
                            flex-shrink: 0;
                            font-size: .75rem;
                            font-weight: 400;
                            gap: .5rem;
                        }
                    }
                }
            }
        }
    }
}

@media (width <= 72rem) {
    .albums-page {

        .album-wrapper {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}

@media (width <= 48rem) {
    .albums-page {
        .album-tools {
            form {
                .form-group {
                    label {
                        span {
                            display: none;
                        }
                    }
                }
            }
        }

        .album-wrapper {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media (width <= 36rem) {
    .albums-page {
        margin-block-start: unset;

        .album-tools {
            form {
                flex-direction: column;
                width: 100%;

                .form-group {
                    width: 100%;

                    label {
                        width: calc(100% - 6rem);

                        input {
                            flex-grow: 1;
                        }
                    }
                }
            }
        }

        .album-wrapper {
            grid-template-columns: 1fr;
        }
    }
}

@property --album-cover-size {
    syntax: "<percentage>";
    inherits: true;
    initial-value: 178%;
}

@keyframes effect-beck {
    0% {
        --album-cover-size: 200%;
    }
    50% {
        --album-cover-size: 178%;
    }
    100% {
        --album-cover-size: 200%;
    }
}

.container-fluid:has(.album-page) {
    padding-inline: 0;
}

.album-page {
    gap: 1rem;
    height: calc(100vh - 8rem) !important;
    margin-block-start: 4rem;
    overflow-y: auto;
    padding-inline: 0;

    header {
        align-items: center;
        display: flex;
        gap: 1rem;

        .h1-tools {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            gap: .5rem;
            width: 50%;

            h1 {
                text-wrap: balance;
            }

            .tools {
                display: flex;
                gap: 1rem;
                width: 100%;

                .photo-albums-button {
                    background-color: var(--green-50);
                    border-radius: .25rem;
                    align-items: center;
                    cursor: pointer;
                    display: flex;
                    padding-inline: 1rem;

                    &:hover {
                        background-color: var(--green-60);
                    }
                }

                .add-photos-button {
                    background-color: var(--orange-50);
                    border: none;
                    border-radius: .25rem;
                    color: var(--orange-100);
                    cursor: pointer;
                    padding: .25rem 1rem;

                    &:hover {
                        background-color: var(--orange-60);
                    }
                }

                .layout-buttons, .layout-switcher {
                    border-radius: .25rem;
                    display: flex;

                    button {
                        align-items: center;
                        border: none;
                        color: var(--orange-100);
                        cursor: pointer;
                        display: flex;
                        height: 2rem;
                        justify-content: center;
                        padding: 0;
                        width: 2rem;

                        &:first-child {
                            border-radius: .25rem 0 0 .25rem;
                        }

                        &:last-child {
                            border-radius: 0 .25rem .25rem 0;
                        }
                    }
                }

                .layout-buttons {
                    button {
                        background-color: var(--green-50);

                        &:hover {
                            background-color: var(--green-40);
                        }
                    }
                }

                .layout-switcher {
                    margin-inline-start: auto;

                    button {
                        background-color: var(--orange-50);

                        &:hover {
                            background-color: var(--orange-60);
                        }

                        &.active {
                            background-color: var(--orange-100);
                            color: var(--orange-10);
                        }
                    }
                }
            }
        }

        .prev-next-albums {
            display: flex;
            gap: .5rem;
            justify-content: center;
            width: 50%;

            .prev-album, .next-album {
                flex: 1;

                a {
                    align-items: center;
                    background-color: var(--orange-30);
                    border-radius: .25rem;
                    color: var(--orange-100);
                    display: flex;
                    font-size: 1rem;
                    font-weight: 400;
                    gap: .5rem;
                    width: 100%;

                    &:hover {
                        background-color: var(--orange-40);
                    }

                    img {
                        aspect-ratio: 1 / 1;
                        border-radius: .25rem 0 0 .25rem;
                        display: block;
                        height: 5rem;
                        object-fit: cover;
                    }

                    .name {
                        font-weight: 400;
                        padding: .25rem;
                    }

                    svg {
                        height: 2.5rem;
                        width: 2.5rem;
                    }
                }
            }
        }
    }

    main {
        height: calc(100vh - 11rem);
        overflow-y: auto;

        .map-container {
            flex-direction: unset;
            justify-content: unset;
            margin-block-end: unset;

            .map-controller.album {
                width: 100%;
            }
        }
    }

    .album-photos {
        border-bottom: 2px solid var(--orange-50);
        display: flex;
        flex-direction: column;
        gap: .5rem;
        margin-inline: auto;
        height: calc(calc(100vh - var(--map-height-album)) - 13rem);
        overflow-y: auto;
        padding: .5rem;

        &.grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 1fr;
            gap: .25rem;
            margin-inline: auto;
            padding-block-start: min(30vh, 30vw);
            padding-inline: 0;
            position: relative;
            width: 100%;

            .protection {
                height: 100%;
                position: absolute;
                top: 0;
                width: 100%;

                .name {
                    font-size: min(5vh, 5vw);
                    font-weight: 300;
                    left: 2rem;
                    line-height: 1.1em;
                    padding-inline: 2rem;
                    position: absolute;
                    top: min(20vh, 20vw);
                }

                .background {
                    height: min(50vh, 50vw);
                    left: 0;
                    position: sticky;
                    top: min(-25vh, -25vw);
                    width: 100%;

                    img {
                        height: 100%;
                        mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
                        mask-size: cover;
                        object-fit: cover;
                        width: 100%;
                    }
                }
            }

            .album-photo {
                border: none;
                border-radius: 0;
                outline: min(.5vh, .5vw) solid transparent;
                outline-offset: max(-.5vh, -.5vw);
                transition: outline-color 0.3s ease-in-out;
                width: 100%;

                img {
                    border-radius: 0;
                }

                &:hover {
                    outline-color: var(--orange-100);
                }

                .album-photo-infos {
                    display: none;
                }

                &.grid-col-span-2 {
                    grid-column: span 2;
                }

                &.grid-row-span-2 {
                    grid-row: span 2;
                }

                &.grid-span-2 {
                    grid-column: span 2;
                    grid-row: span 2;
                }
            }
        }

        &.play {
            animation: effect-beck 4s ease-out infinite;
        }

        &.list {
            width: 100%;

            .background, .protection {
                display: none;
            }

            .album-photo {
                height: 8rem;
                width: 100%;
            }
        }

        .album-photo {
            border: 2px solid transparent;
            border-radius: .625rem;
            cursor: pointer;
            display: flex;
            gap: .25rem;
            position: relative;

            &:hover {
                border-color: var(--orange-100);

                .edit-photo-button {
                    opacity: 1;
                }
            }

            img {
                aspect-ratio: 1 / 1;
                border-radius: .5rem;
                height: 100%;
                object-fit: cover;
            }

            .album-photo-infos {
                display: flex;
                flex-direction: column;
                gap: .25rem;
                font-weight: 400;
                padding: 1rem;

                .name {
                    text-wrap: balance;
                }

                .dates {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 1rem;

                    .date {
                        align-items: center;
                        color: var(--orange-80);
                        display: flex;
                        font-weight: 400;
                        gap: .5rem;
                    }

                    .created-at, .updated-at {
                        align-items: center;
                        color: var(--orange-100);
                        display: flex;
                        font-weight: 400;
                        gap: .5rem;
                    }
                }
            }

            .edit-photo-button {
                align-items: center;
                background-color: var(--orange-50);
                border-radius: 50%;
                color: var(--orange-100);
                cursor: pointer;
                display: flex;
                height: 3rem;
                justify-content: center;
                opacity: 0;
                position: absolute;
                right: .5rem;
                top: .5rem;
                transition: opacity 0.3s ease-in-out;
                width: 3rem;

                svg {
                    height: 1.5rem;
                    width: 1.5rem;
                }
            }
        }
    }

    .modify-album-dialog,
    .edit-photo-dialog {
        .form-row {
            flex-grow: 1;
        }

        .form-column {
            background-color: var(--ardoise-80-alpha-50);
            border-radius: .5rem;
            padding: 1rem;

            .blob-preview {
                display: none;
            }
        }

        .album-summary {
            align-items: center;
            border: 2px solid var(--orange-50);
            border-radius: .5rem;
            color: var(--orange-100);
            display: flex;
            justify-content: center;
            padding: 1rem;
            text-align: center;
            text-wrap: balance;
            width: 100%;
        }
    }

    .edit-photo-dialog {
        .frame {
            .photo-thumbnail {
                height: 20rem;
                width: 20rem;

                img {
                    aspect-ratio: 1 / 1;
                    border-radius: 50%;
                    object-fit: cover;
                    width: 100%;
                }
            }
        }
    }
}

@media (orientation: landscape) {
    .album-page {
        main {
            display: flex;
            flex-direction: row;
            gap: 1rem;

            .album-photos {
                flex: 1;
                height: 100%;
                overflow-y: auto;
            }

            .map-container {
                flex: 1;

                .map-controller.album {
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}

@media (width <= 75rem) {
    .album-page {
        .album-infos {
            .header {
                align-items: flex-start;
                flex-direction: column;
                gap: .5rem;
            }
        }
    }
}

@media (width >= 60rem) {
    .album-page {
        header {
            .h1-tools {
                align-items: center;
                flex-direction: row;
                gap: .5rem;
                width: 50%;

                h1 {
                    width: 100%;
                }

                .tools {
                    flex-direction: column;
                    gap: .25rem;
                    width: unset;
                }
            }
        }
    }
}

@media (width <= 50rem) {
    .album-page {
        height: calc(100vh - 6rem) !important;
        margin-block-start: 2rem;

        header {
            h1 {
                font-size: min(5vh, 5vw);
            }
        }

        main {
            .album-photos.grid {
                gap: 0;
                padding: 0;

                .background, .protection {
                    display: none;
                }

                .album-photo {
                    border-radius: 0;

                    img {
                        border-radius: 0;
                    }
                }
            }

            .map-container {
                .map-controller {
                    border-radius: 0;
                }
            }
        }
    }
}

@media (width <= 36rem) {
    .album-page {
        .header {
            flex-direction: column;
            gap: .25rem;

            .h1-tools, .prev-next-albums {
                width: 100%;
            }

            .prev-next-albums {
                gap: 0;

                .prev-album, .next-album {
                    a {
                        gap: .25rem;

                        img {
                            border-radius: 0;
                            height: 2rem;
                            width: 2rem;
                        }

                        .chevron {
                            svg {
                                height: 1.5rem;
                                width: 1.5rem;
                            }
                        }

                        .name {
                            font-size: .875rem;
                            overflow-x: auto;
                            padding: 0;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }
                }

                .next-album {
                    a {
                        .chevron {
                            margin-inline-start: auto;
                        }
                    }
                }
            }
        }

        .album-photos.list {
            .album-photo {
                border-radius: 0;
                border-width: 0;
                height: 6rem;
                padding: 0;

                img {
                    border-radius: 0;
                    height: 6rem;
                }

                .album-photo-infos {
                    background-color: var(--orange-20);
                    padding: .25rem;
                    width: calc(100vw - 6rem);

                    &:hover {
                        background-color: var(--orange-30);
                    }

                    .name {
                        overflow-x: auto;
                        padding: 0;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        width: 100%;
                    }

                    .dates {
                        flex-direction: column;
                        gap: 0;

                        .created-at {
                            display: none;
                        }
                    }
                }
            }
        }

        .album-photos.grid {
        }

        .side-panel.edit-photo-dialog {
            padding: 0;
            top: 2rem;
            width: 100%;

            .frame {
                padding: 2px;

                .photo-thumbnail {
                    height: 10rem;
                    padding: 2px 0 0 2px;
                    width: 100%;

                    img {
                        border-radius: 2rem 0 0 0;
                        height: 100%;
                    }
                }

                form {
                    max-height: calc(100vh - 28rem);
                    overflow-y: auto;
                    padding: 1rem;

                    .form-row {
                        flex-direction: column;
                        gap: .5rem;
                    }

                    .form-row.submit-row {
                        flex-direction: row;
                        margin-block-end: 1rem;
                    }

                    .form-column {
                        width: 100%;

                        label {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

.albums-page, .album-page {
    label:has(select)::after {
        top: 32%;
    }
}

.youtube-red {
    color: #FF0000;
}