.container-fluid.albums-page,
.container-fluid.photos-page,
.container-fluid.album-page {
    height: calc(100vh - 6rem);
    overflow-y: auto;
}

.albums-page {
    @property --glow-deg {
        syntax: "<angle>";
        inherits: true;
        initial-value: 0deg;
    }

    --glow-deg: 0deg;
    --gradient-glow: var(--green-30) 0%,
    var(--green-90) 50%,
    var(--green-30) 100%;

    @keyframes glow {
        from {
            --glow-deg: 0deg;
        }
        to {
            --glow-deg: 360deg;
        }
    }

    margin-block-start: 4rem;

    h4 {
        text-wrap: unset;
    }

    .album-tools {
        align-items: center;
        background-color: var(--orange-30-alpha-75);
        border-radius: .5rem;
        display: flex;
        gap: 1rem;
        justify-content: center;
        margin-block: 1rem;
        padding: 1rem;

        form {
            align-items: center;
            display: flex;
            gap: 1rem;
            width: 100%;

            .form-group {
                display: flex;
                flex: 1;
                gap: 1rem;

                label {
                    align-items: center;
                    display: flex;
                    gap: .5rem;
                    font-weight: 300;

                    span {
                        text-wrap: nowrap;
                    }

                    input {
                        background-color: var(--orange-20);
                        border: none;
                        border-radius: .25rem;
                        color: var(--orange-90);
                        padding: .25rem 1rem;
                    }
                }

                button {
                    background-color: var(--orange-50);
                    border: none;
                    border-radius: .25rem;
                    color: var(--orange-90);
                    cursor: pointer;
                    padding: .25rem 1rem;

                    &:hover {
                        background-color: var(--orange-60);
                    }
                }
            }
        }
    }

    .pagination {
        align-items: center;
        display: flex;
        gap: 1rem;
        justify-content: center;
        margin-block-end: 1rem;

        .page {
            background-color: var(--orange-30-alpha-75);
            border-radius: .25rem;
            color: var(--orange-90);
            cursor: pointer;
            font-size: 1rem;
            font-weight: 400;
            padding: .5rem 1rem;
        }

        .page.active {
            background-color: var(--orange-50);
            color: var(--orange-10);
        }

        .page:hover {
            background-color: var(--orange-40);
        }
    }

    .album-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: .25rem;
        margin-block-end: 1rem;
        /*margin-inline: auto;*/
        width: 100%;

        &:has(.new-album) {
            justify-content: center;
            margin-block: auto;
        }

        .new-album {
            align-items: center;
            background-color: var(--green-50);
            border: 2px solid transparent;
            border-radius: .5rem;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            font-size: 2rem;
            font-weight: 600;
            height: 20rem;
            justify-content: center;
            line-height: 1.1em;
            text-align: center;
            text-wrap: balance;
            transition: all 0.3s ease-in-out;
            width: 20rem;

            &:hover {
                animation: glow 2s linear infinite;
                background: linear-gradient(var(--green-70) 0 0) padding-box,
                conic-gradient(from var(--glow-deg), var(--gradient-glow)) border-box;
                border-radius: 50%;
                border-width: 20px;
                color: var(--green-30);
            }
        }

        .album {
            aspect-ratio: 1 / 1;
            border: 2px solid transparent;
            border-radius: .625rem;
            display: flex;
            flex-direction: column;
            position: relative;
            width: 100%;

            &:hover {
                border-color: var(--orange-90);

                .infos {
                    opacity: 1;
                }
            }

            .thumbnail {
                position: relative;

                a {
                    align-items: center;
                    aspect-ratio: 1 / 1;
                    display: flex;
                    justify-content: center;
                    width: 100%;

                    img {
                        aspect-ratio: 1 / 1;
                        border-radius: .5rem;
                        object-fit: cover;
                        width: 100%;
                    }
                }
            }

            .user-created {
                border-radius: 50%;
                height: 2.5rem;
                overflow: hidden;
                position: absolute;
                right: .5rem;
                top: .5rem;
                width: 2.5rem;

                img {
                    border: 2px solid var(--orange-90);
                    border-radius: 50%;
                    height: 100%;
                    object-fit: cover;
                    width: 100%;
                }
            }

            .infos {
                backdrop-filter: blur(5px);
                background-color: hsla(from var(--orange-30) h s l / .25);
                border-radius: 0 0 .5rem .5rem;
                bottom: 0;
                display: flex;
                flex-direction: column;
                gap: .5rem;
                /*height: 9rem;*/
                opacity: 0;
                padding: .5rem;
                position: absolute;
                transition: opacity 0.3s ease-in-out;
                width: 100%;

                .content {
                    color: hsl(from var(--orange) h s 95%);
                    display: flex;
                    flex-direction: column;
                    gap: .25rem;

                    .name {
                        display: flex;
                        font-size: 1.5rem;
                        font-weight: 600;
                        line-height: 2.5rem;
                        overflow-y: auto;
                    }

                    .count, .range {
                        align-items: center;
                        display: flex;
                        font-size: 1rem;
                        font-weight: 400;
                        gap: .5rem;
                    }

                    .at {
                        display: flex;
                        gap: .5rem;

                        .created-at, .updated-at {
                            align-items: center;
                            display: flex;
                            flex-shrink: 0;
                            font-size: .75rem;
                            font-weight: 400;
                            gap: .5rem;
                        }
                    }
                }
            }
        }
    }
}


@media (width <= 72rem) {
    .albums-page {

        .album-wrapper {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}

@media (width <= 48rem) {
    .albums-page {
        .album-tools {
            form {
                .form-group {
                    label {
                        span {
                            display: none;
                        }
                    }
                }
            }
        }

        .album-wrapper {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media (width <= 36rem) {
    .albums-page {
        margin-block-start: unset;

        .album-tools {
            form {
                flex-direction: column;
                width: 100%;

                .form-group {
                    width: 100%;

                    label {
                        width: calc(100% - 6rem);

                        input {
                            flex-grow: 1;
                        }
                    }
                }
            }
        }

        .album-wrapper {
            grid-template-columns: 1fr;
        }
    }
}

.container-fluid:has(.album-page) {
    padding-inline: 0;
}

.album-page {
    gap: 1rem;
    height: calc(100vh - 8rem) !important;
    margin-block-start: 4rem;
    overflow-y: auto;
    padding-inline: 0;
    position: relative;

    &:has(.album-photos.list) {
        .protection {
            opacity: 0;
        }
    }

    .protection {
        inset: 0;
        position: absolute;
        top: 5rem;
        transition: opacity 0.3s ease-in-out;

        .name {
            font-size: min(5vh, 5vw);
            font-weight: 300;
            left: 2rem;
            line-height: 1.1em;
            padding-inline: 2rem;
            position: absolute;
            top: 30vh; /*min(30vh, 30vw);*/
        }

        .layers {
            height: 50vh; /*min(50vh, 50vw);*/
            left: 0;
            position: sticky;
            top: -25vh; /*min(-25vh, -25vw);*/
            width: 100%;

            .backgrounds {
                height: 100%;
                position: relative;
                width: 100%;

                .background-1, .background-2 {
                    inset: 0;
                    position: absolute;

                    img {
                        height: 100%;
                        /*mask-image: linear-gradient(to bottom, black 60%, transparent 100%);*/
                        mask-size: cover;
                        object-fit: cover;
                        width: 100%;
                    }
                }

                .background-1 {
                    z-index: -1;
                }

                .background-2 {
                    img {
                        display: none;
                        transition: opacity 1s ease-in-out;
                        opacity: 0;

                        &.displayed {
                            display: block;
                        }

                        &.visible {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    header {
        align-items: center;
        background-color: var(--orange-20);
        display: flex;
        gap: 1rem;

        .h1-tools {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            gap: .5rem;
            width: 50%;

            h1 {
                overflow-x: auto;
                padding-inline: 1rem;
                text-wrap: nowrap;
                width: 100%;
            }

            .tools {
                display: flex;
                gap: 1rem;
                width: 100%;

                .photo-albums-button {
                    background-color: var(--green-50);
                    border-radius: .25rem;
                    align-items: center;
                    cursor: pointer;
                    display: flex;
                    padding-inline: 1rem;

                    &:hover {
                        background-color: var(--green-60);
                    }
                }

                .add-photos-button {
                    background-color: var(--orange-50);
                    border: none;
                    border-radius: .25rem;
                    color: var(--orange-90);
                    cursor: pointer;
                    padding: .25rem 1rem;

                    &:hover {
                        background-color: var(--orange-60);
                    }
                }

                .layout-buttons, .layout-switcher {
                    border-radius: .25rem;
                    display: flex;

                    button {
                        align-items: center;
                        border: none;
                        color: var(--orange-90);
                        cursor: pointer;
                        display: flex;
                        height: 2rem;
                        justify-content: center;
                        padding: 0;
                        width: 2rem;

                        &:first-child {
                            border-radius: .25rem 0 0 .25rem;
                        }

                        &:last-child {
                            border-radius: 0 .25rem .25rem 0;
                        }
                    }
                }

                .layout-buttons {
                    button {
                        background-color: var(--green-50);

                        &:hover {
                            background-color: var(--green-40);
                        }
                    }
                }

                .layout-switcher {
                    margin-inline-start: auto;

                    button {
                        background-color: var(--orange-50);

                        &:hover {
                            background-color: var(--orange-60);
                        }

                        &.active {
                            background-color: var(--orange-90);
                            color: var(--orange-10);
                        }
                    }
                }
            }
        }

        .prev-next-albums {
            display: flex;
            gap: .5rem;
            justify-content: center;
            width: 50%;

            .prev-album, .next-album {
                flex: 1;

                a {
                    align-items: center;
                    background-color: var(--orange-30);
                    border-radius: .25rem;
                    color: var(--orange-90);
                    display: flex;
                    font-size: 1rem;
                    font-weight: 400;
                    gap: .5rem;
                    width: 100%;

                    &:hover {
                        background-color: var(--orange-40);
                    }

                    img {
                        aspect-ratio: 1 / 1;
                        border-radius: .25rem 0 0 .25rem;
                        display: block;
                        height: 5rem;
                        object-fit: cover;
                    }

                    .no-photo {
                        align-items: center;
                        aspect-ratio: 1 / 1;
                        background-color: var(--green-50);
                        border-radius: .25rem 0 0 .25rem;
                        color: var(--ardoise-10);
                        display: flex;
                        font-size: 1.5rem;
                        height: 5rem;
                        justify-content: center;
                    }

                    .name {
                        font-weight: 400;
                        padding: .25rem;
                    }

                    svg {
                        height: 2.5rem;
                        width: 2.5rem;
                    }
                }
            }
        }
    }

    main {
        height: calc(100vh - 10rem);
        overflow-y: auto;
        position: relative;

        #add-photos {
            align-items: center;
            aspect-ratio: 1 / 1;
            background-color: var(--green-70);
            border-radius: .5rem;
            display: flex;
            justify-content: center;
            padding: 1rem;
            position: absolute;
            top: 1vh;
            right: 1vh;
            z-index: 5;

            @media (orientation: landscape) {
                svg {
                    height: clamp(1rem, 10vh, 10rem);
                    width: clamp(1rem, 10vh, 10rem);
                    color: var(--orange-50);
                    cursor: pointer;
                }
            }

            @media (orientation: portrait) {
                svg {
                    height: clamp(1rem, 10vw, 10rem);
                    width: clamp(1rem, 10vw, 10rem);
                    color: var(--orange-50);
                    cursor: pointer;
                }
            }
        }

        .album-container {
            height: calc(calc(100vh - var(--map-height-album)) - 10rem);
            overflow-y: auto;
            position: relative;
            width: 100%;

            &:has(.grid) {
                .bg-header {
                    background: #00000000;
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 50%);
                    height: 10vh;
                    left: 0;
                    position: absolute;
                    top: 40vh;
                    width: 100%;
                }

                padding-block-start: 40vh; /*min(40vh, 40vw);*/

                .album-photos {
                    /*border-bottom: 2px solid var(--orange-50);*/
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;
                    margin-inline: auto;
                    padding: .5rem;

                    &.grid {
                        display: grid;
                        grid-template-columns: repeat(4, 1fr);
                        /*grid-auto-rows: 1fr;*/
                        gap: .5rem;
                        margin-inline: auto;
                        /*padding-block-start: 40vh;*/
                        /*min(40vh, 40vw);*/
                        padding-inline: 0;
                        position: relative;
                        width: 100%;

                        .bg {
                            background: #000;
                            bottom: 0;
                            left: 0;
                            position: absolute;
                            top: calc(calc(50vh - var(--map-height-album)) - 13rem);
                            width: 100%;
                        }

                        .album-photo {
                            border: none;
                            border-radius: .25rem;
                            cursor: pointer;
                            outline: min(.5vh, .5vw) solid transparent;
                            outline-offset: max(-.5vh, -.5vw);
                            padding-block-start: 0;
                            position: relative;
                            transition: outline-color 0.3s ease-in-out;
                            width: 100%;

                            img {
                                border-radius: .25rem;
                            }

                            .number-badge {
                                align-items: center;
                                background-color: var(--orange-50);
                                border-radius: 50%;
                                color: var(--orange-90);
                                display: flex;
                                font-size: 2rem;
                                font-weight: 600;
                                height: 3rem;
                                justify-content: center;
                                position: absolute;
                                right: .5rem;
                                top: 4rem;
                                width: 3rem;
                            }

                            &:hover {
                                outline-color: var(--orange-90);
                            }

                            .album-photo-infos {
                                display: none;
                            }

                            &.grid-col-span-2 {
                                grid-column: span 2;

                                img {
                                    aspect-ratio: 2 / 1;
                                }
                            }

                            &.grid-col-span-3 {
                                grid-column: span 3;

                                img {
                                    aspect-ratio: 3 / 1;
                                }
                            }

                            &.grid-row-span-2 {
                                grid-row: span 2;

                                img {
                                    aspect-ratio: 1 / 2;
                                }
                            }

                            &.grid-span-2 {
                                grid-column: span 2;
                                grid-row: span 2;
                            }

                            &.grid-span-3 {
                                grid-column: span 3;
                                grid-row: span 3;
                            }

                            &.grid-span-4 {
                                grid-column: span 4;
                                grid-row: span 4;
                            }
                        }
                    }

                    &.list {
                        width: 100%;

                        .bg {
                            display: none;
                        }

                        .background, .protection {
                            display: none;
                        }

                        .album-photo {
                            height: 8rem;
                            width: 100%;
                        }
                    }

                    &:not(:has(.album-photo)) {
                        align-items: center;
                        aspect-ratio: 1 / 1;
                        /*background-color: var(--green-70);*/
                        display: flex;
                        justify-content: center;
                        padding-block-start: 0;
                    }

                    .empty-space {
                        aspect-ratio: unset;
                    }

                    .album-photo {
                        border: 2px solid transparent;
                        border-radius: .625rem;
                        cursor: pointer;
                        display: flex;
                        gap: .25rem;
                        position: relative;

                        &:hover {
                            border-color: var(--orange-90);

                            .edit-photo-button {
                                opacity: 1;
                            }
                        }

                        img {
                            aspect-ratio: 1 / 1;
                            border-radius: .5rem;
                            height: 100%;
                            object-fit: cover;
                        }

                        .number-badge {
                            display: none;
                        }

                        .album-photo-infos {
                            display: flex;
                            flex-direction: column;
                            gap: .25rem;
                            font-weight: 400;
                            padding: 1rem;

                            .name {
                                text-wrap: balance;
                            }

                            .dates {
                                display: flex;
                                flex-wrap: wrap;
                                gap: 1rem;

                                .date {
                                    align-items: center;
                                    color: var(--orange-80);
                                    display: flex;
                                    font-weight: 400;
                                    gap: .5rem;
                                }

                                .created-at, .updated-at {
                                    align-items: center;
                                    color: var(--orange-90);
                                    display: flex;
                                    font-weight: 400;
                                    gap: .5rem;
                                }
                            }
                        }

                        .edit-photo-button {
                            align-items: center;
                            background-color: var(--orange-50);
                            border-radius: 50%;
                            color: var(--orange-90);
                            cursor: pointer;
                            display: flex;
                            height: 3rem;
                            justify-content: center;
                            opacity: 0;
                            position: absolute;
                            right: .5rem;
                            top: .5rem;
                            transition: opacity 0.3s ease-in-out;
                            width: 3rem;

                            svg {
                                height: 1.5rem;
                                width: 1.5rem;
                            }
                        }
                    }
                }
            }
        }

        .map-container {
            flex-direction: unset;
            justify-content: unset;
            margin-block-end: unset;

            .map-controller.album {
                border-radius: 0;
                width: 100%;
            }
        }
    }

    .modify-album-dialog,
    .edit-photo-dialog {
        .form-row {
            flex-grow: 1;
        }

        .form-column {
            background-color: hsla(from var(--ardoise-80) h s l / .5);
            border-radius: .5rem;
            padding: 1rem;

            .blob-preview {
                display: none;
            }
        }

        .album-summary {
            align-items: center;
            border: 2px solid var(--orange-50);
            border-radius: .5rem;
            color: var(--orange-90);
            display: flex;
            justify-content: center;
            padding: 1rem;
            text-align: center;
            text-wrap: balance;
            width: 100%;
        }
    }

    .edit-photo-dialog {
        .frame {
            .photo-thumbnail {
                height: 20rem;
                width: 20rem;

                img {
                    aspect-ratio: 1 / 1;
                    border-radius: 50%;
                    object-fit: cover;
                    width: 100%;
                }
            }
        }
    }
}

@media (orientation: landscape) {
    .album-page {
        .protection {
            right: 50%;
        }

        main {
            display: flex;
            flex-direction: row;
            gap: 0;

            .album-container {
                flex: 1;
                height: 100%;
                overflow-y: auto;

                &:has(.grid) {
                    .album-photos.grid {
                        .bg {
                            top: calc(calc(60vh - var(--map-height-album)) - 13rem);
                        }
                    }
                }
            }

            .map-container {
                flex: 1;

                .map-controller.album {
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}

@media (width <= 75rem) {
    .album-page {
        .album-infos {
            .header {
                align-items: flex-start;
                flex-direction: column;
                gap: .5rem;
            }
        }
    }
}

@media (width >= 60rem) {
    .album-page {
        header {
            .h1-tools {
                align-items: center;
                flex-direction: row;
                gap: .5rem;
                width: 50%;

                h1 {
                    width: 100%;
                }

                .tools {
                    flex-direction: column;
                    gap: .25rem;
                    width: unset;
                }
            }
        }
    }
}

@media (width <= 52rem) {
    .album-page {
        height: calc(100vh - 6rem) !important;
        margin-block-start: 2rem;

        header {
            h1 {
                font-size: 1.25rem;
            }
        }

        main {
            .album-photos.grid {
                /*gap: 0;
                padding: 0;

                .background, .protection {
                    display: none;
                }*/

                .album-photo {
                    border-radius: 0;

                    img {
                        border-radius: 0;
                    }
                }
            }

            .map-container {
                .map-controller {
                    border-radius: 0;
                }
            }
        }
    }
}

@media (width <= 36rem) {
    .album-page {
        .header {
            flex-direction: column;
            gap: .25rem;

            .h1-tools, .prev-next-albums {
                width: 100%;
            }

            .prev-next-albums {
                gap: 0;

                .prev-album, .next-album {
                    a {
                        gap: .25rem;

                        img {
                            border-radius: 0;
                            height: 2rem;
                            width: 2rem;
                        }

                        .chevron {
                            svg {
                                height: 1.5rem;
                                width: 1.5rem;
                            }
                        }

                        .name {
                            font-size: .875rem;
                            overflow-x: auto;
                            padding: 0;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }
                }

                .next-album {
                    a {
                        .chevron {
                            margin-inline-start: auto;
                        }
                    }
                }
            }
        }

        .album-photos.list {
            .album-photo {
                border-radius: 0;
                border-width: 0;
                height: 6rem;
                padding: 0;

                img {
                    border-radius: 0;
                    height: 6rem;
                }

                .album-photo-infos {
                    background-color: var(--orange-20);
                    padding: .25rem;
                    width: calc(100vw - 6rem);

                    &:hover {
                        background-color: var(--orange-30);
                    }

                    .name {
                        overflow-x: auto;
                        padding: 0;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        width: 100%;
                    }

                    .dates {
                        flex-direction: column;
                        gap: 0;

                        .created-at {
                            display: none;
                        }
                    }
                }
            }
        }

        .album-photos.grid {
        }

        .side-panel.edit-photo-dialog {
            padding: 0;
            top: 2rem;
            width: 100%;

            .frame {
                padding: 2px;

                .photo-thumbnail {
                    height: 10rem;
                    padding: 2px 0 0 2px;
                    width: 100%;

                    img {
                        border-radius: 2rem 0 0 0;
                        height: 100%;
                    }
                }

                form {
                    max-height: calc(100vh - 28rem);
                    overflow-y: auto;
                    padding: 1rem;

                    .form-row {
                        flex-direction: column;
                        gap: .5rem;
                    }

                    .form-row.submit-row {
                        flex-direction: row;
                        margin-block-end: 1rem;
                    }

                    .form-column {
                        width: 100%;

                        label {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

.photos-page {
    margin-block-start: 4rem;
    position: relative;

    .toggler {
        align-items: center;
        background-color: var(--orange-50);
        border-radius: .25rem;
        color: var(--orange-90);
        cursor: pointer;
        display: flex;
        height: 2rem;
        justify-content: center;
        left: 2rem;
        position: absolute;
        top: 3rem;
        width: 2rem;
        z-index: 21;

        svg {
            height: 1.5rem;
            width: 1.5rem;
        }
    }

    .sidebar {
        backdrop-filter: blur(10px);
        background-color: hsla(from var(--ardoise-80) h s l / .9);
        border-radius: 0 1rem 1rem 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        gap: 1rem;
        height: calc(100vh - 10rem);
        overflow-y: auto;
        padding: 1rem;
        padding-block-start: 4rem;
        position: absolute;
        top: 2rem;
        transform: translateX(-105%);
        transition: transform 0.3s ease-in-out;
        width: 20rem;
        z-index: 20;

        &.open {
            transform: translateX(-5%);
        }

        .menu {
            .header {
                display: flex;
                justify-content: space-between;

                .toggler {
                    left: unset;
                    position: unset;
                    top: unset;
                }
            }

            .wrapper {
                display: flex;
                gap: .5rem;
                flex-direction: column;

                a {
                    align-items: center;
                    display: flex;
                    gap: .5rem;

                    .thumbnail {
                        aspect-ratio: 1 / 1;
                        border-radius: .5rem;
                        height: 3rem;
                        object-fit: cover;
                        width: 3rem;

                        img {
                            border-radius: .5rem;
                            height: 100%;
                            object-fit: cover;
                            width: 100%;
                        }
                    }

                    .name {
                        font-size: 1rem;
                        font-weight: 400;
                        text-wrap: normal;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        width: calc(100% - 3.5rem);
                    }
                }
            }
        }
    }

    .photos {
        flex-shrink: 0;
        height: calc(100% - 22rem);
        margin-block-end: 1rem;
        max-height: 90%;
        overflow-y: auto;
        position: relative;
        width: 100%;

        .menu {
            align-items: center;
            background: linear-gradient(to bottom, #000 10%, #00000000 100%);
            display: flex;
            gap: 1rem;
            height: 6rem;
            left: 0;
            padding: 2rem;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 10;

            h1 {
                font-size: 2rem;
                font-weight: 600;
                line-height: 2.2rem;
                margin: 1rem;
                padding-inline: 1rem;
                text-wrap: balance;
            }
        }

        .wrapper {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
            gap: .25rem;
            width: 100%;

            .photo {
                aspect-ratio: 1 / 1;
                border: 2px solid transparent;
                border-radius: .625rem;
                min-width: 15rem;
                max-width: 20rem;
                width: 100%;

                &:hover {
                    border-color: var(--orange-90);

                    .infos {
                        opacity: 1;
                    }
                }

                img {
                    aspect-ratio: 1 / 1;
                    border-radius: .5rem;
                    object-fit: cover;
                    width: 100%;
                }
            }
        }
    }

    .last-days {
        flex-shrink: 0;
        height: fit-content;
        overflow-x: auto;
        width: 100%;

        .wrapper {
            display: flex;
            gap: .5rem;
            padding-bottom: .5rem;

            .album {
                aspect-ratio: 1 / 1;
                border: 2px solid transparent;
                border-radius: .5rem;
                cursor: pointer;
                position: relative;
                width: 15rem;

                img {
                    aspect-ratio: 1 / 1;
                    border-radius: .5rem;
                    height: 100%;
                    object-fit: cover;
                    width: 100%;
                }

                .name {
                    align-items: center;
                    background-color: var(--orange-30-alpha-75);
                    border-radius: 0 0 .5rem .5rem;
                    bottom: 0;
                    color: var(--orange-90);
                    display: flex;
                    font-size: 1.5rem;
                    font-weight: 600;
                    height: 3rem;
                    justify-content: center;
                    padding: .5rem;
                    position: absolute;
                    text-align: center;
                    text-wrap: balance;
                    width: 100%;
                }
            }
        }
    }
}

@media (width <= 64rem) {
    .photos-page {
        .photos {
            min-height: 80%;

            .wrapper {
                grid-template-columns: repeat(3, 1fr);

                .photo {
                    min-width: 30vw;
                }
            }
        }
    }
}