@import "variables";

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

::selection {
    background-color: var(--gradient-orange-50);
    color: var(--gradient-orange-90);
}

html {
    color-scheme: light dark;
    scroll-behavior: smooth;
    scroll-padding: 10rem;

    &:has(body.dark) {
        @for $i from 0 through 100 {
            --value-#{$i}: #{100 - $i};
            --percent-#{$i}: calc(calc(calc(100 - #{$i}) / 100) * 100%) !important;
        }
    }

    &:has(body.light) {
        @for $i from 0 through 100 {
            --value-#{$i}: #{$i};
            --percent-#{$i}: calc(calc(#{$i} / 100) * 100%) !important;
        }
    }
}

a {
    color: var(--gradient-ardoise-10);
    font-weight: 400;
    text-decoration: none;

    &:hover, &:visited, &:focus {
        color: var(--gradient-ardoise-10);
    }
}

body {
    align-items: center;
    background: var(--mtt-body-bg);
    background-image: var(--gradient-bg);
    background-attachment: fixed;
    color: var(--mtt-body-color);
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 100;
    min-height: 100vh;
    line-height: 1.5rem;
    margin: 0;

    &.frozen {
        overflow: hidden;
    }

    img, picture, svg, video {
        display: block;
        max-width: 100%;
    }

    input, textarea, select, button {
        font: inherit;
        font-size: 1rem;
        margin: 0;
    }

    .hidden {
        display: none;
    }
}

.d-none {
    display: none !important;
}

.container, .container-fluid {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    margin-inline: auto;
    min-height: 100vh;
    padding-block-start: 4rem;
    padding-inline: .25rem;
    position: relative;
    width: 100%;
}

.backgroundImage {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.backgroundImageOverlay {
    -webkit-backdrop-filter: blur(256px) brightness(75%) saturate(85%);
    backdrop-filter: blur(256px) brightness(75%) saturate(85%);
    height: 100%;
    padding: 1rem;
    width: 100%;
}

.container-fluid:not(:has(.backgroundImageOverlay)) {
    //padding: 1rem 0;
}

@media (min-width: 576px) {
    .container, .container-fluid:not(:has(.backgroundImageOverlay)) {
        padding-inline: 0.75rem;
    }
}

@media (min-width: 1025px) {
    .container {
        max-width: 1024px;
        padding-inline: unset;
    }
    .container-fluid:not(:has(.backgroundImageOverlay)) {
        padding-inline: 1rem;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

@media (min-width: 1600px) {
    .container {
        max-width: 1520px;
    }
}

@media (min-width: 1920px) {
    .container {
        max-width: 1860px;
    }
}

:root {
    --navbar-bg: var(--gradient-ardoise-60);
    --navbar-bg-25: var(--gradient-ardoise-70-alpha-25);
    --navbar-bg-50: var(--gradient-ardoise-70-alpha-50);
    --navbar-bg-75: var(--gradient-ardoise-70-alpha-75);
    --tooltips-bg: var(--gradient-ardoise-90);
    --tooltips-color: var(--gradient-ardoise-20);
}

label:has(select) {
    margin-inline-start: auto;
    position: relative;

    select {
        appearance: none;
        background-color: var(--gradient-ardoise-80);
        border: 1px solid var(--gradient-ardoise-50);
        border-radius: .125rem;
        cursor: inherit;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        outline: none;
        padding-block: .25rem;
        padding-inline: .5rem 1.5rem;
    }

    &:focus-within {
        select {
            background-color: var(--gradient-ardoise-50);
            outline: var(--gradient-orange-50) auto 2px;
        }
    }

    &::after {
        border-bottom: 4px solid var(--gradient-ardoise-20);
        border-left: 4px solid transparent;
        border-right: 4px solid var(--gradient-ardoise-20);
        border-top: 4px solid transparent;
        bottom: 1em;
        content: "";
        display: block;
        height: .5em;
        position: absolute;
        right: .75em;
        transform: rotate(45deg);
        width: .5em;
        z-index: 2;
    }
}

label:has(input[type="password"]),
label:has(input[type="text"]) {
    position: relative;
}

.navbar {
    align-items: center;
    background-color: var(--navbar-bg-25);
    display: flex;
    font-weight: 300;
    height: 3rem;
    justify-content: flex-start;
    left: 0;
    //margin-block-end: 1rem;
    padding-inline: 1rem;
    position: fixed;
    top: 1rem;
    width: 100%;
    z-index: 100;

    a {
        align-items: center;
        border-radius: .25rem;
        display: flex;
        height: 2rem;
        justify-content: center;
        padding-inline: .5rem;
        transition: background-color .250ms, color .250ms;

        &:hover {
            background-color: var(--navbar-bg-hover);
        }
    }

    &:hover {
        background-color: var(--navbar-bg);
    }

    .switches {
        display: flex;
        gap: .5rem;
        margin-inline-start: auto;
    }

    .burger {
        cursor: pointer;
        margin-inline-start: auto;
        padding: .5rem;
        position: relative;

        span {
            background-color: var(--gradient-ardoise-10);
            display: block;
            height: .25rem;
            margin-block: .25rem;
            transition: transform 250ms ease-in-out, opacity 250ms ease-in-out;
            width: 1.5rem;
        }

        &.open {
            span:nth-child(1) {
                transform: translate(0, 0.5rem) rotate(135deg);
            }

            span:nth-child(2) {
                opacity: 0;
            }

            span:nth-child(3) {
                transform: translate(0, -0.5rem) rotate(-135deg);
            }

            .menu {
                display: flex;
                opacity: 1;
                transition: opacity .250ms ease-in-out;
            }
        }

        .menu {
            background-color: var(--navbar-bg);
            border-radius: .25rem;
            display: none;
            flex-direction: column;
            gap: .5rem;
            max-height: calc(100vh - 5rem);
            opacity: 0;
            overflow-y: auto;
            padding: .5rem;
            position: absolute;
            right: 0;
            top: 3rem;

            a,
            .menu-preview,
            .menu-theme {
                flex-shrink: 0;
                justify-content: flex-start;
                padding-inline: 1rem;
                white-space: nowrap;
                width: 100%;

                &:hover {
                    background-color: var(--gradient-orange-50);
                    color: var(--gradient-orange-90);

                    &.active {
                        background-color: var(--gradient-green-40);
                        color: var(--gradient-green-90);
                    }
                }

                &.active {
                    background-color: var(--gradient-green-50);

                    &::after {
                        content: "*";
                        margin-inline-start: auto;
                    }
                }
            }

            .separation {
                background-color: var(--navbar-bg-75);
                flex-shrink: 0;
                padding-block: 0.25rem;
                margin-inline: -.5rem;
                padding-inline: 1rem;
                width: calc(100% + 1rem);
            }
        }
    }

    .menu-connect,
    .menu-language,
    .menu-preview,
    .menu-search,
    .menu-theme {
        align-items: center;
        border-radius: .25rem;
        cursor: pointer;
        display: flex;
        gap: .5rem;
        height: 2rem;
        justify-content: center;
        position: relative;
        transition: background-color .250ms, color .250ms;
        width: 2rem;

        &:hover {
            background-color: var(--gradient-ardoise-75);

            .content {
                display: flex;
            }
        }

        &:focus-within {
            background-color: var(--gradient-ardoise-75);
        }

        .content {
            background-color: var(--navbar-bg-75);
            border-radius: .25rem;
            display: none;
            flex-direction: column;
            position: absolute;
            right: 0;
            top: 2rem;

            div, a {
                display: block;
                height: unset;
                padding-inline: 1rem;
                white-space: nowrap;

                &:hover {
                    background-color: var(--gradient-orange-50);
                    color: var(--gradient-orange-90);
                }

                &:first-child {
                    border-top-left-radius: .25rem;
                    border-top-right-radius: .25rem;
                }

                &:last-child {
                    border-bottom-left-radius: .25rem;
                    border-bottom-right-radius: .25rem;
                }
            }
        }
    }

    .menu-connect {
        .avatar {
            img {
                border: 1px solid;
                border-radius: 50%;
                height: 1.5rem;
            }
        }
    }
}

@media (max-width: 576px) {
    .navbar {
        .desktop {
            display: none;
        }
    }
}

.home-footer {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--navbar-bg);
    border-radius: .5rem;
    color: var(--gradient-ardoise-10);
    gap: 1rem;
    margin-block-start: auto;
    padding-block: .5rem;
    width: 100%;

    &.dark {
        color: hsl(202, 18%, 10%);
    }

    .logo {
        align-items: center;
        display: flex;
        justify-content: end;
        background-image: url("../images/logo.png");
        background-position: left;
        background-repeat: no-repeat;
        background-size: 2rem 2rem;
        height: 2rem;
        padding-left: 3rem;
    }

    a {
        color: var(--gradient-ardoise-10);
    }

    .powered {
        background-image: url("../images/the-movie-db.svg");
        background-size: cover;
        height: 1rem;
        width: 12rem;

        a {
            display: block;
            height: 100%;
            width: 100%;
        }
    }
}

.container-fluid:has(.login),
.container-fluid:has(.register) {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100%;

    .home-footer {
        margin-block-start: auto;
    }
}

.login, .register {
    margin-block-start: auto;

    form {
        background-color: var(--gradient-ardoise-80-alpha-50);
        border-radius: 1rem;
        border: 2px solid var(--gradient-ardoise-20-alpha-50);
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-block: auto;
        padding: 2rem;

        .header {
            align-items: center;
            display: flex;
            font-size: 1.25rem;
            font-weight: 300;
            justify-content: center;
            width: 100%;
        }

        .body {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 100%;

            label {
                display: flex;
                flex-direction: column;
                gap: .25rem;
                width: 100%;

                input {
                    background-color: var(--gradient-ardoise-80-alpha-50);
                    border: 1px solid var(--gradient-ardoise-20-alpha-50);
                    border-radius: .25rem;
                    color: var(--gradient-ardoise-10);
                    padding: .5rem;
                    transition: border-color .250ms;
                    width: 24rem;

                    &:focus {
                        border-color: var(--gradient-orange-50);
                    }
                }

                .password-toggle-view {
                    bottom: .75rem;
                    cursor: pointer;
                    position: absolute;
                    right: 2.5rem;
                }

                .help {
                    color: var(--gradient-orange-50);
                    font-size: .75rem;
                    font-weight: 300;
                    line-height: .75rem;
                    margin-inline-start: .5rem;
                    width: 23.5rem;
                }
            }

            .remember-me {
                label {
                    align-items: center;
                    flex-direction: row;

                    input[type="checkbox"] {
                        width: unset;
                    }

                    span {
                        display: block;
                    }
                }
            }
        }

        .footer {
            align-items: center;
            display: flex;
            gap: 1rem;
            justify-content: flex-end;
            width: 100%;

            button[type="submit"] {
                background-color: var(--gradient-orange-50);
                border: 1px solid var(--gradient-orange-60);
                border-radius: .25rem;
                color: var(--gradient-orange-90);
                cursor: pointer;
                padding-block: .25rem;
                padding-inline: 1rem;
            }

            button[type="button"] {
                background-color: var(--gradient-ardoise-50);
                border: 1px solid var(--gradient-ardoise-60);
                border-radius: .25rem;
                color: var(--gradient-ardoise-90);
                cursor: pointer;
                padding-block: .25rem;
                padding-inline: 1rem;
            }
        }
    }
}

.flying-poster {
    align-items: center;
    display: none;
    background-color: var(--gradient-ardoise-90-alpha-80);
    border-radius: .5rem;
    height: 44rem;
    justify-content: center;
    opacity: 0;
    position: absolute;
    transition: opacity 150ms ease-in-out;
    width: 30rem;
    z-index: 10;

    img {
        border-radius: .25rem;
        height: 42rem;
        object-fit: cover;
        width: 28rem;
    }

    &.show {
        display: flex;
        opacity: 1;
    }
}

.tool-tips {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 32rem;
    min-height: 4rem;
    justify-content: revert;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: -4rem;
    transition: opacity .125s;
    z-index: 10;

    &.show {
        opacity: 1;
    }

    &.masked {
        display: none;
    }

    &.orange {
        .body, .tail {
            background-color: var(--gradient-orange-40);
            color: var(--gradient-orange-90);
            font-weight: 400;
        }
    }

    &.highlight {
        .body, .tail {
            background-color: var(--tooltips-bg);
            color: var(--tooltips-color);
            font-weight: 400;
        }
    }

    .body {
        @include flex-row();
        background-color: var(--gradient-ardoise-90);
        border-radius: .25em;
        color: var(--gradient-ardoise-20);
        padding: .5em;
        width: fit-content;
        z-index: 2;
    }

    .tail {
        background-color: var(--gradient-ardoise-90);
        border-radius: .125em;
        min-height: 1em;
        rotate: 45deg;
        translate: 0 -.55em;
        width: 1em;
        z-index: 1;
    }
}

.flash-messages {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-inline: auto;
    position: fixed;
    //right: 0;
    top: 0;
    z-index: 999;

    .flash-message {
        align-items: center;
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
        border: 1px solid;
        border-radius: .5rem;
        display: flex;
        gap: 1rem;
        font-weight: 500;
        //margin: 1rem auto;
        opacity: 1;
        padding-block: 1rem;
        padding-inline: 1rem 2rem;
        position: relative;
        transition: all 500ms ease-in-out, width 1500ms ease-in-out;
        width: fit-content;

        &.success {
            background-color: var(--gradient-green-70-50);
            border-color: var(--gradient-green-10);
            color: var(--gradient-green-10);
        }

        &.warning {
            background-color: var(--gradient-orange-50-alpha-50);
            border-color: var(--gradient-orange-70);
            color: var(--gradient-orange-90);
            font-weight: 300;
        }

        &.danger {
            background-color: var(--gradient-red-50-alpha-50);
            border-color: var(--gradient-red-20);
            color: var(--gradient-red-20);
        }

        .close {
            cursor: pointer;
            position: absolute;
            right: .5rem;
            top: .25rem;
        }

        &.hide {
            transform: scale(0);
            opacity: 0;
        }
    }

    .flash-close-all {
        align-items: center;
        background-color: var(--gradient-orange-50);
        border-color: var(--gradient-orange-70);
        border-radius: 50%;
        color: var(--gradient-orange-90);
        cursor: pointer;
        display: flex;
        font-size: 3rem;
        height: 3rem;
        justify-content: center;
        margin-left: auto;
        width: 3rem;
    }
}
