@import "variables";

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

::selection {
    background-color: var(--orange-50);
    color: var(--orange-90);
}

html {
    color-scheme: light dark;
    scroll-behavior: smooth;
    /*scroll-padding: 10rem;*/

    &:has(body.dark) {
        @for $i from 0 through 100 {
            --value-#{$i}: #{100 - $i};
            --percent-#{$i}: calc(calc(calc(100 - #{$i}) / 100) * 100%) !important;
        }
    }

    &:has(body.light) {
        @for $i from 0 through 100 {
            --value-#{$i}: #{$i};
            --percent-#{$i}: calc(calc(#{$i} / 100) * 100%) !important;
        }
    }
}

a {
    color: var(--ardoise-10);
    font-weight: 400;
    text-decoration: none;

    &:hover, &:visited, &:focus {
        color: var(--ardoise-10);
    }
}

body {
    align-items: center;
    background: hsl(202, var(--saturation), var(--percent-95)) linear-gradient(
                    45deg,
                    hsl(212deg var(--saturation) var(--percent-84)) 0%,
                    hsl(211deg var(--saturation) var(--percent-85)) 11%,
                    hsl(210deg var(--saturation) var(--percent-86)) 22%,
                    hsl(210deg var(--saturation) var(--percent-87)) 33%,
                    hsl(209deg var(--saturation) var(--percent-88)) 44%,
                    hsl(208deg var(--saturation) var(--percent-89)) 56%,
                    hsl(207deg var(--saturation) var(--percent-90)) 67%,
                    hsl(207deg var(--saturation) var(--percent-91)) 78%,
                    hsl(206deg var(--saturation) var(--percent-92)) 89%,
                    hsl(206deg var(--saturation) var(--percent-93)) 100%
    ) fixed;
    color: var(--mtt-body-color);
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 100;
    /*height: 100dvh;*/
    line-height: 1.5rem;
    margin: 0;
    position: relative;

    &.frozen {
        overflow: hidden;
    }

    img, picture, svg, video {
        display: block;
        max-width: 100%;
    }

    input, textarea, select, button {
        font: inherit;
        font-size: 1rem;
        margin: 0;
    }

    input[type="checkbox"][switch] {
        accent-color: hsl(166, 50%, 50%);
    }

    .hidden {
        display: none;
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: 300;
        line-height: 1.25;
        text-wrap: balance;
    }
}

body:has(details[open]),
body:has(dialog[open]) {
    overflow: hidden;
}

.d-none {
    display: none !important;
}

.svg {
    fill: currentColor;
    height: 18px;
    width: 18px;
}

.container, .container-fluid {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    margin-inline: auto;
    min-height: 100dvh;
    padding-block-start: 2rem !important;
    padding-inline: 0;
    position: relative;
    width: 100%;
}

.backgroundImage {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.backgroundImageOverlay {
    -webkit-backdrop-filter: blur(256px) brightness(75%) saturate(85%);
    backdrop-filter: blur(256px) brightness(75%) saturate(85%);
    /*height: 100dvh;
    overflow-y: auto;*/
    padding: 0;
    width: 100%;

    &:has(dialog[open]) {
        overflow: hidden;
    }
}

.container-fluid:not(:has(.backgroundImageOverlay)) {
    //padding: 1rem 0;
}

@media (min-width: 576px) {
    .container, .container-fluid:not(:has(.backgroundImageOverlay)) {
        padding-inline: 0.75rem;
    }

    .backgroundImageOverlay {
        padding: 1rem;
    }
}

@media (min-width: 1025px) {
    .container {
        max-width: 1024px;
        padding-inline: unset;
    }
    .container-fluid:not(:has(.backgroundImageOverlay)) {
        padding-inline: 1rem;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

@media (min-width: 1600px) {
    .container {
        max-width: 1520px;
    }
}

@media (min-width: 1920px) {
    .container {
        max-width: 1860px;
    }
}

:root {
    --navbar-bg: var(--ardoise-60);
    --navbar-border: var(--ardoise-20);
    --navbar-bg-hover: var(--orange-50);
    --navbar-bg-25: var(--ardoise-70-alpha-25);
    --navbar-bg-50: var(--ardoise-70-alpha-50);
    --navbar-bg-75: var(--ardoise-70-alpha-75);
    --navbar-color: var(--ardoise-25-alpha-25);
    --navbar-color-hover: var(--ardoise-10);
    --navbar-opacity: 1;
    --tooltips-bg: var(--ardoise-90);
    --tooltips-color: var(--ardoise-20);
    --notification-color: var(--ardoise-10);
    --notification-validated: var(--ardoise-25);
    --menu-easing: linear(0, 0.009 1%, 0.035 2%, 0.079 3.1%, 0.142 4.3%, 0.287 6.5%, 0.728 12.5%, 0.849 14.4%, 0.946 16.2%, 1.025 18%, 1.086 19.8%, 1.129 21.6%, 1.156 23.5%, 1.169 26%, 1.159 28.9%, 1.016 41.6%, 0.989 45.3%, 0.975 49.2%, 0.973 55%, 1.004 74.4%, 1);
}

.debug {
    background-color: var(--orange-30);
    border: 2px dashed var(--orange-50);
    border-radius: .25rem;
    color: var(--orange-80);
    padding: .125rem .5rem;
    position: fixed;
    right: 10rem;
    top: 1.5rem;
    z-index: 100;
}

label:has(select) {
    align-items: center;
    display: flex;
    gap: 1rem;
    margin-inline-start: auto;
    position: relative;
    white-space: nowrap;

    .logo {
        align-items: center;
        background-color: hsl(0, 0%, 100%);
        border: 1px solid var(--orange-50);
        border-radius: .25rem;
        display: flex;
        justify-content: center;
        height: 1.5rem;
        padding: .25rem;

        img {
            border-radius: .25rem;
            height: 100%;
        }
    }

    select {
        appearance: none;
        background-color: var(--ardoise-80);
        border: 1px solid var(--ardoise-50);
        border-radius: .25rem;
        color: var(--ardoise-10);
        outline: none;
        padding-block: .25rem;
        padding-inline: 1rem 2rem;
        width: 100%;
    }

    &:focus-within {
        select {
            background-color: var(--ardoise-50);
            outline: var(--orange-50) auto 2px;
        }
    }

    &::after {
        border-bottom: 4px solid var(--ardoise-20);
        border-left: 4px solid transparent;
        border-right: 4px solid var(--ardoise-20);
        border-top: 4px solid transparent;
        content: "";
        display: block;
        height: .5em;
        position: absolute;
        right: .75em;
        top: 62%;
        transform: rotate(45deg);
        width: .5em;
        z-index: 2;
    }
}

.all-my-series, .home {
    label:has(select) {
        select {
            margin-inline-start: auto;
            width: unset;
        }

        &::after {
            top: 20%;
        }
    }
}

label:has(input[type="password"]),
label:has(input[type="text"]) {
    position: relative;
}

.navbar {
    align-items: center;
    background-color: var(--navbar-bg);
    border: .25rem solid transparent;
    border-radius: 5rem;
    color: var(--navbar-color-hover);
    display: flex;
    font-weight: 300;
    gap: .5rem;
    height: 3.5rem;
    justify-content: flex-start;
    left: 1rem;
    opacity: var(--navbar-opacity);
    padding-inline: 1rem;
    position: fixed;
    right: 1rem;
    top: 1rem;
    transition: opacity .250ms ease-in-out;
    z-index: 500;

    &:has(details[open]), &:has(.menu.open) {
        --navbar-opacity: 1;
        color: var(--navbar-color-hover);
    }

    > a, > details {
        align-items: center;
        border-radius: .25rem;
        color: var(--navbar-color);
        display: flex;
        height: 2rem;
        justify-content: center;
        padding-inline: .5rem;
        transition: background-color .250ms, color .250ms;

        /*&:hover {
            background-color: var(--navbar-bg-hover);
            color: var(--navbar-bg-hover);

            svg {
                color: var(--navbar-bg-color);
            }

            anchor-name: --a;
        }*/
    }

    > *:not(.multi-search):hover {
        background-color: var(--navbar-bg-hover);
        color: var(--navbar-bg-hover);

        svg {
            color: var(--navbar-color-hover);
        }
    }

    > * {
        anchor-name: --a;
    }

    &:has(> *:hover) {
        .div-test {
            display: block;
        }
    }

    &::after, &::before, .div-test {
        background-color: var(--green-50);
        border-radius: .25rem;
        display: none;
        height: .25rem;
        left: anchor(--a left);
        position: absolute;
        position-anchor: --a;
        transition: left .250ms, width .250ms;
        width: anchor(--a width);
    }

    &::after, .div-test {
        top: 2.75rem;
    }

    &::before {
        top: 0;
    }

    /* Popover */
    > button {
        align-items: center;
        anchor-name: --popover-test;
        background-color: transparent;
        border-radius: .25rem;
        border: none;
        color: var(--navbar-color);
        display: flex;
        height: 2rem;
        justify-content: center;
        padding-inline: .5rem;
        transition: background-color .250ms, color .250ms;

        &:hover,
        &:has(+ div[popover]:popover-open) {
            background-color: var(--orange-50);
        }

        & + div[popover] {
            border-radius: .25rem;
            border: none;
            inset: auto;
            margin: 0;
            margin-block-start: .75rem;
            overflow: hidden;
            position-anchor: --popover-test;
            position: absolute;
            right: anchor(--popover-test right);
            top: anchor(--popover-test bottom);

            &:popover-open {
                display: flex;
            }

            ul {
                display: flex;
                flex-direction: column;

                li {
                    background-color: var(--orange-50);
                    padding-inline: .5rem;

                    &:hover {
                        background-color: var(--orange-40);
                    }
                }
            }
        }
    }

    > a {
        &:visited {
            color: var(--navbar-color);
        }
    }

    details {
        padding-inline: 0;
        position: relative;
        width: 2rem;

        summary {
            align-items: center;
            color: var(--navbar-color);
            cursor: pointer;
            display: flex;
            height: 2rem;
            justify-content: center;
            list-style: none;
            width: 2rem;
        }

        summary::-webkit-details-marker {
            display: none
        }

        &#history-menu,
        &#log-menu {
            position: unset;
        }

        &#history-menu[open],
        &#log-menu[open] {
            ul {
                opacity: 1;
                transform: translateX(3%);
            }
        }

        ul {
            background-color: var(--navbar-bg);
            border-radius: .25rem;
            box-shadow: 0 0 1rem var(--ardoise-100-alpha-20);
            left: 0;
            list-style: none;
            position: absolute;
            top: 2.625rem;
            width: max-content;

            &#history-list,
            &#log-list {
                left: -.5rem;
                max-height: calc(100dvh - 5.5rem);
                opacity: 0;
                overflow-y: auto;
                top: 3.125rem;
                transform: translateX(-100%);
                transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
            }

            li#history-options,
            li#log-options{
                align-items: center;
                display: flex;
                gap: .5rem;
                justify-content: center;
                padding-inline: 1rem;

                label {
                    display: flex;
                    gap: .5rem;
                }

                input[type="number"] {
                    border: 1px solid var(--orange-50);
                    border-radius: .25rem;
                    padding-inline: .5rem;
                    width: 4rem;
                }
            }

            li {
                padding-inline: 1rem;

                &:hover {
                    background-color: var(--orange-50);
                    color: var(--orange-90);
                }

                &.loading {
                    align-items: center;
                    display: flex;
                    gap: .5rem;
                    height: 2rem;
                    justify-content: center;

                    > div {
                        background-color: var(--orange-50);
                        border-radius: .25rem;
                        color: var(--orange-90);
                        padding-inline: .5rem;
                    }
                }

                a {
                    color: var(--navbar-color);
                    display: block;
                    padding-block: .125rem;
                    text-decoration: none;

                    &.history {
                        align-items: center;
                        display: flex;
                        gap: .5rem;
                        justify-content: stretch;

                        .poster {
                            align-items: center;
                            aspect-ratio: 78 / 117;
                            background-color: var(--orange-50);
                            border-radius: .125rem;
                            color: var(--orange-90);
                            display: flex;
                            font-size: 1.5rem;
                            height: 3rem;
                            justify-content: center;
                            text-align: center;

                            img {
                                border-radius: .125rem;
                                height: 3rem;
                                object-fit: cover;
                                width: 100%;
                            }
                        }

                        .name {
                            flex-grow: 1;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }

                        .device, .vote {
                            align-items: center;
                            border-radius: .25rem;
                            border: 1px solid var(--orange-50);
                            display: flex;
                            height: 2.5rem;
                            justify-content: center;
                            width: 2.5rem;
                        }

                        .provider {
                            img {
                                aspect-ratio: 1 / 1;
                                border-radius: .25rem;
                                border: 1px solid var(--orange-50);
                                height: 2.5rem;
                                object-fit: cover;
                            }
                        }

                        .device, .vote, .provider, .provider img {
                            overflow: hidden;
                            transition: width 250ms ease-in-out, height 250ms ease-in-out;

                            &.hidden {
                                border-width: 0;
                                height: 0;
                                width: 0;
                            }
                        }

                        .number {
                            background-color: var(--orange-50);
                            border-radius: .25rem;
                            color: var(--orange-90);
                            margin-inline-start: auto;
                            padding-inline: .5rem;

                            &.ended {
                                background-color: var(--green-50);
                                color: var(--green-90);
                            }
                        }

                        .date {
                            background-color: var(--orange-50);
                            border-radius: .25rem;
                            color: var(--orange-90);
                            margin-inline-start: auto;
                            padding-inline: .5rem;
                        }
                    }

                    &.log {
                        align-items: center;
                        display: flex;
                        gap: .5rem;
                        justify-content: stretch;

                        .name {
                            flex-grow: 1;
                            font-weight: 300;
                        }
                    }
                }

                &.log-item:hover,
                &.history-item:hover {
                    background-color: var(--orange-40);
                }

                &:has(input[type=checkbox]) {
                    &:hover {
                        background-color: var(--green-50);
                        color: var(--green-90);
                    }
                }

                label:has(input[type=checkbox]) {
                    align-items: center;
                    color: var(--orange-90);
                    display: flex;
                    gap: .5rem;
                    justify-content: flex-start;
                    padding-block: 1rem;

                    /*input[type=checkbox] {
                        appearance: none;
                        background-color: var(--ardoise-80);
                        border: 1px solid var(--ardoise-50);
                        border-radius: .25rem;
                        height: 1rem;
                        overflow: hidden;
                        position: relative;
                        width: 1rem;

                        &:checked {
                            background-color: var(--orange-50);
                            border-color: var(--orange-90);
                        }

                        &::after {
                            content: "";
                            font-size: larger;
                            left: 50%;
                            position: absolute;
                            top: 50%;
                            translate: -50% -50%;
                        }

                        &:checked::after {
                            content: "✖︎";
                        }
                    }*/
                }

                label:has(input[type="search"]) {
                    position: relative;

                    input {
                        appearance: none;
                        background-color: var(--ardoise-80);
                        border: 1px solid var(--ardoise-50);
                        border-radius: 999px;
                        margin-block: .5rem;
                        padding-inline: .5rem 2rem;
                    }

                    .magnifying-glass {
                        position: absolute;
                        right: .75rem;
                        top: 0;
                    }
                }

                &:has(input[type=search]) {
                    position: relative;
                }
            }
        }
    }

    .search-results {
        background-color: var(--ardoise-80);
        border-radius: .25rem;
        display: flex;
        flex-direction: column;
        left: 0;
        list-style: none;
        padding-inline: 1rem;
        position: absolute;
        top: .5rem;
        z-index: 10;

        ul {
            max-height: 30dvh;
            overflow-y: auto;

            li {
                padding-inline: 0;

                &.active {
                    background-color: var(--orange-50);
                    color: var(--orange-90);
                }

                a {
                    align-items: center;
                    color: var(--navbar-color-hover);
                    display: flex;
                    gap: .5rem;
                    padding-block: .125rem;
                    padding-inline: 1rem;

                    &:hover {
                        background-color: var(--orange-40);
                    }

                    .poster {
                        align-items: center;
                        aspect-ratio: 78 / 117;
                        display: flex;
                        font-size: .5rem;
                        height: 3rem;
                        justify-content: center;
                        text-align: center;

                        img {
                            border-radius: .125rem;
                            height: 3rem;
                            object-fit: cover;
                            width: 100%;
                        }
                    }

                    .title {
                        flex-grow: 1;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
            }

            a {
                color: var(--navbar-color);
                display: block;
                padding-block: .5rem;
                text-decoration: none;
            }
        }
    }

    &:hover {
        background-color: var(--navbar-bg);
        border-color: var(--navbar-border);
        opacity: 1;

        a, > button {
            color: var(--navbar-color-hover);
        }

        > details {
            summary {
                color: var(--navbar-color-hover);
            }
        }
    }

    &:has(.notifications) {
        .avatar {
            margin-inline-start: .5rem;
        }
    }

    .multi-search {
        margin-inline: auto;
        position: relative;

        label {
            align-items: center;
            display: flex;
            gap: .5rem;
            position: relative;

            input {
                appearance: none;
                background-color: var(--grey-95-alpha-20);
                border: none;
                border-radius: 5rem;
                color: var(--orange-90);
                font-size: 1rem;
                font-weight: 300;
                height: 2rem;
                padding-inline: 1rem 3rem;
                width: 20rem;

                &:focus {
                    background-color: var(--orange-30);
                }
            }

            .magnifying-glass {
                align-items: center;
                border-radius: 5rem;
                color: var(--orange-40);
                cursor: pointer;
                display: flex;
                font-size: 1rem;
                height: 1.5rem;
                justify-content: center;
                position: absolute;
                right: .5rem;
                top: 50%;
                transform: translateY(-50%);
                width: 1.5rem;
            }

            &:has(input:focus) .magnifying-glass {
                color: var(--orange-70);
            }
        }

        .search-results {
            background-color: var(--navbar-bg);
            padding-inline: 0;
            top: 2.25rem;
        }
    }

    .debug {
        align-items: center;
        background-color: var(--orange-30);
        border: 2px dashed var(--orange-50);
        border-radius: .25rem;
        color: var(--orange-80);
        display: flex;
        gap: .5rem;
        justify-content: center;
        padding: .125rem .5rem;
        position: unset;
        right: unset;
        top: unset;
    }

    .notifications {
        align-items: center;
        border-radius: .25rem;
        cursor: pointer;
        display: flex;
        height: 2rem;
        padding-inline: .5rem;
        position: relative;

        em {
            color: var(--orange-50);
        }

        span {
            align-items: center;
            background-color: var(--orange-50);
            border-radius: 999px;
            color: var(--orange-90);
            display: flex;
            font-size: 0.5rem;
            font-weight: 600;
            height: 1rem;
            justify-content: center;
            margin-block-end: .5rem;
            min-width: 1rem;
            padding-inline: .25rem;
            transform-origin: center top;
            transition: scale 250ms ease-in-out;
            z-index: 1;

            &:hover {
                scale: 4;
            }
        }

        &:has(.menu-notifications.show) {
            background-color: var(--orange-50);
            color: var(--orange-90);

            em {
                color: var(--orange-90);
            }


            span {
                background-color: var(--green-50);
                color: var(--green-10);
            }
        }

        .menu-notifications {
            background-color: var(--navbar-bg);
            border: 1px solid var(--navbar-bg-90);
            border-radius: .25rem;
            display: none;
            flex-direction: column;
            max-height: 30dvh;
            max-width: calc(100vw - 6rem);
            opacity: 0;
            overflow-y: auto;
            position: absolute;
            right: 0;
            top: 2.625rem;

            &.show {
                display: flex;
                opacity: 1;
                transition: opacity .250ms ease-in-out;
            }

            .item {
                align-items: center;
                border-radius: .25rem;
                color: var(--notification-color);
                display: flex;
                flex-shrink: 0;
                gap: .5rem;
                height: 2rem;
                justify-content: flex-start;
                padding-inline: 1rem;
                width: 100%;

                &:hover {
                    background-color: var(--orange-50);
                    color: var(--orange-90);
                }

                &.validated {
                    color: var(--notification-validated);

                    &:hover {
                        background-color: var(--green-50);
                        color: var(--green-90);
                    }
                }

                .message {
                    flex-grow: 0;
                    flex-shrink: 1;
                    overflow-x: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                .date {
                    flex-shrink: 0;
                    font-size: .75rem;
                    margin-inline-start: auto;
                }
            }
        }
    }

    &:not(:has(.debug)) {
        .notifications {
            margin-inline-start: auto;
        }
    }

    .avatar {
        border-radius: 50%;
        margin-inline-start: auto;
        z-index: 11;

        img {
            border: 4px solid;
            border-radius: 50%;
            height: 4rem;
        }

        &.highlight {
            img {
                border-color: var(--orange-70);
                box-shadow: 0 0 1rem var(--orange-70);
            }

            &.connected {
                img {
                    border-color: var(--connected);
                    box-shadow: 0 0 4rem 1rem var(--connected);
                }
            }
        }
    }

    .burger {
        border-radius: .25rem;
        cursor: pointer;
        padding: .25rem .5rem;
        position: relative;

        span {
            background-color: var(--ardoise-10);
            display: block;
            height: .25rem;
            margin-block: .25rem;
            transition: transform 250ms ease-in-out, opacity 250ms ease-in-out;
            width: 1.5rem;
        }

        &.open {
            span:nth-child(1) {
                transform: translate(0, 0.5rem) rotate(135deg);
            }

            span:nth-child(2) {
                opacity: 0;
            }

            span:nth-child(3) {
                transform: translate(0, -0.5rem) rotate(-135deg);
            }
        }

        .menu {
            background-color: var(--navbar-bg);
            border-radius: .25rem;
            display: none;
            flex-direction: column;
            gap: .125rem;
            max-height: calc(100dvh - 5rem);
            opacity: 0;
            overflow-x: hidden;
            overflow-y: auto;
            padding: .5rem;
            position: absolute;
            right: 0;
            top: 3rem;
            transform: translateX(100%);
            transition: opacity 250ms ease-in-out, transform 1s var(--menu-easing);
            z-index: 10;

            &.open {
                display: flex;
            }

            &.show {
                opacity: 1;
                transform: translateX(0);
            }

            > *:hover {
                background-color: var(--orange-50);
                color: var(--orange-90);
            }

            > a,
            .a-preview > a,
            .menu-preview,
            .menu-theme {
                align-items: center;
                border-radius: 0.25rem;
                color: var(--navbar-color-hover);
                display: flex;
                flex-shrink: 0;
                height: 2rem;
                justify-content: flex-start;
                padding-inline: 1rem;
                white-space: nowrap;
                width: 100%;

                &:hover {
                    background-color: var(--orange-50);
                    color: var(--orange-90);

                    &.active {
                        background-color: var(--green-40);
                        color: var(--green-90);
                    }
                }

                &.active {
                    background-color: var(--green-50);

                    &::after {
                        content: "*";
                        margin-inline-start: auto;
                    }
                }

                &.watched {
                    background-color: var(--green-50);
                    color: var(--green-90);
                }
            }

            a > em:has(svg) {
                align-items: center;
                background-color: var(--add-this-episode);
                border-radius: .125rem;
                display: flex;
                height: 1.5rem;
                justify-content: center;
                margin-inline-end: .5rem;
                width: 1.75rem;
            }

            > details {
                ul {
                    left: unset;
                    right: 100%;
                    top: 1rem;
                }
            }

            .separation {
                background-color: var(--navbar-bg-75);
                color: var(--orange-80);
                flex-shrink: 0;
                padding-block: 0.25rem;
                margin-inline: -.5rem;
                padding-inline: 1rem;
                width: calc(100% + 1rem);
            }

            .a-preview {
                display: flex;
                position: relative;

                > a {
                    display: flex;
                    gap: 1rem;

                    .time {
                        background-color: var(--orange-50);
                        border-radius: .25rem;
                        color: var(--orange-90);
                        font-family: monospace;
                        font-size: 1rem;
                        font-weight: 300;
                        line-height: 1.25em;
                        margin-inline-start: auto;
                        padding-inline: .5rem;
                    }

                    .provider {
                        height: 1.75rem;
                        width: 1.75rem;

                        img {
                            border-radius: .25rem;
                            height: 100%;
                            object-fit: cover;
                            width: 100%;
                        }
                    }
                }

                .episode-of-the-day-preview, .pinned-series-preview {
                    align-items: center;
                    background-color: var(--navbar-bg);
                    border-radius: .75rem;
                    display: none;
                    justify-content: center;
                    opacity: 0;
                    padding: .25rem;
                    position: absolute;
                    right: 2.5rem;
                    top: 2rem;
                    transform: translateX(100%);
                    transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
                    z-index: 1;

                    &.open {
                        display: flex;
                    }

                    &.show {
                        opacity: 1;
                        transform: translateX(0);
                    }

                    a {
                        img {
                            aspect-ratio: 78 / 117;
                            border-radius: .5rem;
                            width: 9.75rem; /* 156px;*/
                        }
                    }

                    a:not(:has(img)) {
                        align-items: center;
                        aspect-ratio: 78 / 117;
                        background-color: var(--orange-50);
                        border-radius: .5rem;
                        display: flex;
                        font-size: 1.5rem;
                        gap: .5rem;
                        justify-content: center;
                        padding-inline: .5rem;
                        width: 9.75rem; /* 156px;*/
                    }
                }
            }
        }
    }

    &:not(:has(.avatar)) {
        .burger {
            margin-inline-start: auto;
        }
    }

}

section:has(.pages) {
    display: flex;
    flex-wrap: wrap;
    gap: .25rem;
    justify-content: center;

    .block:has(.pages) {
        display: flex;
        flex-wrap: wrap;
        gap: .25rem;
        justify-content: center;

        .pages {
            background-color: var(--ardoise-60-alpha-50);
            margin-block-start: unset;
            padding: .25rem;

            .page {
                height: unset;
            }
        }
    }
}

.pages:has(form) {
    form {
        align-items: center;
        display: flex;
        gap: 1rem;

        label {
            display: flex;
            align-items: center;
            font-weight: 300;
            gap: 1rem;

            input {
                appearance: none;
                background-color: var(--orange-50);
                border: 1px solid var(--orange-90);
                border-radius: .25rem;
                color: var(--orange-90);
                /*padding-block: 3px;*/
                padding-inline-start: .5rem;
            }
        }
    }
}

.home-footer {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--navbar-bg);
    border-radius: .5rem;
    color: var(--ardoise-10);
    font-weight: 300;
    gap: 1rem;
    margin-block-start: auto;
    padding-block: .5rem;
    width: 100%;

    /*&.dark {
        color: hsl(202, 18%, 10%);
    }*/

    .mytvtime, .powered {
        align-items: center;
        display: flex;
        gap: .5rem;
        height: 2rem;
        justify-content: flex-start;

        .logo {
            height: 2rem;

            img {
                height: 100%;
                width: auto;
            }
        }

        a {
            color: var(--ardoise-10);
        }
    }
}

.container-fluid:has(.login),
.container-fluid:has(.register) {
    align-items: center;
    display: flex;
    height: 100dvh;
    justify-content: center;
    width: 100%;

    .home-footer {
        margin-block-start: auto;
    }
}

.add-this {
    align-items: center;
    background-color: var(--add-this);
    bottom: 6rem;
    border-radius: .25rem;
    color: var(--ardoise-10);
    display: flex;
    font-size: 2rem;
    font-weight: 500;
    justify-content: center;
    line-height: 1em;
    padding: 2rem;
    position: fixed;
    right: 1rem;
    text-align: center;
}

.switcher {
    border: 2px solid var(--ardoise-80);
    border-radius: calc(.5em + 2px);
    cursor: pointer;
    display: inline-block;
    height: calc(1em + 4px);
    margin-left: auto;
    margin-right: .5em;
    overflow: hidden;
    position: relative;
    width: calc(2em + 4px);

    input {
        height: 0;
        position: absolute;
        top: -2em;
        width: 0;

        + span {
            background: var(--ardoise-50);
            border-radius: .5em;
            cursor: pointer;
            inset: 0;
            position: absolute;

            &:before {
                background: white;
                border-radius: 50%;
                content: "";
                cursor: pointer;
                display: inline-block;
                height: 1rem;
                left: 0;
                position: absolute;
                top: 0;
                transition: all .2s ease-in-out;
                width: 1rem;
            }
        }

        &:checked + span {
            background: var(--orange-50);
        }

        &:checked + span:before {
            left: 1em;
        }
    }
}

.login, .register {
    margin-block-start: auto;

    form {
        background-color: var(--ardoise-80-alpha-50);
        border-radius: 1rem;
        border: 2px solid var(--ardoise-20-alpha-50);
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-block: auto;
        padding: 2rem;

        .header {
            align-items: center;
            display: flex;
            font-size: 1.25rem;
            font-weight: 300;
            justify-content: center;
            width: 100%;
        }

        .body {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 100%;

            label {
                display: flex;
                flex-direction: column;
                gap: .25rem;
                width: 100%;

                input {
                    background-color: var(--ardoise-80-alpha-50);
                    border: 1px solid var(--ardoise-20-alpha-50);
                    border-radius: .25rem;
                    color: var(--ardoise-10);
                    padding: .5rem;
                    transition: border-color .250ms;
                    width: 24rem;

                    &:focus {
                        border-color: var(--orange-50);
                    }
                }

                .password-toggle-view {
                    bottom: .75rem;
                    cursor: pointer;
                    position: absolute;
                    right: 2.5rem;
                }

                .help {
                    color: var(--orange-50);
                    font-size: .75rem;
                    font-weight: 300;
                    line-height: .75rem;
                    margin-inline-start: .5rem;
                    width: 23.5rem;
                }
            }

            .remember-me {
                label {
                    align-items: center;
                    flex-direction: row;

                    input[type="checkbox"] {
                        width: unset;
                    }

                    span {
                        display: block;
                    }
                }
            }
        }

        .footer {
            align-items: center;
            display: flex;
            gap: 1rem;
            justify-content: flex-end;
            width: 100%;

            button[type="submit"] {
                background-color: var(--orange-50);
                border: 1px solid var(--orange-60);
                border-radius: .25rem;
                color: var(--orange-90);
                cursor: pointer;
                padding-block: .25rem;
                padding-inline: 1rem;
            }

            button[type="button"] {
                background-color: var(--ardoise-50);
                border: 1px solid var(--ardoise-60);
                border-radius: .25rem;
                color: var(--ardoise-90);
                cursor: pointer;
                padding-block: .25rem;
                padding-inline: 1rem;
            }
        }
    }
}

.flying-poster {
    align-items: center;
    display: none;
    background-color: var(--ardoise-90-alpha-80);
    border-radius: .5rem;
    height: 44rem;
    justify-content: center;
    opacity: 0;
    position: absolute;
    transition: opacity 150ms ease-in-out;
    width: 30rem;
    z-index: 10;

    img {
        border-radius: .25rem;
        height: 42rem;
        object-fit: cover;
        width: 28rem;
    }

    &.show {
        display: flex;
        opacity: 1;
    }
}

dialog {
    &.diaporama {
        border-radius: 0;
        border: none;
        inset: unset;
        margin-block: 0;
        margin-inline: 0;
        max-height: unset;
        max-width: unset;
        padding: 0;
        position: unset;
        width: 100%;
        height: 100%;
        top: 0;
    }
}

.back-diapo {
    align-items: center;
    background-color: var(--ardoise-90-alpha-80);
    display: flex;
    inset: 0;
    justify-content: center;
    position: absolute;
    transition: bottom 300ms ease-in-out, top 300ms ease-in-out;
    z-index: 9999;

    .wrapper {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        height: 100%;
        justify-content: center;
        width: 100%;

        .image {
            align-items: center;
            display: flex;
            gap: 1rem;
            height: calc(100dvh - 8rem);
            justify-content: center;
            padding: 1rem;
            position: relative;
            width: 100%;

            img {
                border: 1rem solid var(--ardoise-20);
                max-height: 100%;
                max-width: calc(100vw - 4rem);
                object-fit: cover;
                opacity: 0;
                transition: opacity 300ms ease-in-out;

                &.fade {
                    opacity: 1;
                }
            }

            .chevron {
                align-items: center;
                background-color: var(--ardoise-60-alpha-50);
                border-radius: 50%;
                color: var(--ardoise-20);
                cursor: pointer;
                display: flex;
                flex-shrink: 0;
                font-size: 2rem;
                height: 3rem;
                justify-content: center;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 3rem;

                &.left {
                    left: 1rem;
                }

                &.right {
                    right: 1rem;
                }
            }
        }

        .thumbnails {
            align-items: center;
            display: flex;
            justify-content: center;
            gap: 1rem;
            height: 8rem;
            overflow-x: auto;
            width: 100%;

            .thumbnail {
                position: relative;

                img {
                    border: .25em solid var(--grey-20);
                    cursor: pointer;
                    max-height: 4rem;
                    max-width: 4rem;
                    object-fit: cover;
                    opacity: 1;
                }

                &.active {
                    img {
                        border: .25em solid var(--orange-50);
                    }
                }

                &.active::before {
                    align-items: center;
                    background-color: var(--orange-50);
                    border-radius: 999px;
                    content: '';
                    display: flex;
                    flex-direction: column;
                    height: .5rem;
                    justify-content: center;
                    left: 0;
                    position: absolute;
                    top: -1rem;
                    width: 100%;
                }

                &.active::after {
                    align-items: center;
                    background-color: var(--orange-50);
                    border-radius: 999px;
                    bottom: -1rem;
                    content: '';
                    display: flex;
                    flex-direction: column;
                    height: .5rem;
                    justify-content: center;
                    left: 0;
                    position: absolute;
                    width: 100%;
                }
            }
        }
    }

    .close {
        position: absolute;
        right: 1rem;
        top: 1rem;

        > div {
            align-items: center;
            background-color: var(--grey-20-alpha-50);
            border-radius: 50%;
            color: var(--grey-10);
            cursor: pointer;
            display: flex;
            font-size: 2rem;
            height: 3rem;
            justify-content: center;
            width: 3rem;
        }
    }

    .navigation {
        bottom: 1em;
        color: var(--ardoise-10);
        position: absolute;
        right: 1em;
        transition: height 300ms ease-in-out, width 100ms ease-in-out;

        .help {
            height: 16em;
            position: relative;
            width: 15em;

            .maxi {
                background-color: var(--ardoise-75);
                border-radius: 1em;
                inset: 0;
                padding: 1em;
                position: absolute;

                .title {
                    font-weight: bold;
                }

                .key {
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    margin-top: .5em;

                    img {
                        border: 1px solid;
                        border-radius: .25em;
                        height: 2em;
                        width: auto;
                    }

                    > div {
                        flex-shrink: 0;
                        margin-left: 1em;
                    }
                }

                .close {
                    cursor: pointer;
                    position: absolute;
                    right: 1em;
                    top: 1em;
                }
            }

            .mini {
                align-items: center;
                background-color: var(--ardoise-40);
                border-radius: 999px;
                cursor: pointer;
                display: flex;
                font-size: 2em;
                font-weight: bold;
                height: 1.2em;
                justify-content: center;
                inset: 0;
                position: absolute;
                width: 1.2em;
            }

            &.minimise {
                height: .75em;
                width: .75em;

                .maxi {
                    display: none;
                }
            }
        }

        &:has(.help.minimise) {
            bottom: 2em;
            height: 2.4em;
            right: 2em;
            width: 2.4em;
        }
    }
}

.tool-tips {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 80%;
    min-height: 4rem;
    justify-content: revert;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: -4rem;
    transition: opacity 300ms ease-in-out;
    z-index: 510;

    &.show {
        opacity: 1;
    }

    &.masked {
        display: none;
    }

    &.orange {
        .body, .tail {
            background-color: var(--orange-40);
            color: var(--orange-90);
            font-weight: 400;
        }
    }

    &.highlight {
        .body, .tail {
            background-color: var(--tooltips-bg);
            color: var(--tooltips-color);
            font-weight: 400;
        }
    }

    .body {
        @include flex-row();
        background-color: var(--ardoise-90);
        border-radius: .25em;
        color: var(--ardoise-10);
        padding: .5em;
        width: fit-content;
        z-index: 2;

        &:has(img) {
            flex-direction: column;
        }

        img {
            border-radius: .25em;
        }
    }

    .tail {
        background-color: var(--ardoise-90);
        border-radius: .125em;
        min-height: 1em;
        rotate: 45deg;
        translate: 0 -.55em;
        width: 1em;
        z-index: 1;
    }
}

.flash-messages {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-inline: auto;
    position: fixed;
    //right: 0;
    top: 2rem;
    z-index: 999;

    .flash-message {
        align-items: center;
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
        border: 1px solid;
        border-radius: .5rem;
        display: flex;
        gap: 1rem;
        font-weight: 500;
        //margin: 1rem auto;
        opacity: 1;
        padding-block: 1rem;
        padding-inline: 1rem 2rem;
        position: relative;
        transition: all 500ms ease-in-out;
        width: fit-content;

        &.success {
            background-color: var(--green-70-50);
            border-color: var(--green-10);
            color: var(--green-10);
        }

        &.warning {
            background-color: var(--orange-50-alpha-50);
            border-color: var(--orange-70);
            color: var(--orange-90);
            font-weight: 300;
        }

        &.danger {
            background-color: var(--red-50-alpha-50);
            border-color: var(--red-20);
            color: var(--red-20);
        }

        .close {
            cursor: pointer;
            position: absolute;
            right: .5rem;
            top: .25rem;
        }

        &.hide-scale {
            transform: scale(0);
            opacity: 0;
        }

        &.hide-to-left {
            transform: translateX(-500%);
            opacity: 0;
        }

        &.hide-to-right {
            transform: translateX(500%);
            opacity: 0;
        }

        &.hide-to-top {
            transform: translateY(-500%);
            opacity: 0;
        }

        &.hide-to-bottom {
            transform: translateY(500%);
            opacity: 0;
        }

        &.update {
            background-color: var(--green-70-alpha-50);
            border-color: var(--green-10);
            color: var(--green-10);
            display: flex;
            gap: 1rem;
            padding: 0;

            .poster {
                align-items: center;
                aspect-ratio: 78 / 117;
                display: flex;
                font-size: .5rem;
                height: 5rem;
                justify-content: center;
                text-align: center;

                img {
                    border-radius: .5rem 0 0 .5rem;
                    height: 5rem;
                    object-fit: cover;
                    width: 100%;
                }
            }

            .infos {
                align-items: flex-start;
                display: flex;
                flex-direction: column;
                gap: .25rem;
                height: 5rem;
                overflow-y: auto;
                padding-inline-end: 3rem;

                .name {
                    font-weight: 500;
                }

                .content {
                    font-weight: 100;

                    ul {
                        list-style: circle inside;
                        padding-inline-start: 1rem;
                    }
                }
            }
        }
    }

    .flash-close-all {
        align-items: center;
        background-color: var(--orange-50);
        border-color: var(--orange-70);
        border-radius: 50%;
        color: var(--orange-90);
        cursor: pointer;
        display: flex;
        font-size: 3rem;
        height: 3rem;
        justify-content: center;
        margin-left: auto;
        width: 3rem;
    }
}

.closure-countdown {
    --clr: var(--ardoise-10);
    --bg: var(--ardoise-90);
    --cd: var(--orange-70);

    align-items: center;
    border-radius: 50%;
    background-image: conic-gradient(var(--clr) 360deg, var(--cd) 360deg);
    color: var(--clr);
    cursor: pointer;
    display: flex;
    height: 1.5rem;
    justify-content: center;
    position: absolute;
    right: .5rem;
    top: .5rem;
    width: 1.5rem;

    div {
        align-items: center;
        background-color: var(--bg);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        height: 1.25rem;
        position: relative;
        width: 1.25rem;
    }

    .circle-start, .circle-end {
        background-color: var(--clr);
        border-radius: 50%;
        box-shadow: 0 0 .125rem var(--clr), 0 0 .25rem var(--clr);
        height: .25rem;
        position: absolute;
        left: .625rem;
        top: .625rem;
        width: .25rem;
    }

    .circle-start {
        transform: rotate(0deg) translateY(-.6875rem);
    }

    .circle-end {
        transform: rotate(360deg) translateY(-.6875rem);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.to-top {
    align-items: center;
    background-color: var(--orange-50);
    border-radius: 50%;
    bottom: 1rem;
    color: var(--orange-90);
    cursor: pointer;
    display: none;
    font-size: 1.5rem;
    height: 2rem;
    justify-content: center;
    opacity: 0;
    position: fixed;
    right: 1rem;
    transition: opacity 0.25s, display 0.25s;
    transition-behavior: allow-discrete;
    width: 2rem;
    z-index: 999;

    &.show {
        display: flex;
        opacity: 1;
    }

    &.dev {
        bottom: 3rem;
    }
}
