.article-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-block-start: 4rem;
    padding: 2rem;

    .article {
        background-color: var(--orange-20);
        border-radius: 1rem;
        display: flex;
        gap: 1rem;
        height: 8rem;

        .infos {
            line-height: 1.25;
            padding: 1rem;

            .article-title {
                font-size: 1.5rem;
                font-weight: 300;
            }
        }

        .backdrop {
            height: 100%;
            margin-inline-start: auto;

            img {
                aspect-ratio: 16/9;
                border-radius: 0 1rem 1rem 0;
                height: 100%;
            }
        }
    }
}

.article-author {
    font-weight: 300;
}

.article-dates {
    display: flex;
    gap: 1rem;
    font-size: .875rem;

    .article-date {
        color: var(--ardoise-30);
        font-weight: 300;
    }
}

.article-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .header {
        aspect-ratio: 16 / 6;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-block-start: 4rem;
        padding: 2rem;
        position: relative;
        width: 100%;

        .backdrop {
            bottom: -5rem;
            left: -5rem;
            mask-image: linear-gradient(to bottom, #000 95%, #ffffff00 100%);
            position: absolute;
            right: -5rem;
            top: -5rem;
            z-index: -1;

            img {
                height: 100%;
                object-fit: cover;
                width: 100%;
            }
        }
    }

    .content {
        border: 2px dashed var(--orange-20);
        font-size: 1.25rem;
        line-height: 1.5;
        padding: 2rem;
    }
}