.contact, .profile, .series-search, .series-show {
    margin-block: auto;
    margin-inline: auto;
    width: min(60rem, 80%);

    h1 {
        color: var(--ardoise-10);
        font-size: 2rem;
        margin-block: 1rem;
        text-align: center;
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-block: auto;
        margin-inline: auto;
        width: 100%;

        .form-row {
            display: flex;
            flex-direction: row;
            gap: 1rem;

            &:has(.form-field.full-width) {
                flex-direction: column;
            }

            .form-field {
                flex-shrink: 0;
                flex-grow: 1;

                &:has(select) {
                    max-width: calc(50% - 0.5rem);
                    flex-shrink: 0;
                    flex-grow: 1;
                }

                &.full-width {
                    width: 100%;

                    &:has(select) {
                        max-width: unset;
                        width: 100%;
                    }
                }

                input[type="date"],
                input[type="email"],
                input[type="number"],
                input[type="search"],
                input[type="text"],
                input[type="url"],
                textarea {
                    appearance: none;
                    background-color: var(--ardoise-80);
                    border: 1px solid var(--ardoise-50);
                    border-radius: .25em;
                    color: var(--ardoise-10);
                    padding-block: .25rem;
                    padding-inline: .5rem;
                    width: 100%;
                }

                textarea {
                    min-height: 10rem;
                    resize: vertical;
                }

                label:has(select),
                label:has(input[type="date"]),
                label:has(input[type="search"]),
                label:has(input[type="text"]) {
                    align-items: flex-start;
                    display: flex;
                    flex-direction: column;
                    gap: .25rem;
                }

                label:has(input[type=file]) {
                    gap: 1rem;
                    width: 100%;

                    &.drop-zone {
                        align-items: flex-start;
                        background-color: var(--ardoise-80);
                        border-radius: 0.5rem;
                        border: 2px dashed;
                        display: flex;
                        justify-content: flex-start;
                        padding: 1rem;

                        &:hover {
                            background-color: var(--ardoise-70);
                            border-color: var(--ardoise-50);
                        }
                    }

                    .vich-image {
                        display: flex;
                        flex-direction: column;
                        flex-grow: 1;
                        gap: 1rem;

                        input[type=file]::file-selector-button {
                            background-color: var(--ardoise-80);
                            border: 1px solid var(--ardoise-50);
                            border-radius: .25em;
                            color: var(--ardoise-10);
                            cursor: pointer;
                            padding-block: .25rem;
                            padding-inline: 1rem;
                        }

                        div {
                            display: flex;
                            gap: 1rem;

                            label {
                                order: 2;
                            }
                        }

                        img {
                            border-radius: .25rem;
                            height: 10rem;
                            max-width: 100%;
                        }

                        a:not(:has(img)) {
                            background-color: var(--ardoise-80);
                            border: 1px solid var(--ardoise-50);
                            border-radius: 0.25rem;
                            padding-block: 0.25rem;
                            padding-inline: 1rem;
                            margin-inline-start: auto;

                            &:hover {
                                background-color: var(--ardoise-70);
                                border-color: var(--ardoise-40);
                            }
                        }
                    }
                }

                label:has(.keyword-list) {
                    display: flex;
                    flex-direction: column;
                    gap: .25rem;
                    position: relative;
                    width: 100%;

                    .input-group {
                        display: flex;
                        gap:.125rem;
                        width: 100%;

                        .keyword-input {
                            appearance: none;
                            background-color: var(--ardoise-80);
                            border: 1px solid var(--ardoise-50);
                            border-radius: .25em;
                            color: var(--ardoise-10);
                            padding-block: .25rem;
                            padding-inline: .5rem;
                            width: 100%;
                        }

                        .and-or {
                            background-color: var(--ardoise-80);
                            border: 1px solid var(--ardoise-50);
                            border-radius: .25em;
                            color: var(--ardoise-10);
                            display: flex;

                            .and, .or {
                                align-items: center;
                                background-color: var(--ardoise-80);
                                border: none;
                                color: var(--ardoise-10);
                                cursor: pointer;
                                display: flex;
                                justify-content: center;
                                padding-block: .25rem;
                                padding-inline: .5rem;
                                width: 50%;

                                &:hover {
                                    background-color: var(--ardoise-70);
                                    color: var(--ardoise-10);
                                }

                                &.active {
                                    background-color: var(--orange-50);
                                    color: var(--orange-90);
                                }
                            }

                            .and {
                                border-radius: calc(.25rem - 1px) 0 0 calc(.25rem - 1px);
                                border-right: 1px solid var(--ardoise-50);
                            }

                            .or {
                                border-radius: 0 calc(.25rem - 1px) calc(.25rem - 1px) 0;
                            }
                        }
                    }

                    .keyword-list {
                        background-color: var(--ardoise-80);
                        border: 1px solid var(--ardoise-50);
                        display: none;
                        left: 0;
                        max-height: 20rem;
                        overflow-y: auto;
                        position: absolute;
                        top: 3.75rem;
                        width: 100%;
                        z-index: 4;

                        &.show {
                            display: block;
                        }

                        .keyword-item {
                            padding-block: .25rem;
                            padding-inline: .5rem;

                            &:hover {
                                background-color: var(--orange-40);
                                color: var(--orange-90);
                            }
                        }
                    }

                    .form-keywords {
                        background-color: var(--ardoise-80);
                        border: 1px solid var(--ardoise-50);
                        border-radius: .25em;
                        display: none;
                        flex-direction: row;
                        gap: .25rem;
                        flex-wrap: wrap;
                        padding: .25rem;
                        width: 100%;

                        &:has(.keyword) {
                            display: flex;
                        }

                        .keyword {
                            background-color: var(--orange-50);
                            border-radius: .25em;
                            color: var(--orange-90);
                            cursor: pointer;
                            font-weight: 300;
                            padding-block: .125rem;
                            padding-inline: .5rem 1.25rem;
                            position: relative;

                            &:hover {
                                background-color: var(--orange-40);
                                color: var(--orange-90);
                            }

                            .close {
                                font-size: 1rem;
                                font-weight: 900;
                                position: absolute;
                                right: .25rem;
                                top: 0;
                            }
                        }
                    }
                }
            }

            button {
                appearance: none;
                background-color: var(--ardoise-60);
                border: none;
                border-radius: .25em;
                color: var(--ardoise-10);
                cursor: pointer;
                font-size: 1rem;
                font-weight: 300;
                padding-block: .5rem;
                padding-inline: 1rem;
            }

            button[type="submit"] {
                background-color: var(--orange-50);
                color: var(--orange-90);
            }

            &:has(button[type="submit"]) {
                align-items: center;
                justify-content: flex-end;
            }
        }
    }

}

@media (width <= 36rem) {
    .contact, .profile, .series-search {
        margin-block-start: 4rem;
        padding-inline: .25rem;
        width: 100%;

        form {
            max-width: 100%;

            .form-row {
                flex-direction: column !important;

                .form-field {
                    &:has(select) {
                        max-width: 100% !important;
                    }
                }
            }
        }
    }
}