.episode-show {
    header {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        height: calc(calc(100vw - 2rem) * 9 / 16);
        justify-content: flex-end;
        padding: 2rem;
        position: relative;
        width: 100%;

        .still {
            aspect-ratio: 16 / 9;
            inset: -5rem -10rem -10rem -10rem;
            mask-image: linear-gradient(to bottom, #000 80%, #ffffff3c 95%, #ffffff00 100%);
            mask-mode: alpha;
            position: absolute;
            width: calc(100% + 20rem);
            z-index: -1;

            img {
                height: 100%;
                object-fit: cover;
                width: 100%;
            }
        }

        .infos {
            border-radius: 1rem;
            padding: 2rem;
            transition: background-color 0.3s ease, backdrop-filter 0.3s ease;

            h1 {
                font-size: max(3vw, 3vh);
                text-align: right;
            }

            .overview {
                font-size: max(1.2vw, 1.2vh);
                line-height: 1.5;
            }

            &:hover {
                backdrop-filter: blur(5rem);
                background: linear-gradient(to bottom, hsla(from var(--ardoise-90) h s l / .25) 0%, hsla(from var(--ardoise-90) h s l / .75) 100%);
            }
        }

        .navigation {
            display: flex;
            gap: 1rem;
            margin-inline-start: auto;

            .previous-episode, .next-episode {
                justify-content: center;
                width: 3.75rem;

                svg {
                    height: max(2vw, 2vh);
                    width: max(2vw, 2vh);
                }
            }

            .back {
                font-size: max(2vw, 2vh);
                line-height: 1.2;
                padding-inline: 2.5rem;
                width: fit-content;
            }

            > a div {
                align-items: center;
                backdrop-filter: blur(1rem);
                background-color: hsl(from var(--green) h s l / .5);
                border-radius: 5rem;
                box-shadow: 0 0 1rem hsl(0 0% 0% / .25);
                display: flex;
                height: 3.75rem;
                outline: 4px solid hsl(from var(--orange-80) h s l / .25);
                transition: all 150ms ease-in-out;
            }

            > a div:hover {
                background-color: var(--green);
                box-shadow: 0 0 2rem hsl(0 0% 0% / .25);
                outline: 4px solid hsl(from var(--orange-80) h s l / .5);
            }
        }

        .user-episode {
            flex-direction: row;
            height: 3.75rem;
            right: 2rem;
            position: absolute;
            top: 4rem;
            width: 32rem;

            .add-this-episode, .remove-this-episode,
            .select-provider, .select-device, .select-vote,
            .comment-badge,
            .back-to-top, .back-to-series {
                margin-block-start: unset;
            }

            .add-this-episode, .remove-this-episode {
                margin-block-start: 0;

                svg {
                    margin-block-start: unset;
                }
            }

            .remove-this-episode {
                border-radius: 5rem .25rem .25rem 5rem;
            }

            .select-vote,
            .back-to-series {
                border-radius: .25rem 5rem 5rem .25rem;

                svg {
                    margin-block-end: unset;
                }
            }

            .add-this-episode, .remove-this-episode,
            .select-provider, .select-device, .select-vote, .comment-badge {
                height: 3rem;
                width: 100%;
            }

            .select-provider, .select-device, .select-vote {
                position: relative;

                img {
                    border-radius: .25rem;
                    height: 2rem;
                    object-fit: cover;
                    width: 2rem;
                }

                .list {
                    border-radius: 5rem;
                    right: -9rem;
                    top: 3.5rem;
                }
            }

            .comment-badge {
                position: relative;

                .count-badge {
                    right: calc(50% - 1.75rem);
                }
            }
        }

        .user-episode:hover {
            .add-this-episode {
                border-radius: 5rem .25rem .25rem 5rem !important;
            }

            .add-this-episode, .remove-this-episode,
            .select-provider, .select-device, .select-vote {
                overflow: visible;
            }

            .back-to-top, .back-to-series {
                height: 3rem;
                margin-block-start: unset;
                opacity: 1;
                width: 100%;

                svg {
                    height: 2rem;
                    width: 2rem;
                }
            }

            .select-device, .select-vote {
                border-radius: .25rem !important;
            }

            .select-provider, .select-vote {
                display: flex;
                /*font-size: 1.25rem;
                margin-block: unset;*/
            }
        }

        .user-actions {
            left: 2rem;
            position: absolute;
            bottom: 2rem;

            .watch-links {
                background-color: var(--orange);

                .label {
                    font-size: 1.5rem;
                }

                > :last-child {
                    padding-inline-end: 0;
                }

                .watch-link {
                    height: 3rem;

                    img {
                        height: 3rem;
                        width: 3rem;
                    }

                    &:last-child {
                        border-bottom-right-radius: 5rem;
                        border-top-right-radius: 5rem;

                        img {
                            border-bottom-right-radius: 5rem;
                            border-top-right-radius: 5rem;
                        }
                    }

                    .watch-link-tools {
                        background-color: hsla(from var(--ardoise-90) h s l / .8);
                        top: 3rem;

                        .watch-link-name {
                            padding-inline-end: 1rem;
                        }
                    }
                }
            }
        }

        .user-episode:has(.select-vote > svg) {
            .select-device {
                border-radius: .25rem 5rem 5rem .25rem;
            }
        }
    }

    main {
        #series-map-title .title, h3 {
            font-size: max(2vw, 2vh);
            font-weight: bold;
            margin-bottom: 1rem;
        }

        .episodes-comments {
            position: relative;

            &:not(:has(.comment)) {
                display: flex;
            }

            .episode-group:not(:has(.comment)) {
                display: block;
            }
        }

        .guest-stars {
            .wrapper {
                .people {
                    flex-shrink: 0;
                }
            }
        }
    }
}