.episode-show {
    header {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        height: calc(calc(100vw - 2rem) * 9 / 16);
        justify-content: flex-end;
        padding: 2rem;
        position: relative;
        width: 100%;

        .still {
            aspect-ratio: 16 / 9;
            inset: -5rem -5rem -10rem -5rem;
            mask-image: linear-gradient(to bottom, #000 80%, #ffffff00 100%);
            mask-mode: alpha;
            position: absolute;
            width: calc(100% + 10rem);
            z-index: -1;

            img {
                height: 100%;
                object-fit: cover;
                width: 100%;
            }
        }

        .infos {
            border-radius: 1rem;
            padding: 2rem;
            transition: background-color 0.3s ease, backdrop-filter 0.3s ease;

            h1 {
                font-size: max(3vw, 3vh);
                text-align: right;
            }

            .overview {
                font-size: max(1.2vw, 1.2vh);
                line-height: 1.5;
            }

            &:hover {
                backdrop-filter: blur(5rem);
                background: linear-gradient(to bottom, hsla(from var(--ardoise-90) h s l / .25) 0%, hsla(from var(--ardoise-90) h s l / .75) 100%);
            }
        }

        .back {
            align-items: center;
            backdrop-filter: blur(1rem);
            background-color: hsl(from var(--green) h s l / .5);
            border-radius: 5rem;
            display: flex;
            font-size: max(2vw, 2vh);
            height: 3.7rem;
            line-height: 1.2;
            margin-inline-start: auto;
            outline: 4px solid hsl(from var(--orange-80) h s l / .25);
            padding-inline: 2.5rem;
            transition: all 0.3s ease-in-out;
            width: fit-content;

            &:hover {
                background-color: var(--green);
                outline: 4px solid hsl(from var(--orange-80) h s l / .5);
            }
        }
    }

    main {
        #series-map-title .title, h3 {
            font-size: max(2vw, 2vh);
            font-weight: bold;
            margin-bottom: 1rem;
        }

        .episodes-comments:not(:has(.comment)) {
            display: flex;
        }

        .episode-group:not(:has(.comment)) {
            display: block;
        }

        .guest-stars {
            .wrapper {
                .people {
                    flex-shrink: 0;
                }
            }
        }
    }
}