:root {
    --highlight-bg: var(--gradient-ardoise-40);
    --highlight-progress: var(--gradient-ardoise-40);
    --highlight-head: var(--gradient-ardoise-40);
    --highlight-color: var(--gradient-ardoise-90);
    --highlight-duration: 20s;
    --highlight-transition: 300ms;
}

.home {
    container-name: home;
    container-type: inline-size;
    //margin-block-start: 4rem;
    position: relative;

    h1 {
        z-index: 1;
    }

    .presentation {
        font-size: 1.5rem;
        font-weight: 100;
        line-height: 1.25em;
        //margin: 2rem;
    }

    .highlighted-series {
        align-items: center;
        background-color: var(--highlight-bg);
        box-shadow: 0 0 4rem 6rem var(--highlight-bg);
        color: var(--highlight-color);
        display: flex;
        gap: 1rem;
        height: 36vw;
        justify-content: center;
        margin-block-start: 2rem;
        margin-inline: auto;
        transition: background-color var(--highlight-transition), box-shadow var(--highlight-transition);
        width: 90vw;

        .poster {
            flex-shrink: 0;
            height: 36vw;
            opacity: 0;
            rotate: 3deg;
            transition: opacity var(--highlight-transition);
            width: 25vw;

            &.show {
                opacity: 1;
            }

            img {
                border: .75rem solid var(--gradient-orange-90);
                border-radius: .25rem;
                height: 100%;
                object-fit: cover;
                width: 100%;
            }
        }

        .details {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            justify-content: center;
            opacity: 0;
            transition: opacity var(--highlight-transition);

            &.show {
                opacity: 1;
            }

            a {
                color: var(--highlight-color);

                .name {
                    font-size: 2rem;
                    font-weight: 100;
                    line-height: 1.25em;
                    padding-inline: 1rem;
                }
            }

            .overview {
                font-size: 1.1rem;
                font-weight: 100;
                line-height: 1.25em;
                overflow-y: auto;
                max-height: 30vw;
                padding-inline: 1rem;
            }

            .providers {
                flex-shrink: 0;
                overflow-x: auto;

                .wrapper {
                    align-items: center;
                    display: flex;
                    gap: 1rem;
                    justify-content: flex-start;
                    padding-inline: 1rem;

                    .provider {
                        align-items: center;
                        display: flex;
                        flex-shrink: 0;
                        gap: .5rem;
                        height: 4rem;

                        img {
                            border-radius: .25rem;
                            height: clamp(2rem, 5vw, 4rem);
                            object-fit: cover;
                            width: clamp(2rem, 5vw, 4rem);;
                        }

                        .name {
                            font-size: 1.1rem;
                            font-weight: 100;
                            line-height: 1.25em;
                            white-space: nowrap;
                        }
                    }
                }
            }
        }
    }

    .highlight-progress {
        background-color: var(--highlight-progress);
        border-radius: 0 1rem 1rem 0;
        box-shadow: 0 0 3rem 1rem var(--highlight-bg);
        height: 3px;
        left: 0;
        position: absolute;
        top: 1.5rem;
        width: 0;

        &.show {
            transition: width var(--highlight-duration) linear;
            width: 100%;
        }

        .head {
            aspect-ratio: 1;
            background-color: var(--highlight-head);
            border-radius: 50%;
            box-shadow: 0 0 1rem 12px var(--highlight-head);
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;

        }
    }

    @container home (width < 1024px) {
        .highlighted-series {
            flex-direction: column;
            height: auto;
            width: 90vw;

            .poster {
                height: 86.4vw;
                width: 60vw;
            }

            .details {
                height: 48cqi;
                width: 90vw;

                .name {
                    font-size: 3rem;
                    line-height: 1.25em;
                }

                .overview {
                    align-items: flex-start;
                    display: flex;
                    font-size: 1.5rem;
                    max-height: unset;
                    line-height: 1.25em;
                    overflow-y: auto;
                }
            }
        }
    }
}

.series-group {
    align-items: flex-start;
    //background-color: var(--gradient-ardoise-80);
    border-radius: .25rem;
    color: var(--gradient-ardoise-10);
    display: flex;
    flex-direction: column;
    font-weight: 300;
    justify-content: flex-start;
    margin-top: 2rem;
    //padding: 1rem;
    text-align: center;
    transition: background-color .250ms, color .250ms;

    .header {
        align-items: center;
        display: flex;
        gap: 1rem;
        justify-content: flex-start;
        padding-block: 0;
        padding-inline: 0;
        width: 100%;

        .logo {
            height: 2em;
            width: 2em;

            img {
                border-radius: .25rem;
                height: 2rem;
                object-fit: cover;
                width: 2rem;
            }

        }
    }

    .wrapper {
        overflow-x: auto;
        width: 100%;

        .content {
            display: flex;
            gap: .25rem;
            flex-shrink: 0;
            justify-content: flex-start;
            margin: 0 auto;
            padding-block: 1rem;
        }

        .card {
            align-items: flex-start;
            background-color: var(--gradient-ardoise-90);
            border-radius: .25rem;
            color: var(--gradient-ardoise-10);
            display: flex;
            flex-direction: column;
            justify-content: center;

            .poster {
                align-items: center;
                background-color: var(--gradient-ardoise-80);
                border-radius: .25rem .25rem 0 0;
                color: var(--gradient-ardoise-10);
                display: flex;
                height: 15rem;
                justify-content: center;
                position: relative;
                width: 10rem;

                img {
                    border-radius: .25rem .25rem 0 0;
                    height: 15rem;
                    object-fit: cover;
                    width: 10rem;
                }

                .providers {
                    position: absolute;
                    bottom: .5rem;
                    left: .5rem;
                    overflow-x: auto;

                    .provider-content {
                        display: flex;
                        gap: .25rem;

                        .provider {
                            height: 2rem;
                            width: 2rem;

                            img {
                                border-radius: .25rem;
                                height: 100%;
                                object-fit: cover;
                                width: 100%;
                            }
                        }
                    }

                }

                .progress {
                    border: 2px solid var(--gradient-orange-50);
                    height: .5rem;
                    left: 0;
                    position: absolute;
                    bottom: 0;
                    width: 100%;

                    .progress-bar {
                        background: var(--gradient-orange-50);
                        height: .25rem;
                        transition: width 20s linear;
                        width: 0;
                    }
                }

                .favorite {
                    align-items: center;
                    background-color: var(--gradient-ardoise-80-alpha-50);
                    border-radius: .25rem;
                    color: var(--favorite-series);
                    display: flex;
                    height: 2rem;
                    justify-content: center;
                    position: absolute;
                    right: .5rem;
                    top: .5rem;
                    width: 2rem;
                }
            }

            .name {
                align-items: center;
                display: flex;
                font-weight: 100;
                height: 3rem;
                justify-content: center;
                line-height: 1rem;
                width: 10rem;
            }
        }
    }
}