
.movie-index {
    .wrapper {
        align-items: center;
        background-color: var(--gradient-ardoise-80);
        border-radius: .5rem;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
        padding: 1rem;
    }

    .card {
        align-items: center;
        background-color: var(--gradient-ardoise-80-alpha-50);
        border-radius: .5rem;
        display: flex;
        flex-direction: column;
        height: 27rem;
        justify-content: center;
        width: 15rem;

        .poster {
            height: 22rem;
            position: relative;
            width: 15rem;

            img {
                border-radius: .5rem .5rem 0 0;
                height: 100%;
                object-fit: cover;
                width: 100%;
            }

            .favorite {
                align-items: center;
                background-color: var(--gradient-ardoise-80);
                border-radius: .25rem;
                color: var(--gradient-orange-50);
                display: flex;
                font-size: 1.5rem;
                height: 2.5rem;
                justify-content: center;
                position: absolute;
                right: 1rem;
                top: 1rem;
                width: 2.5rem;
            }

            .viewed {
                align-items: center;
                background-color: var(--gradient-ardoise-80);
                bottom: 0;
                position: absolute;
                display: flex;
                font-size: 1.5rem;
                height: 2.5rem;
                justify-content: center;
                width: 100%
            }
        }

        .infos {
            align-items: center;
            display: flex;
            flex-direction: column;
            height: 5rem;
            justify-content: center;
            width: 100%;

            .name {
                color: var(--gradient-orange-50);
                font-size: 1.25rem;
                font-weight: 100;
                margin-bottom: .5rem;
                text-align: center;
            }

            .date {
                color: var(--gradient-ardoise-10);
                font-size: 1rem;
            }
        }
    }
}

.movie-show {
    padding-block-start: 5rem;

    header {
        align-items: stretch;
        display: flex;
        gap: .5rem;

        .poster {
            align-items: center;
            aspect-ratio: 78 / 117;
            background-color: var(--gradient-grey-75-alpha-40);
            border-radius: .5rem;
            display: flex;
            justify-content: center;
            width: 25vw;

            img {
                aspect-ratio: 78 / 117;
                border-radius: .5rem;
                height: auto;
                position: relative;
                width: 100%;
                z-index: -1;
            }
        }

        .infos {
            background-color: var(--gradient-ardoise-90-alpha-20);
            border-radius: 0;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            justify-content: center;
            overflow: hidden;
            padding: 1rem;
            position: relative;
            width: calc(75vw - 3rem);
            z-index: 1;

            .backdrop {
                inset: 0;
                overflow: auto;
                position: absolute;
                z-index: -1;

                img {
                    border-radius: 0;
                    height: auto;
                    object-fit: cover;
                    width: 100%;
                }
            }

            .title {
                display: flex;
                position: relative;
                width: 100%;

                h1 {
                    font-size: clamp(1rem, 5vw, 4rem);
                    font-weight: 100;
                    line-height: clamp(1.1rem, 5vw, 4rem);;
                    margin-block: 0;
                    text-align: left;

                    .localized-name-span {
                        color: var(--gradient-orange-70);
                    }
                }

                .movie-tools {
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    margin-inline-start: auto;
                    position: relative;

                    .movie-tools-click {
                        align-items: center;
                        aspect-ratio: 1;
                        background-color: var(--gradient-ardoise-80);
                        border-radius: .25rem;
                        color: var(--gradient-ardoise-10);
                        cursor: pointer;
                        display: flex;
                        justify-content: center;
                        width: 2rem;
                    }

                    &:hover .movie-tools-menu {
                        display: block;
                    }
                }

                .movie-tools-menu {
                    border-radius: .25rem;
                    display: none;
                    overflow: hidden;
                    position: absolute;
                    right: 0;
                    top: 2rem;
                    z-index: 1;

                    &.active {
                        display: block;
                    }

                    > div {
                        align-items: center;
                        background-color: var(--gradient-ardoise-70);
                        color: var(--gradient-ardoise-10);
                        cursor: pointer;
                        display: flex;
                        font-size: 1rem;
                        font-weight: 300;
                        gap: .5rem;
                        justify-content: flex-start;
                        padding-block: .5rem;
                        padding-inline: 1rem;
                        white-space: nowrap;

                        &:hover {
                            background-color: var(--gradient-orange-50);
                        }
                    }
                }
            }

            .movie-overview {
                background-color: var(--gradient-ardoise-90-alpha-50);
                border-radius: .5rem;
                color: var(--gradient-ardoise-10);
                font-size: 1.25rem;
                padding: 1rem;
            }

            .localized-h4, .additional-h4 {
                color: var(--gradient-orange-70);
                font-weight: 300;

                &.hide {
                    display: none;
                }
            }

            .overviews {
                display: flex;
                flex-direction: column;
                gap: .5rem;
                justify-content: center;
                width: 100%;

                .overview {
                    align-items: center;
                    display: flex;
                    font-size: clamp(1rem, 1vw, 2rem);
                    gap: .5rem;
                    line-height: clamp(1rem, 1.1vw, 2rem);
                    justify-content: flex-start;
                    width: 100%;

                    &.localized, &.additional {
                        border-left: 2px solid var(--gradient-orange-50);
                        color: var(--gradient-orange-80);
                        font-weight: 100;
                        letter-spacing: .05rem;
                        padding-inline-start: .5rem;
                        position: relative;

                        .content {
                            background-color: var(--gradient-ardoise-70-alpha-50);
                            border-radius: .5rem;
                            margin-block-end: unset;
                            padding: .5rem;
                        }

                        &:hover {
                            .tools {
                                opacity: 1;
                            }
                        }

                        .tools {
                            display: flex;
                            flex-direction: column;
                            gap: .25rem;
                            margin-inline-start: auto;
                            opacity: 0;
                            transition: opacity 0.3s ease-in-out;

                            .source, .locale, .edit, .delete {
                                align-items: center;
                                border-radius: .25rem;
                                color: var(--gradient-orange-90);
                                display: flex;
                                font-size: 1rem;
                                font-weight: 300;
                                height: 1.75rem;
                                justify-content: center;
                                width: 1.75rem;

                                img {
                                    border-radius: .25rem;
                                    height: 1.75rem;
                                    object-fit: cover;
                                    width: 1.75rem;
                                }
                            }

                            .source, .locale, .edit {
                                background-color: var(--gradient-orange-50);
                            }

                            .edit, .delete {
                                cursor: pointer;
                            }

                            .delete {
                                background-color: var(--remove-this-series);
                            }
                        }
                    }

                    &.additional {
                        margin-block-end: 1rem;
                    }
                }
            }

            .actions {
                display: flex;
                gap: 1rem;
                justify-content: center;
            }
        }
    }

    main {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-block: 1rem;

        .details {
            display: flex;
            gap: 1rem;
        }

        .movie-details {
            background-color: var(--gradient-ardoise-100-alpha-20);
            border-radius: 0;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            gap: 1rem;
            padding: 1rem;

            > div {
                align-items: center;
                display: flex;

                .label {
                    font-size: 1rem;
                    font-weight: 300;
                    width: 10rem;
                }

                .content {
                    display: flex;
                    font-size: 1rem;
                    font-weight: 100;
                    gap: .25rem;
                }
            }

            .providers {
                .content {
                    display: flex;
                    gap: .5rem;
                    justify-content: center;

                    .provider {
                        align-items: center;
                        background-color: var(--gradient-orange-40);
                        border-radius: .5rem;
                        display: flex;
                        gap: .5rem;
                        padding: .25rem;

                        .logo {
                            aspect-ratio: 1 / 1;
                            border-radius: .25rem .5rem .25rem .25rem;
                            height: 2rem;

                            img {
                                border-radius: .25rem;
                                height: 100%;
                                object-fit: cover;
                                width: 100%;
                            }
                        }
                    }
                }
            }

            .genres {
                .content {
                    .genre {
                        background-color: var(--gradient-orange-40);
                        border-radius: .25rem;
                        color: var(--gradient-orange-90);
                        font-size: 1rem;
                        padding: .125rem .25rem;
                    }
                }
            }

            .release-dates {
                align-items: flex-start;

                .content {
                    flex-direction: column;

                    .release-date {
                        display: flex;
                        gap: .5rem;
                    }
                }
            }

            .recommendations, .cast, .crew {
                align-items: flex-start;
                flex-direction: column;
                gap: 1rem;

                .content {
                    overflow-x: auto;
                    width: 100%;

                    .wrapper {
                        display: flex;
                        gap: .25rem;

                        .item {
                            .poster {
                                align-items: center;
                                aspect-ratio: 78 / 117;
                                background-color: var(--gradient-green-70-alpha-50);
                                border-radius: .5rem;
                                display: flex;
                                height: 10rem;
                                justify-content: center;

                                img {
                                    border-radius: .5rem;
                                    height: 100%;
                                    object-fit: cover;
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }

        .user-details {
            background-color: var(--gradient-ardoise-100-alpha-20);
            border-radius: 0;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            gap: 1rem;
            margin-inside: 0;
            padding: 1rem;
        }

        .movie-collection {
            background-color: var(--gradient-ardoise-100-alpha-20);
            border-radius: 0;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            gap: 1rem;
            margin-inside: 0;
            padding: 1rem;

            label {
                font-size: 1.25rem;
                font-weight: 300;
            }

            .collection {
                display: flex;
                gap: 1rem;
                height: 20rem;
                justify-content: center;

                .poster {
                    align-items: center;
                    aspect-ratio: 78 / 117;
                    background-color: var(--gradient-green-70-alpha-50);
                    border-radius: .5rem;
                    display: flex;
                    height: 100%;
                    justify-content: center;

                    img {
                        border-radius: .5rem;
                        height: 100%;
                        object-fit: cover;
                        width: 100%;
                    }
                }

                .infos {
                    aspect-ratio: 16 / 9;
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;
                    height: 100%;
                    justify-content: center;
                    position: relative;

                    .name {
                        bottom: 1rem;
                        color: var(--gradient-orange-50);
                        font-size: 2rem;
                        font-weight: 100;
                        margin-block: 0;
                        text-align: center;
                        position: absolute;
                        right: 1rem;
                    }

                    .collection-backdrop {
                        inset: 0;
                        overflow: auto;
                        position: absolute;
                        z-index: -1;

                        img {
                            border-radius: .5rem;
                            height: 100%;
                            object-fit: cover;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media (width > 576px) {
    .movie-show {
        header {
            gap: 1rem;

            .infos {
                border-radius: .5rem;

                .backdrop {
                    img {
                        border-radius: .5rem;
                    }
                }
            }
        }

        main {
            .movie-details, .user-details, .movie-collection {
                border-radius: .5rem;
            }
        }
    }
}

@media (width < 1200px) {
    .movie-show {
        main {
            .details {
                flex-direction: column-reverse;

                .movie-details {
                    > div {
                        align-items: flex-start;
                        flex-direction: column;
                        justify-content: center;
                    }
                }
            }

            .movie-collection {
                .collection {
                    .poster {
                    }

                    .infos {
                        aspect-ratio: unset;
                        flex-grow: 1;
                    }
                }
            }
        }
    }
}

@media (orientation: portrait) {
    .movie-show {
        padding-block-start: 5rem;

        header {
            flex-direction: column;

            .poster {
                margin-inline: auto;
                width: 75vw;
            }

            .infos {
                min-height: 25vh;
                width: 100%;

                .backdrop {
                    inset: 0;
                    min-height: 100%;
                    min-width: 100%;
                    overflow: auto;
                    position: absolute;
                    z-index: -1;

                    img {
                        border-radius: .5rem;
                        height: unset;
                        min-height: 100%;
                        min-width: 100%;
                        object-fit: cover;
                        width: unset;
                    }
                }
            }
        }
    }
}