
.movie-index {
    main {
        .wrapper {
            align-items: center;
            background-color: var(--ardoise-100-alpha-20);
            border-radius: .5rem;
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            justify-content: center;
            margin-inline: auto;
            padding: 1rem 0;
            width: round(down, min(100%, 90rem), 16rem);
        }

        .card {
            align-items: center;
            background-color: var(--ardoise-100-alpha-20);
            border-radius: .5rem;
            display: flex;
            flex-direction: column;
            height: 28rem;
            justify-content: center;
            width: 15rem;

            .poster {
                height: 22rem;
                position: relative;
                width: 15rem;

                img {
                    border-radius: .5rem .5rem 0 0;
                    height: 100%;
                    object-fit: cover;
                    width: 100%;
                }

                .favorite {
                    align-items: center;
                    background-color: var(--ardoise-80);
                    border-radius: .25rem;
                    color: var(--orange-50);
                    display: flex;
                    font-size: 1.5rem;
                    height: 2.5rem;
                    justify-content: center;
                    position: absolute;
                    right: 1rem;
                    top: 1rem;
                    width: 2.5rem;
                }

                .viewed {
                    align-items: center;
                    background-color: var(--orange-50-alpha-80);
                    bottom: 0;
                    position: absolute;
                    display: flex;
                    font-size: 1rem;
                    justify-content: center;
                    padding: .5rem;
                    text-align: center;
                    text-wrap: nowrap;
                    text-overflow: ellipsis;
                    text-shadow: 1px 1px 1px var(--ardoise-90);
                    width: 100%;

                    svg {
                        flex-shrink: 0;
                    }
                }
            }

            .infos {
                align-items: center;
                border-radius: 0 0 .5rem .5rem;
                display: flex;
                flex-direction: column;
                height: 6rem;
                justify-content: center;
                width: 100%;

                .name {
                    color: var(--orange-50);
                    font-size: 1rem;
                    font-weight: 100;
                    text-align: center;
                }

                .date {
                    color: var(--ardoise-10);
                    font-size: 1rem;
                    font-weight: 100;
                }
            }
        }
    }

    label:has(select) {
        select {
            margin-inline-start: auto;
            width: unset;
        }

        &::after {
            top: 20%;
        }
    }
}

.movie-show {
    margin-block-start: 4rem;

    header {
        align-items: stretch;
        display: flex;
        gap: .5rem;

        .poster {
            align-items: center;
            aspect-ratio: 78 / 117;
            background-color: var(--grey-75-alpha-40);
            border-radius: .5rem;
            display: flex;
            justify-content: center;
            width: 35vw;

            img {
                aspect-ratio: 78 / 117;
                border-radius: .5rem;
                height: auto;
                position: relative;
                width: 100%;
                z-index: -1;
            }
        }

        .infos {
            background-color: var(--ardoise-90-alpha-20);
            border-radius: 0;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            justify-content: center;
            overflow: hidden;
            padding: 1rem;
            position: relative;
            width: calc(65vw - 3rem);
            z-index: 1;

            .backdrop {
                inset: 0;
                overflow: auto;
                position: absolute;
                z-index: -1;

                img {
                    border-radius: 0;
                    height: 100%;
                    object-fit: cover;
                    width: 100%;
                }
            }

            .title {
                align-items: flex-start;
                background-color: var(--ardoise-90-alpha-50);
                border-radius: .5rem;
                display: flex;
                padding: .5rem;
                position: relative;
                width: 100%;

                h1 {
                    font-size: clamp(1rem, 5vw, 4rem);
                    font-weight: 100;
                    line-height: clamp(1.1rem, 5vw, 4rem);;
                    padding: .5rem;
                    margin-block: 0;
                    text-align: left;

                    .localized-name-span, span {
                        color: var(--orange-70);
                    }
                }

                .movie-tools {
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    margin-inline-start: auto;
                    position: relative;

                    .movie-tools-click {
                        align-items: center;
                        aspect-ratio: 1;
                        background-color: var(--ardoise-80);
                        border-radius: .25rem;
                        color: var(--ardoise-10);
                        cursor: pointer;
                        display: flex;
                        justify-content: center;
                        width: 2rem;
                    }

                    &:hover .movie-tools-menu {
                        display: block;
                    }
                }

                .movie-tools-menu {
                    border-radius: .25rem;
                    display: none;
                    overflow: hidden;
                    position: absolute;
                    right: 0;
                    top: 2rem;
                    z-index: 1;

                    &.active {
                        display: block;
                    }

                    > div {
                        align-items: center;
                        background-color: var(--ardoise-70);
                        color: var(--ardoise-10);
                        cursor: pointer;
                        display: flex;
                        font-size: 1rem;
                        font-weight: 300;
                        gap: .5rem;
                        justify-content: flex-start;
                        padding-block: .5rem;
                        padding-inline: 1rem;
                        white-space: nowrap;

                        &:hover {
                            background-color: var(--orange-50);
                        }
                    }
                }
            }

            .movie-overview {
                background-color: var(--ardoise-90-alpha-50);
                border-radius: .5rem;
                color: var(--ardoise-10);
                font-size: clamp(1rem, 1.5vw, 2rem);
                font-weight: 300;
                gap: .5rem;
                line-height: clamp(1.25rem, 1.875vw, 2.5rem);
                padding: 1rem;
            }

            .localized-h4, .additional-h4 {
                color: var(--orange-70);
                font-weight: 300;

                &.hide {
                    display: none;
                }
            }

            .overviews {
                display: flex;
                flex-direction: column;
                gap: .5rem;
                justify-content: center;
                width: 100%;

                .overview {
                    align-items: center;
                    display: flex;
                    font-size: clamp(1rem, 1vw, 2rem);
                    gap: .5rem;
                    line-height: clamp(1rem, 1.1vw, 2rem);
                    justify-content: flex-start;
                    width: 100%;

                    &.localized, &.additional {
                        backdrop-filter: blur(8px);
                        border-left: 2px solid var(--orange-50);
                        color: var(--orange-90);
                        font-weight: 100;
                        letter-spacing: .05rem;
                        padding-inline-start: .5rem;
                        position: relative;

                        .content {
                            background-color: var(--ardoise-70-alpha-50);
                            border-radius: .5rem;
                            font-size: clamp(1.25rem, 1.25vw, 3rem);
                            line-height: 1.1em;
                            margin-block-end: unset;
                            padding: .5rem;
                        }

                        &:hover {
                            .tools {
                                opacity: 1;
                            }
                        }

                        .tools {
                            display: flex;
                            flex-direction: column;
                            gap: .25rem;
                            margin-inline-start: auto;
                            opacity: 0;
                            transition: opacity 0.3s ease-in-out;

                            .source, .locale, .edit, .delete {
                                align-items: center;
                                border-radius: .25rem;
                                color: var(--orange-90);
                                display: flex;
                                font-size: 1rem;
                                font-weight: 300;
                                height: 1.75rem;
                                justify-content: center;
                                width: 1.75rem;

                                img {
                                    border-radius: .25rem;
                                    height: 1.75rem;
                                    object-fit: cover;
                                    width: 1.75rem;
                                }
                            }

                            .source, .locale, .edit {
                                background-color: var(--orange-50);
                            }

                            .edit, .delete {
                                cursor: pointer;
                            }

                            .delete {
                                background-color: var(--remove-this-series);
                            }
                        }
                    }

                    &.additional {
                        margin-block-end: 1rem;
                    }
                }
            }

            .actions {
                display: flex;
                gap: 1rem;
                justify-content: center;
            }

            form {
                .form-row {
                    .form-field {
                        label {
                            display: flex;
                            flex-direction: column;
                            gap: .125rem;
                        }
                    }
                }
            }
        }
    }

    main {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-block: 1rem;

        .details {
            display: flex;
            flex-direction: column-reverse;
            gap: 1rem;
        }

        .movie-details {
            background-color: var(--ardoise-100-alpha-20);
            border-radius: 0;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            gap: 1rem;
            padding: 1rem;

            .providers {
                .content {
                    align-items: center;
                    display: flex;
                    gap: .5rem;
                    justify-content: center;

                    .provider {
                        align-items: center;
                        background-color: var(--orange-40);
                        border-radius: .5rem;
                        display: flex;
                        gap: .5rem;
                        padding: .25rem .75rem .25rem .25rem;

                        .logo {
                            aspect-ratio: 1 / 1;
                            border-radius: .25rem .5rem .25rem .25rem;
                            height: 2rem;

                            img {
                                border-radius: .25rem;
                                height: 100%;
                                object-fit: cover;
                                width: 100%;
                            }
                        }
                    }
                }
            }

            .genres {
                .content {
                    align-items: center;
                    display: flex;
                    gap: .5rem;
                    justify-content: flex-start;

                    .genre {
                        background-color: var(--orange-40);
                        border-radius: .25rem;
                        color: var(--orange-90);
                        font-size: 1rem;
                        padding: .125rem .25rem;
                    }
                }
            }

            .release-dates {
                align-items: flex-start;

                .content {
                    flex-direction: column;

                    .release-date {
                        display: flex;
                        gap: .5rem;
                        white-space: nowrap;
                    }
                }
            }

            .recommendations, .cast, .crew {
                align-items: flex-start;
                flex-direction: column;
                gap: 1rem;

                .content {
                    overflow-x: auto;
                    width: 100%;

                    .wrapper {
                        display: flex;
                        gap: .25rem;

                        .item {
                            .poster {
                                align-items: center;
                                aspect-ratio: 78 / 117;
                                background-color: var(--green-70-alpha-50);
                                border-radius: .5rem;
                                display: flex;
                                height: 10rem;
                                justify-content: center;

                                img {
                                    border-radius: .5rem;
                                    height: 100%;
                                    object-fit: cover;
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }

            .two-parts {
                display: flex;
                gap: 1rem;
                width: 100%;

                .left, .right {
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    gap: 1rem;
                    /*width: 50%;*/

                    > div {
                        align-items: flex-start;
                        display: flex;

                        .label {
                            font-size: 1rem;
                            font-weight: 300;
                            width: 12rem;
                        }

                        .content {
                            align-items: flex-start;
                            display: flex;
                            flex-wrap: wrap;
                            font-size: 1rem;
                            font-weight: 100;
                            gap: .25rem;

                            .frame {
                                align-items: center;
                                background-color: var(--orange-40);
                                border-radius: .25rem;
                                color: var(--orange-90);
                                display: flex;
                                justify-content: center;
                                padding: .125rem .25rem;

                                img {
                                    border-radius: .25rem;
                                    max-height: 3rem;
                                    max-width: 3rem;
                                    object-fit: cover;
                                }
                            }

                            &.keyword-block {
                                position: relative;

                                .keyword-translation-form {
                                    width: 100%;

                                    label {
                                        display: flex;
                                        flex-direction: column;
                                        gap: .125rem;

                                        .keyword {
                                            background-color: var(--orange-50);
                                            border-radius: .25rem;
                                            padding-inline: .5rem;
                                            width: fit-content;
                                        }

                                        input {
                                            appearance: none;
                                            background-color: var(--orange-30);
                                            border: none;
                                            border-radius: .25rem;
                                            color: var(--ardoise-10);
                                            font-size: 1rem;
                                            font-weight: 300;
                                            padding: .25rem .5rem;
                                        }
                                    }
                                }

                                .keywords {
                                    background-color: var(--ardoise-100-alpha-20);
                                    border-radius: .5rem;
                                    display: flex;
                                    flex-wrap: wrap;
                                    gap: .25rem;
                                    justify-content: center;
                                    padding: 1rem;

                                    .keyword {
                                        background-color: var(--green-50);
                                        border-radius: .25rem;
                                        color: var(--ardoise-0);
                                        font-size: 1rem;
                                        font-weight: 300;
                                        padding: .125rem .5rem;

                                        &.missing {
                                            background-color: var(--orange-50);
                                            cursor: pointer;

                                            &:hover {
                                                background-color: var(--orange-60);
                                            }
                                        }
                                    }
                                }
                            }

                            &:has(img) {
                                align-items: center;
                            }
                        }

                        .add {
                            align-items: center;
                            background-color: var(--orange-40);
                            border-radius: 50%;
                            color: var(--orange-90);
                            cursor: pointer;
                            display: flex;
                            height: 2rem;
                            justify-content: center;
                            margin-inline-start: auto;
                            width: 2rem;
                        }
                    }
                }
            }
        }

        .not-found {
            align-items: center;
            background-color: var(--remove-this-series);
            border-radius: .5rem;
            color: var(--orange-90);
            display: flex;
            flex-direction: column;
            font-size: 1.5rem;
            gap: 1rem;
            justify-content: center;
            padding: 1rem;

            .label {
                font-size: 1rem;
                font-weight: 300;
            }

            .content {
                font-weight: 100;
            }

            .actions {
                align-items: center;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                justify-content: center;

                .search-movie {
                    align-items: center;
                    display: flex;
                    gap: .5rem;

                    label {
                        align-items: center;
                        display: flex;
                        gap: .5rem;

                        input {
                            appearance: none;
                            background-color: var(--orange-50);
                            border: none;
                            border-radius: .25rem;
                            color: var(--ardoise-90);
                            font-size: 1rem;
                            font-weight: 300;
                            padding: .25rem .5rem;
                        }
                    }
                }

                .delete-movie {
                    button {
                        font-size: 2rem;
                        height: 4rem;
                        padding-inline: 2rem;
                    }
                }

                button {
                    appearance: none;
                    background-color: var(--orange-50);
                    border: none;
                    border-radius: .25rem;
                    color: var(--ardoise-10);
                    cursor: pointer;
                    font-weight: 300;
                    padding: .25rem .5rem;

                    &:hover {
                        background-color: var(--orange-60);
                    }
                }
            }
        }

        .user-details {
            background-color: var(--ardoise-100-alpha-20);
            border-radius: 0;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            gap: 1rem;
            margin-inside: 0;
            padding: 1rem;

            .watch-link-form {
                label {
                    display: flex;
                    flex-direction: column;
                    gap: .125rem;
                }
            }
        }

        .movie-collection {
            background-color: var(--ardoise-100-alpha-20);
            border-radius: 0;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            gap: 1rem;
            padding: 1rem;

            label {
                font-size: 1.25rem;
                font-weight: 300;
            }

            .collection {
                display: flex;
                gap: 1rem;
                height: 20rem;
                justify-content: space-around;

                .collection-poster {
                    align-items: center;
                    background-color: var(--green-70-alpha-50);
                    border-radius: .5rem;
                    display: flex;
                    height: 100%;
                    justify-content: center;

                    img {
                        aspect-ratio: 78 / 117;
                        border-radius: .5rem;
                        height: 100%;
                    }
                }

                .collection-infos {
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;
                    height: 100%;
                    justify-content: center;
                    position: relative;

                    .name {
                        background-color: var(--ardoise-100-alpha-20);
                        border-radius: .25rem;
                        bottom: 2rem;
                        color: var(--orange-50);
                        font-size: 2rem;
                        font-weight: 600;
                        left: 50%;
                        position: absolute;
                        text-wrap: nowrap;
                        transform: translate(-50%, -50%);
                    }

                        img {
                            aspect-ratio: 16 / 9;
                            border-radius: .5rem;
                            height: 100%;
                        }
                }
            }
        }
    }
}

.collection-show {
    padding-block-start: 5rem;

    header {
        align-items: stretch;
        display: flex;
        gap: 1rem;

        .poster {
            align-items: center;
            aspect-ratio: 78 / 117;
            background-color: var(--grey-75-alpha-40);
            border-radius: .5rem;
            display: flex;
            justify-content: center;
            width: 28vw;

            img {
                aspect-ratio: 78 / 117;
                border-radius: .5rem;
                height: auto;
                position: relative;
                width: 100%;
                z-index: -1;
            }
        }

        .infos {
            background-color: var(--ardoise-100-alpha-50);
            border-radius: .5rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            justify-content: center;
            overflow: hidden;
            padding: 1rem;
            position: relative;
            width: calc(72vw - 1rem);
            z-index: 1;

            .backdrop {
                inset: 0;
                overflow: auto;
                position: absolute;
                z-index: -1;

                img {
                    border-radius: .5rem;
                    height: 100%;
                    object-fit: cover;
                    width: 100%;
                }
            }

            .title {
                h1 {
                    background-color: var(--ardoise-100-alpha-50);
                    border-radius: .5rem;
                    color: var(--orange-50);
                    font-size: clamp(1rem, 5vw, 4rem);
                    font-weight: 100;
                    line-height: clamp(1.1rem, 5vw, 4rem);;
                    padding: .5rem;
                    margin-block: 0;
                    text-align: left;

                    .localized-name-span, span {
                        color: var(--orange-70);
                    }
                }
            }

            .movie-overview {
                background-color: var(--ardoise-100-alpha-50);
                border-radius: .5rem;
                color: var(--ardoise-10);
                font-size: 1.25rem;
                padding: 1rem;
            }
        }
    }

    main {
        section {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding-block: 1rem;

            .movie {
                display: flex;
                gap: 1rem;

                .poster {
                    align-items: center;
                    aspect-ratio: 78 / 117;
                    background-color: var(--green-70-alpha-50);
                    border-radius: .5rem;
                    display: flex;
                    justify-content: center;
                    width: 28vw;

                    img {
                        border-radius: .5rem;
                        height: 100%;
                        object-fit: cover;
                        width: 100%;
                    }
                }

                .infos {
                    aspect-ratio: 16 / 9;
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;
                    justify-content: center;
                    padding: 1rem;
                    position: relative;
                    width: calc(72vw - 1rem);

                    .backdrop {
                        inset: 0;
                        position: absolute;
                        z-index: -1;

                        img {
                            border-radius: .5rem;
                            height: 100%;
                            object-fit: cover;
                            width: 100%;
                        }
                    }

                    .title {
                        background-color: var(--ardoise-100-alpha-50);
                        border-radius: .5rem;
                        color: var(--ardoise-10);
                        font-size: 1rem;
                        font-weight: 100;
                        padding: .5rem;

                        span {
                            color: var(--orange-50);
                        }
                    }

                    .movie-overview {
                        background-color: var(--ardoise-100-alpha-50);
                        border-radius: .5rem;
                        color: var(--ardoise-10);
                        font-size: 1rem;
                        font-weight: 100;
                        padding: .5rem;
                    }
                }

            }
        }
    }
}

@media (width < 577px) {
    .movie-index {
        .wrapper {
            padding: 0;
            scroll-snap-type: y mandatory;

            .card {
                height: unset;
                scroll-snap-align: start;
                width: 95vw;

                .poster {
                    aspect-ratio: 77 / 114;
                    height: unset;
                    width: 95vw;

                    img {
                        aspect-ratio: 77 / 114;
                        object-fit: cover;
                        width: 100%;
                    }
                }

                .infos {
                    width: 100%;
                }
            }
        }
    }
}

@media (width > 576px) {
    .movie-show {
        header {
            gap: 1rem;

            .infos {
                border-radius: .5rem;

                .backdrop {
                    img {
                        border-radius: .5rem;
                    }
                }
            }
        }

        main {
            .movie-details, .user-details, .movie-collection {
                border-radius: .5rem;
            }
        }
    }
}

@media (width < 1024px) {
    .movie-show {
        main {
            .movie-collection {
                .collection {
                    align-items: center;
                    flex-direction: column;
                    height: unset;

                    .poster {
                        width: 50vw;
                    }

                    .infos {
                        height: 50vw;
                    }
                }
            }
        }
    }
}

@media (width < 1200px) {
    .movie-show {
        main {
            .details {

                .movie-details {
                    > div {
                        align-items: flex-start;
                        flex-direction: column;
                        justify-content: center;
                    }
                }
            }
        }
    }
}

@media (width < 1024px) {
    @media (orientation: portrait) {
        .movie-show {
            padding-block-start: 5rem;

            header {
                flex-direction: column;

                .poster {
                    margin-inline: auto;
                    width: 75vw;
                }

                .infos {
                    min-height: 25vh;
                    width: 100%;

                    .backdrop {
                        inset: 0;
                        min-height: 100%;
                        min-width: 100%;
                        overflow: auto;
                        position: absolute;
                        z-index: -1;

                        img {
                            border-radius: .5rem;
                            height: unset;
                            min-height: 100%;
                            min-width: 100%;
                            object-fit: cover;
                            width: unset;
                        }
                    }
                }
            }
        }
    }
}