.series-search {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    margin-block-end: 1rem;
    margin-block-start: 14rem;
    /*min-height: calc(100dvh - 8rem);*/
    /*position: relative;*/
    width: 100%;

    h1 {
        backdrop-filter: blur(8px);
        background-color: hsl(from var(--orange) h s l /.5);
        border-radius: 5rem;
        left: 1rem;
        margin-block: 0;
        padding-block: 1rem;
        padding-inline: 2rem;
        position: fixed;
        top: 5rem;
        z-index: 2;
    }

    .form {
        backdrop-filter: blur(8px);
        background-color: hsl(from var(--orange) h s l /.5);
        border-radius: 1rem;
        gap: 0;
        max-width: 32rem;
        padding-block: 1rem .5rem;
        padding-inline: 2rem;
        position: fixed;
        right: 1rem;
        top: 5rem;
        width: unset;
        z-index: 2;

        .magnify {
            display: none;
        }

        &:has(.folder.folded) {
            .magnify {
                align-items: center;
                background-color: var(--orange-50);
                border-radius: 50%;
                color: var(--orange-90);
                cursor: pointer;
                display: flex;
                height: 3rem;
                justify-content: center;
                position: fixed;
                right: 0;
                top: 6rem;
                width: 3rem;

                &:hover {
                    background-color: var(--orange-40);
                    color: var(--ardoise-10);
                }

                svg {
                    height: 2rem;
                    width: 2rem;
                }
            }
        }

        .folder {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .form-row {
                background-color: hsla(from black h s l / .5);
                border-radius: .5rem;
                flex-direction: column;
                padding: .5rem 1rem;

                &:has(button[type="submit"]) {
                    align-items: flex-end;
                    background-color: transparent;
                    padding: .5rem 0 0 0;
                }

                button[type="submit"] {
                    background-color: var(--green-50);
                    border: none;
                    border-radius: 5rem;
                    color: var(--ardoise-10);
                    cursor: pointer;
                    font-size: 1rem;
                    font-weight: 600;
                    padding-block: .5rem;
                    padding-inline: 2rem;

                    &:hover {
                        background-color: var(--green-40);
                    }
                }
            }

            .hide-search {
                cursor: pointer;
                height: 1rem;
                position: absolute;
                right: .5rem;
                top: .5rem;
                width: 1rem;

                svg {
                    height: 1rem;
                    width: 1rem;
                }
            }

            &.folded {
                border-radius: 50%;
                height: 3rem;
                overflow: hidden;
                padding: 0;
                position: absolute;
                top: 5rem;
                width: 3rem;

                .hide-search, .form-row {
                    display: none;
                }
            }
        }

        .form-row.dismissed {
            .form-field {
                display: none;
            }
        }

        .form-row-name {
            align-items: center;
            border-bottom: 2px solid var(--orange-30-alpha-75);
            display: flex;

            .toggler {
                align-items: center;
                border-radius: .25rem;
                display: flex;
                height: 1.5rem;
                justify-content: center;
                margin-inline-start: auto;
                position: relative;
                width: 1.5rem;

                &:hover {
                    background-color: var(--orange-50);
                    color: var(--orange-90);

                    .toggler-menu {
                        display: flex;
                    }
                }

                .toggler-menu {
                    background-color: var(--orange-30);
                    border-radius: .25rem;
                    color: var(--orange-70);
                    display: none;
                    flex-direction: column;
                    overflow: hidden;
                    position: absolute;
                    right: 0;
                    top: 1.5rem;
                    z-index: 1;

                    .toggler-menu-item {
                        padding-inline: .5rem;

                        &:hover {
                            background-color: var(--orange-50);
                            color: var(--orange-90);
                        }
                    }
                }
            }
        }

        .form-row .form-field label input[type="search"] {
            appearance: none;
            background-color: var(--ardoise-80);
            border: 1px solid var(--ardoise-50);
            border-radius: 5em;
            color: var(--ardoise-10);
            padding-block: .5rem;
            padding-inline: 1rem;
            width: 15rem;
        }

        .form-row .form-field label input[inputmode="decimal"] {
            appearance: none;
            background-color: var(--ardoise-80);
            border: 1px solid var(--ardoise-50);
            border-radius: 5em;
            color: var(--ardoise-10);
            padding-block: .5rem;
            padding-inline: 1rem;
            width: 6rem;
        }

        .result-infos {
            display: flex;
            flex-direction: column;
            font-size: 0.875rem;
            font-weight: 300;
            margin-block-start: 0.5rem;
            text-align: center;

            .pages {
                align-items: center;
                display: flex;
                gap: .25rem;
                justify-content: flex-start;
                margin-inline: auto;
                max-width: 100%;
                overflow-x: auto;
                padding-block-end: .5rem;
                scroll-snap-type: x mandatory;

                div.current-page, button {
                    appearance: none;
                    background-color: var(--green-50);
                    border-radius: 5em;
                    color: var(--ardoise-10);
                    font-size: 1rem;
                    font-weight: 300;
                    padding-block: .125rem;
                    padding-inline: 1rem;
                    scroll-snap-align: start;
                }

                div.current-page {
                    background-color: var(--orange-40);
                    line-height: normal;
                }

                button {
                    cursor: pointer;
                }
            }
        }
    }

    .series-search-result {
        align-items: center;
        color: var(--ardoise-10);
        display: flex;
        flex-direction: column;
        gap: 1rem;
        font-weight: 300;
        justify-content: flex-start;
        text-align: center;

        .wrapper {
            display: flex;
            flex-shrink: 0;
            flex-wrap: wrap;
            gap: .5rem;
            justify-content: center;
            margin-inline: auto;
            width: 100%;

            .card {
                align-items: flex-start;
                background-color: var(--ardoise-90);
                border-radius: .25rem;
                color: var(--ardoise-10);
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 15rem;

                a {
                    height: 100%;
                    width: 100%;
                }

                .poster {
                    aspect-ratio: 2 / 3;
                    position: relative;
                    width: 100%;

                    &:not(:has(img)) {
                        align-items: center;
                        background-color: var(--ardoise-80);
                        border-radius: .5rem .5rem 0 0;
                        color: var(--ardoise-10);
                        display: flex;
                        justify-content: center;
                    }

                    img {
                        border-radius: .5rem .5rem 0 0;
                        height: 100%;
                        object-fit: cover;
                        width: 100%;
                    }
                }

                .name {
                    align-items: center;
                    display: flex;
                    font-weight: 100;
                    height: 3rem;
                    justify-content: center;
                    line-height: 1rem;
                    width: 100%;

                    &.added {
                        background-color: var(--orange-40);
                        border-radius: 0 0 .25rem .25rem;
                        color: var(--orange-90);
                        font-weight: 300;
                    }
                }
            }
        }
    }
}

@media (width <= 54rem) {
    .series-search {
        .form {
            max-width: 19rem;

            .form-row .form-field:has(input[inputmode="decimal"]) {
                display: flex;
                justify-content: end;
            }
        }
    }
}