//noinspection CssInvalidFunction
.scroll-watcher {
    height: .5rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--orange-50);
    scale: 0 1;
    animation: scroll-watcher linear;
    animation-timeline: scroll();
    transform-origin: left;
}

@keyframes scroll-watcher {
    to {
        scale: 1 1;
    }
}

h2 {
    background-color: var(--orange-50);
    border-radius: .25rem;
    color: var(--orange-90);
    padding: .5rem 1rem;
}

/* Pages: series TMDB & user series */
.series-show {
    container: series-show / inline-size;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-block-start: 3rem;
    width: 100%;

    h3 {
        font-size: 1.5rem;
        font-weight: 100;
        line-height: 1.25em;
        margin-block: 1rem .5rem;
    }

    .header {
        align-items: stretch;
        display: flex;
        gap: 1rem;
        justify-content: flex-start;

        .poster {
            align-items: center;
            aspect-ratio: 78 / 117;
            background-color: var(--ardoise-80);
            border-radius: .5rem;
            color: var(--ardoise-10);
            display: flex;
            flex-shrink: 0;
            justify-content: center;
            position: relative;
            width: 40vw;

            a {
                align-items: center;
                display: flex;
                height: 100%;
                justify-content: center;
                width: 100%;
            }

            img {
                border-radius: .5rem;
                height: 100%;
                object-fit: cover;
                width: 100%;
            }

            div {
                font-size: 2vw;
            }

            .progress {
                background-color: var(--orange-20);
                border: .125rem solid var(--orange-50);
                border-radius: 999px;
                bottom: 1rem;
                color: transparent;
                height: 1rem;
                left: 1rem;
                position: absolute;
                right: 1rem;
                width: calc(100% - 2rem);

                .progress-bar {
                    background-color: var(--orange-50);
                    border-radius: 999px;
                    height: 100%;
                    width: 0;

                    &.set {
                        transition: width 2s ease-out;
                    }
                }
            }
        }

        .infos {
            align-items: flex-start;
            background-color: var(--ardoise-100-alpha-20);
            border-radius: .5rem;
            display: flex;
            flex-direction: column;
            gap: clamp(.5rem, 1vw, 2rem);
            justify-content: center;
            min-height: 30vw;
            padding: 1rem;
            position: relative;
            width: calc(60vw - 3rem);

            &.light {
                color: #f7f7f7; /*var(--orange-80);*/
            }

            &.dark {
                color: #030303; /*var(--ardoise-90);*/
            }

            h1 {
                line-height: 1.25em;
            }

            .name {
                align-items: flex-start;
                display: flex;
                position: relative;
                width: 100%;

                h1 {
                    font-size: clamp(1rem, 5vw, 4rem);
                    font-weight: 100;
                    line-height: clamp(1.1rem, 5vw, 4rem);;
                    margin-block: 0;
                    text-align: left;

                    .localized-name-span {
                        color: var(--orange-70);
                    }
                }

                .series-tools {
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    margin-inline-start: auto;
                    position: relative;

                    .series-tools-click {
                        align-items: center;
                        aspect-ratio: 1;
                        background-color: var(--ardoise-100-alpha-20);
                        border-radius: .25rem;
                        color: var(--ardoise-10);
                        cursor: pointer;
                        display: flex;
                        justify-content: center;
                        width: 2rem;
                    }

                    &:hover .series-tools-menu {
                        display: block;
                    }
                }

                .series-tools-menu {
                    border-radius: .25rem;
                    display: none;
                    overflow: hidden;
                    position: absolute;
                    right: 0;
                    top: 2rem;
                    z-index: 1;

                    &.active {
                        display: block;
                    }

                    > div {
                        align-items: center;
                        background-color: var(--grey-85);
                        color: var(--ardoise-10);
                        cursor: pointer;
                        display: flex;
                        font-size: 1rem;
                        font-weight: 300;
                        gap: .5rem;
                        justify-content: flex-start;
                        padding-block: .5rem;
                        padding-inline: 1rem;
                        white-space: nowrap;

                        &:hover {
                            background-color: var(--orange-50);
                        }
                    }
                }
            }

            .series-overview {
                align-items: center;
                display: flex;
                font-size: clamp(1rem, 1.5vw, 2rem);
                font-weight: 300;
                gap: .5rem;
                line-height: clamp(1.25rem, 1.875vw, 2.5rem);
                justify-content: flex-start;
            }

            .localized-h4, .additional-h4 {
                background-color: var(--orange-20);
                color: var(--orange-70);
                font-size: clamp(1.25rem, 1.875vw, 2.5rem);
                font-weight: 300;
                padding-block: .25rem;
                padding-inline: .5rem;

                &.hide {
                    display: none;
                }
            }

            .overviews {
                display: flex;
                flex-direction: column;
                gap: .5rem;
                justify-content: center;
                width: 100%;

                .overview {
                    align-items: center;
                    display: flex;
                    font-size: clamp(1rem, 1.5vw, 2rem);
                    gap: .5rem;
                    line-height: clamp(1.25rem, 1.875vw, 2.5rem);
                    justify-content: flex-start;
                    width: 100%;

                    &.localized, &.additional {
                        color: var(--orange-90);
                        font-weight: 100;
                        letter-spacing: .05rem;
                        position: relative;

                        .content {
                            background-color: var(--ardoise-70-alpha-50);
                            border-radius: .5rem;
                            margin-block-end: unset;
                            padding: .5rem;
                        }

                        &:hover {
                            .tools {
                                opacity: 1;
                            }
                        }

                        .tools {
                            background-color: var(--ardoise-90-alpha-50);
                            border-radius: .25rem;
                            display: flex;
                            flex-direction: column;
                            gap: .5rem;
                            margin-inline-start: auto;
                            opacity: 0;
                            padding: .5rem;
                            position: absolute;
                            right: -2rem;
                            transition: opacity 0.3s ease-in-out;

                            .source, .locale, .edit, .delete {
                                align-items: center;
                                border-radius: .25rem;
                                color: var(--orange-90);
                                display: flex;
                                font-size: 1rem;
                                font-weight: 300;
                                height: 1.75rem;
                                justify-content: center;
                                width: 1.75rem;

                                img {
                                    border-radius: .25rem;
                                    height: 1.75rem;
                                    object-fit: cover;
                                    width: 1.75rem;
                                }
                            }

                            .source, .locale, .edit {
                                background-color: var(--orange-50);
                            }

                            .edit, .delete {
                                cursor: pointer;
                            }

                            .delete {
                                background-color: var(--remove-this-series);
                            }
                        }
                    }
                }
            }
        }

        .updates {
            display: flex;
            overflow-x: auto;
            width: 100%;

            .wrapper {
                align-items: center;
                display: flex;
                flex-shrink: 0;
                gap: .5rem;
                justify-content: flex-start;

                .update {
                    background-color: var(--orange-50);
                    border-radius: .25rem;
                    color: var(--ardoise-10);
                    flex-shrink: 0;
                    font-size: 1rem;
                    font-weight: 300;
                    padding-block: .25rem;
                    padding-inline: .75rem;
                }
            }
        }

        .backdrop {
            height: 100%;
            inset: 0;
            opacity: .25;
            position: absolute;
            width: 100%;
            z-index: -1;

            img {
                border-radius: .5rem;
                height: 100%;
                object-fit: cover;
                width: 100%;
            }
        }

        .series-back {
            display: none;
            position: absolute;
            right: 2rem;
            top: 2rem;

            a {
                align-items: center;
                display: flex;
                flex-direction: column;
                gap: 0.25rem;
                justify-content: center;

                .poster-back {
                    align-items: center;
                    background-color: var(--ardoise-80);
                    border-radius: .25rem;
                    color: var(--ardoise-10);
                    display: flex;
                    height: 9rem;
                    justify-content: center;
                    width: 6rem;

                    img {
                        border-radius: .25rem;
                        height: 9rem;
                        object-fit: cover;
                        width: 6rem;
                    }
                }

                .series-back-link {
                    align-items: center;
                    background-color: var(--ardoise-70-alpha-75);
                    border-radius: .25rem;
                    color: var(--ardoise-10);
                    display: flex;
                    font-size: 1rem;
                    font-weight: 300;
                    gap: .25rem;
                    justify-content: center;
                    line-height: 1rem;
                    padding-block: .25rem;
                    padding-inline: .5rem;
                }
            }
        }

        &:hover .series-back {
            display: flex;
        }

        .backdrops, .logos, .posters {
            align-items: center;
            background-color: var(--ardoise-100-alpha-20);
            border-radius: .5rem;
            display: flex;
            gap: .5rem;
            height: 9rem;
            justify-content: flex-start;
            overflow-x: hidden;

            .wrapper {
                align-items: center;
                display: flex;
                gap: .5rem;
                height: 7.25rem;
                justify-content: flex-start;
                overflow-x: hidden;
                margin-inline: auto;
                padding-inline: 1rem;

                &:hover {
                    overflow-x: auto;
                }
            }

            img {
                border: 2px solid var(--orange-50);
                border-radius: .25rem;
                height: 7rem;
                object-fit: cover;

                &.pointer {
                    cursor: pointer;
                }
            }
        }

        .backdrops {
            width: 100%;

            .other-backdrop {
                aspect-ratio: 16/9;
                border-radius: .25rem;
                height: 7rem;
            }
        }

        .logos {
            width: 100%;

            .wrapper {
                height: unset;
            }

            .other-logo {
                border-radius: .25rem;
                height: 7rem;
                width: auto;
            }
        }

        .posters {
            width: 40vw;

            .other-poster {
                aspect-ratio: 78/117;
                border-radius: .25rem;
                height: 7rem;
            }
        }
    }

    .schedules {
        display: flex;
        flex-direction: column;
        gap: .25rem;
        justify-content: center;
        max-height: 6rem;
        overflow-y: auto;
        padding-inline: 1rem;

        .schedule {
            align-items: center;
            background-color: var(--ardoise-80-alpha-50);
            border-radius: .25rem;
            color: var(--ardoise-10);
            display: flex;
            gap: .5rem;
            justify-content: center;
            padding: .5rem;
            width: 100%;

            .air, .country, .local-air {
                background-color: var(--ardoise-80-alpha-50);
                border-radius: .25rem;
                font-size: 1rem;
                font-weight: 300;
                padding: .25rem .5rem;
            }
        }
    }

    .next-episode {
        align-items: center;
        background-color: var(--ardoise-100-alpha-20);
        border-radius: .25rem;
        color: var(--ardoise-10);
        display: flex;
        gap: .5rem;
        justify-content: center;
        padding: .5rem;
        width: 100%;

        .air-date {
            background-color: var(--ardoise-80-alpha-50);
            border-radius: .25rem;
            font-size: 1rem;
            font-weight: 300;
            padding: .25rem .5rem;
        }
    }

    .content {
        display: flex;
        gap: 1rem;
        margin-block-end: 1rem;

        &.column {
            flex-direction: column;
        }

        .left {
            flex-shrink: 0;
            width: 70%;

            .all-seasons {
                display: flex;
                font-size: 1.5rem;
                font-weight: 100;
                gap: 1rem;
                line-height: 1.25em;
                margin-block: 1rem .5rem;
                padding-inline-start: .5rem;
                width: 100%;

                .season-order {
                    align-items: center;
                    background-color: var(--ardoise-80-alpha-50);
                    border-radius: .25rem;
                    color: var(--ardoise-10);
                    cursor: pointer;
                    display: flex;
                    font-size: .875rem;
                    font-weight: 100;
                    justify-content: center;
                    width: 2.5rem;
                }
            }
        }

        .right {
            .providers {
                overflow-x: auto;

                .wrapper {
                    display: flex;
                    gap: 1rem;

                    .provider {
                        align-items: center;
                        display: flex;
                        flex-shrink: 0;
                        gap: .5rem;
                        justify-content: center;
                        height: 3rem;

                        img {
                            border-radius: .25rem;
                            height: 100%;
                            width: 3rem;
                        }

                    }
                }
            }

            .facts {
                align-items: center;
                display: flex;
                flex-wrap: wrap;
                gap: .5rem;
                justify-content: center;

                .fact {
                    align-items: center;
                    background-color: var(--ardoise-100-alpha-20);
                    border-radius: .25rem;
                    color: var(--ardoise-10);
                    display: flex;
                    gap: .5rem;
                    justify-content: center;
                    padding: .5rem;

                    .fact-label {
                        font-size: 1rem;
                        font-weight: 300;
                    }

                    .fact-content {
                        font-size: 1rem;
                        font-weight: 300;
                    }

                    .networks {
                        display: flex;
                        flex-wrap: wrap;
                        gap: .25rem;
                        justify-content: center;

                        .network-detail {
                            .frame {
                                align-items: center;
                                background-color: var(--ardoise-10);
                                border-radius: .25rem;
                                display: flex;
                                height: 3rem;
                                padding: .5rem;
                                width: 100%;

                                &:hover {
                                    background-color: var(--ardoise-50);
                                }

                                img {
                                    height: 100%;
                                }
                            }
                        }

                    }

                    &.keyword-block {
                        position: relative;

                        .keyword-translation-form {
                            left: unset;
                            right: unset;
                        }
                    }

                    .keywords {
                        display: flex;
                        flex-wrap: wrap;
                        gap: .5rem;
                        justify-content: center;
                        width: 100%;

                        .keyword {
                            align-items: center;
                            background-color: var(--green-50);
                            border-radius: .25rem;
                            color: var(--orange-90);
                            display: flex;
                            font-size: 1rem;
                            font-weight: 300;
                            gap: .25rem;
                            justify-content: center;
                            padding: .125rem .375rem;
                            position: relative;

                            &.missing {
                                background-color: var(--orange-50);
                                cursor: pointer;

                                &:hover {
                                    background-color: var(--orange-60);
                                }
                            }
                        }
                    }
                }

                .broadcast-delay {
                    align-items: center;
                    display: flex;
                    gap: .5rem;

                    label {
                        align-items: center;
                        display: flex;
                        gap: .5rem;

                        input {
                            background-color: var(--orange-20);
                            border: 2px solid var(--orange-50);
                            border-radius: .25rem;
                            color: var(--orange-90);
                            padding-inline: .5rem;
                            width: 4rem;
                        }
                    }

                    .save {
                        background-color: var(--orange-50);
                        border: 2px solid var(--orange-80);
                        border-radius: .25rem;
                        color: var(--ardoise-10);
                        cursor: pointer;
                        font-size: 1rem;
                        font-weight: 300;
                        padding: .125rem .5rem;

                        &:hover {
                            background-color: var(--orange-40);
                            border: 2px solid var(--orange-60);
                        }
                    }
                }
            }
        }

        .lists {
            ul {
                display: flex;
                flex-direction: column;
                gap: .25rem;
                padding-inline-start: 2rem;

                li {
                    background-color: var(--ardoise-100-alpha-50);
                    border-radius: .25rem;
                    list-style: none;
                    padding-block: .25rem;
                    padding-inline: 1rem;
                    transition: background-color 0.15s linear;

                    span {
                        color: var(--orange-50);
                    }

                    &:hover {
                        background-color: var(--ardoise-70-alpha-50);
                    }
                }
            }
        }

        .series-search-result {
            width: 100%;

            .header {
                .pages {
                    flex-wrap: wrap;
                    gap: .5rem;
                    justify-content: center;
                    overflow-x: unset;
                    width: 100%;

                    .page {
                        background-color: var(--ardoise-60);
                        border: 2px solid var(--orange-10);
                        border-radius: .25rem;
                        color: var(--ardoise-10);
                        height: 2rem;
                        transition: all 0.2s linear;
                        width: 2rem;

                        &:hover {
                            border: 2px solid var(--orange-50);
                            transform: scale(1.5);
                            z-index: 3;
                        }

                        &:has(+ *:hover),
                        &:hover + * {
                            border: 2px solid var(--orange-50-alpha-50);
                            transform: scale(1.30);
                            z-index: 2;
                        }

                        &:has(+ * + *:hover),
                        &:hover + * + * {
                            transform: scale(1.10);
                            z-index: 1;
                        }

                        &.active {
                            background-color: var(--green-50);
                        }

                        a {
                            align-items: center;
                            display: flex;
                            height: 100%;
                            justify-content: center;
                            width: 100%;
                        }
                    }
                }
            }

            .wrapper {
                flex-wrap: wrap;
                margin-inline: auto;
                width: round(down, 100%, 12.25rem);

                .card {
                    a {
                        .name {
                            &.added {
                                background-color: var(--orange-50);
                                border-radius: 0 0 .25rem .25rem;
                                color: var(--ardoise-100);
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }
    }

}

.seasons {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;

    &.reverse {
        flex-direction: column-reverse;
    }

    .season {
        align-items: flex-start;
        display: flex;
        gap: .5rem;
        height: 15rem;
        justify-content: flex-start;
        padding-inline: 1rem;
        width: 100%;

        .poster {
            align-items: center;
            background-color: var(--ardoise-100-alpha-20);
            border-radius: .25rem;
            color: var(--green-10);
            display: flex;
            flex-shrink: 0;
            height: 100%;
            justify-content: center;
            position: relative;
            transition: width 0.3s ease-in-out;
            width: 10rem;

            img {
                border-radius: .25rem;
                height: 100%;
                object-fit: cover;
                width: 100%;
            }

            .number {
                align-items: center;
                background-color: var(--orange-50);
                border-radius: .25rem;
                bottom: .5rem;
                color: var(--ardoise-10);
                display: flex;
                font-size: 1.5rem;
                font-weight: 500;
                height: 2rem;
                justify-content: center;
                position: absolute;
                right: .5rem;
                transition: font-size 0.3s ease-in-out, height 0.3s ease-in-out, width 0.3s ease-in-out;
                width: 2rem;

                &.watched {
                    background-color: var(--user-episode-actions);
                }
            }

            .finale {
                align-items: center;
                background-color: var(--orange-50);
                border-radius: .25rem;
                color: var(--ardoise-10);
                display: flex;
                font-size: 1.5rem;
                font-weight: 500;
                justify-content: center;
                left: .5rem;
                max-width: calc(100% - 1rem);
                padding-block: .25rem;
                padding-inline: .5rem;
                position: absolute;
                text-align: center;
                top: .5rem;

                &.watched {
                    background-color: var(--user-episode-actions);
                }
            }
        }

        .infos {
            background-color: var(--ardoise-100-alpha-20);
            border-radius: .25rem;
            color: var(--ardoise-10);
            display: flex;
            flex-direction: column;
            gap: .5rem;
            height: 15rem;
            justify-content: flex-start;
            overflow-y: auto;
            padding-block: 1rem;
            padding-inline: 1rem;
            width: 100%;

            .season__overview {
                font-size: 1rem;
                font-weight: 300;
                line-height: 1.25em;
            }

            .season__air-date, .season__episodes, .season__runtime {
                font-size: 1rem;
                font-weight: 300;
            }

            .season__episodes {
                display: flex;
                gap: 1rem;

                .watched {
                    display: flex;
                    gap: .5rem;
                }
            }
        }
    }
}

.quick-episodes {
    align-items: flex-start;
    background-color: var(--ardoise-100-alpha-20);
    border-radius: .25rem;
    display: flex;
    flex-wrap: wrap;
    gap: .25rem;
    justify-content: center;
    overflow-x: auto;
    padding: .5rem;
    width: 100%;

    .quick-episode {
        align-items: center;
        background-color: var(--ardoise-80-alpha-50);
        border: 2px solid var(--ardoise-100-alpha-50);
        border-radius: .25rem;
        color: var(--ardoise-10);
        cursor: pointer;
        display: flex;
        gap: .5rem;
        justify-content: center;
        padding: .25rem;
        transition: transform 0.3s linear, border 0.3s linear;
        width: 2rem;

        &.watched {
            background-color: var(--user-episode-actions);
        }

        &:hover {
            border: 2px solid var(--orange-50);
            transform: scale(1.5);
            z-index: 3;
        }

        &:has(+ *:hover),
        &:hover + * {
            border: 2px solid var(--orange-50-alpha-50);
            transform: scale(1.30);
            z-index: 2;
        }

        &:has(+ * + *:hover),
        &:hover + * + * {
            transform: scale(1.10);
            z-index: 1;
        }
    }

    .future-episode {
        align-items: center;
        background-color: var(--ardoise-40-alpha-50);
        border: 2px solid var(--ardoise-100-alpha-50);
        border-radius: .25rem;
        color: var(--ardoise-30);
        display: flex;
        gap: .5rem;
        justify-content: center;
        padding: .25rem;
        pointer-events: none;
        width: 2rem;
    }

}

.episodes {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;

    .episode {
        align-items: flex-start;
        display: flex;
        gap: .5rem;
        height: 15rem;
        justify-content: flex-start;
        padding-inline: 1rem;
        width: 100%;

        .still {
            align-items: center;
            background-color: var(--ardoise-100-alpha-20);
            border-radius: .25rem;
            color: var(--green-10);
            display: flex;
            flex-shrink: 0;
            height: 100%;
            justify-content: center;
            position: relative;
            transition: width 0.3s ease-in-out;
            width: 10rem;

            img {
                border-radius: .25rem;
                height: 100%;
                object-fit: cover;
                width: 100%;
            }

            .number {
                align-items: center;
                background-color: var(--orange-50);
                border-radius: .25rem;
                bottom: .5rem;
                color: var(--ardoise-10);
                display: flex;
                font-size: 1.5rem;
                font-weight: 500;
                height: 2rem;
                justify-content: center;
                position: absolute;
                right: .5rem;
                transition: font-size 0.3s ease-in-out, height 0.3s ease-in-out, width 0.3s ease-in-out;
                width: 2rem;

                &.watched {
                    background-color: var(--user-episode-actions);
                }
            }

            .finale {
                align-items: center;
                background-color: var(--orange-50);
                border-radius: .25rem;
                color: var(--ardoise-10);
                display: flex;
                font-size: 1.5rem;
                font-weight: 500;
                justify-content: center;
                left: .5rem;
                max-width: calc(100% - 1rem);
                padding-block: .25rem;
                padding-inline: .5rem;
                position: absolute;
                text-align: center;
                top: .5rem;

                &.watched {
                    background-color: var(--user-episode-actions);
                }
            }
        }

        .infos {
            background-color: var(--ardoise-100-alpha-20);
            border-radius: .25rem;
            color: var(--ardoise-10);
            display: flex;
            flex-direction: column;
            gap: .5rem;
            height: 15rem;
            justify-content: flex-start;
            overflow-y: auto;
            padding-block: 1rem;
            padding-inline: 1rem;
            position: relative;
            scroll-behavior: smooth;
            width: 100%;

            .episode-name {
                align-items: center;
                display: flex;
                font-size: 2rem;
                gap: 1rem;
                justify-content: flex-start;
                line-height: 1.1em;
                position: relative;

                .name {
                    flex-shrink: 0;
                    font-weight: 100;
                }

                .substitute {
                    background-color: var(--orange-40);
                    border-radius: 0.25rem;
                    font-weight: 300;
                    padding-block: 0.25rem;
                    padding-inline: 1rem;

                    &.watched {
                        background-color: var(--user-episode-actions);
                    }
                }

                .edit {
                    align-items: center;
                    background-color: var(--orange-50);
                    border: 2px solid var(--orange-90);
                    border-radius: 50%;
                    color: var(--orange-90);
                    cursor: pointer;
                    display: none;
                    flex-shrink: 0;
                    font-size: 1rem;
                    height: 2rem;
                    justify-content: center;
                    margin-inline-start: auto;
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 2rem;
                }

                &:hover {
                    .edit {
                        display: flex;
                    }
                }

                form {
                    display: flex;
                    gap: .5rem;
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 80%;

                    input {
                        background-color: var(--ardoise-80);
                        border: 2px solid var(--orange-50);
                        border-radius: .25rem;
                        color: var(--ardoise-10);
                        flex-grow: 1;
                        font-size: 1rem;
                        font-weight: 100;
                        height: 2rem;
                        padding-inline: .5rem;
                    }

                    button {
                        align-items: center;
                        background-color: var(--orange-50);
                        border: 2px solid var(--orange-90);
                        border-radius: .25rem;
                        color: var(--orange-90);
                        cursor: pointer;
                        display: flex;
                        font-size: 1rem;
                        font-weight: 300;
                        height: 2rem;
                        justify-content: center;
                        padding-inline: .5rem;
                    }
                }
            }

            .overview {
                border-left: 2px solid var(--orange-50);
                font-size: 1rem;
                font-weight: 300;
                padding-inline-start: .5rem;

                &.us {
                    border-left: 2px solid var(--green-50);
                    position: relative;

                    &:hover .translate {
                        display: flex;
                    }

                    .translate {
                        align-items: center;
                        background-color: var(--green-50);
                        border-radius: .25rem;
                        color: var(--green-90);
                        cursor: pointer;
                        display: none;
                        font-size: 1.25rem;
                        font-weight: 300;
                        height: 2rem;
                        justify-content: center;
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: 2rem;
                    }

                    svg {
                        cursor: pointer;
                    }
                }
            }

            .air-date, .episodes, .runtime {
                font-size: 1rem;
                font-weight: 300;
            }

            .episodes {
                display: flex;
                gap: 1rem;

                .watched {
                    display: flex;
                    gap: .5rem;
                }
            }

            .guest-stars {
                flex-shrink: 0;
                height: 12rem;

                .wrapper {
                    padding-inline: 1rem;

                    .people {
                        height: 12rem;

                        .photo {
                            img {
                                border-radius: .25rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

.user-episode {
    background-color: var(--ardoise-100-alpha-20);
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    font-weight: 400;
    gap: 0.5rem;
    height: 15rem;
    justify-content: center;
    padding-block: 1rem;
    padding-inline: 0.5rem;
    width: 3rem;

    .add-this-episode, .remove-this-episode,
    .select-provider, .select-device, .select-vote,
    .back-to-top, .back-to-series {
        align-items: center;
        border-radius: .25rem;
        color: var(--ardoise-10);
        cursor: pointer;
        display: flex;
        font-weight: 500;
        height: 2rem;
        justify-content: center;
        line-height: 1em;
        width: 2rem;
    }

    .add-this-episode, .back-to-top, .back-to-series {
        background-color: var(--add-this-episode);
    }

    .remove-this-episode,
    .select-provider, .select-device, .select-vote {
        background-color: var(--user-episode-actions);
    }

    .select-provider, .select-device, .select-vote {
        position: relative;

        img {
            border-radius: .25rem;
            height: 2rem;
            object-fit: cover;
            width: 2rem;
        }

        .list {
            background-color: var(--user-episode-list);
            border: 2px solid var(--user-episode-actions);
            border-radius: .25rem;
            display: flex;
            gap: .25rem;
            max-width: 20.5rem;
            overflow-x: auto;
            padding: .25rem;
            position: absolute;
            right: 2rem;
            z-index: 2;

            .item {
                align-items: center;
                display: flex;
                flex-shrink: 0;
                height: 2rem;
                justify-content: center;
                width: 2rem;

                img {
                    height: 2rem;
                    object-fit: cover;
                    width: 2rem;
                }

                &:hover {
                    background-color: var(--orange-50);
                }
            }
        }
    }
}

#review-dialog {
    border: 2px solid var(--orange-50);
    border-radius: .25rem;
    margin-block: auto;
    margin-inline: auto;

    .content {
        background-color: var(--ardoise-80-alpha-50);
        color: var(--ardoise-10);
        padding: 1rem 2rem;

        form {
            display: flex;
            gap: 1rem;

            button {
                padding-inline: 1rem;
            }
        }
    }
}

#review-dialog::backdrop {
    background-color: #1f1f1fcf;
}

.cast, .crew, .guest-stars {
    overflow-x: auto;
    width: 100%;

    .wrapper {
        display: flex;
        gap: .5rem;
        flex-shrink: 0;
        justify-content: flex-start;
        padding-inline: 1rem;

        .people {
            display: flex;
            flex-direction: column;
            height: 15rem;
            position: relative;
            width: 9rem;

            .photo, .profile {
                align-items: center;
                background-color: var(--ardoise-100-alpha-20);
                border-radius: .25rem;
                color: var(--ardoise-10);
                display: flex;
                flex-direction: column;
                gap: 1rem;
                height: 12rem;
                justify-content: center;
                text-align: center;
                width: 9rem;

                img {
                    border-radius: .25rem .25rem 0 0;
                    height: 12rem;
                    object-fit: cover;
                    width: 9rem;
                }

                > div {
                    font-size: .875rem;
                    font-weight: 100;
                    line-height: 1rem;

                    &:first-child {
                        font-size: 1rem;
                        font-weight: 300;
                    }
                }
            }

            .infos {
                align-items: center;
                background-color: var(--ardoise-100-alpha-20);
                border-radius: 0 0 .25rem .25rem;
                display: flex;
                flex-direction: column;
                font-size: .75rem;
                justify-content: center;
                line-height: .85rem;
                height: 3rem;
                overflow: hidden;
                width: 9rem;

                .name {
                    font-size: .875rem;
                    font-weight: 300;
                }

                div {
                    text-align: center;
                }
            }

            .google {
                bottom: 1rem;
                color: var(--orange-50);
                position: absolute;
                right: 1rem;
            }
        }
    }
}

.all-my-series {
    main {
        .wrapper {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            justify-content: flex-start;
            margin-block: 1rem;
            margin-inline: auto;
            width: round(down, 100%, 16rem); /* 16rem = 1 card + gap */

            .card {
                height: 27rem;
                width: 15rem;

                a {
                    .poster, .name {
                        align-items: center;
                        background-color: var(--ardoise-70-alpha-50);
                        display: flex;
                        justify-content: center;
                        width: 15rem;
                    }

                    .poster {
                        border-radius: .5rem .5rem 0 0;
                        height: 22rem;
                        position: relative;

                        img {
                            border-radius: .5rem .5rem 0 0;
                            height: 22rem;
                            object-fit: cover;
                            width: 15rem;
                        }

                        .series-infos {
                            /*border: 1px dashed var(--orange-50);*/
                            bottom: 1rem;
                            display: flex;
                            flex-direction: column;
                            gap: .25rem;
                            left: 0;
                            padding-inline: .5rem;
                            position: absolute;
                            right: 0;

                            .air-date {
                                background-color: var(--orange-10);
                                border-radius: .25rem;
                                color: var(--orange-90);
                                font-size: 1rem;
                                font-weight: 100;
                                margin-inline-start: auto;
                                padding: .25rem;
                            }

                            .date-added {
                                background-color: var(--orange-40);
                                border-radius: .25rem;
                                color: var(--orange-90);
                                font-size: 1rem;
                                font-weight: 100;
                                margin-inline-start: auto;
                                padding: .25rem;
                            }

                            .episode-number {
                                background-color: var(--orange-10);
                                border-radius: .25rem;
                                color: var(--orange-90);
                                font-size: 2rem;
                                font-weight: 100;
                                margin-inline-start: auto;
                                padding: .5rem;
                            }
                        }

                        .progress {
                            background-color: var(--orange-10);
                            border: 2px solid var(--orange-40);
                            bottom: 0;
                            height: .75rem;
                            left: 0;
                            position: absolute;
                            right: 0;

                            .progress-bar {
                                background-color: var(--orange-50);
                                height: 100%;
                                transition: width 0.3s ease-in-out;
                                width: 0;
                            }
                        }
                    }

                    .name {
                        border-radius: 0 0 .5rem .5rem;
                        flex-direction: column;
                        height: 5rem;
                        text-align: center;
                    }
                }
            }
        }
    }
}

@container series-show (width < 576px) {

    .user-actions {
        padding-inline: 1rem;

        .watch-links {
            .label {
                display: none;
            }

            .watch-link {
                span {
                    display: none;
                }

                img {
                    height: 3rem;
                    width: 3rem;
                }
            }
        }

        .rating {
            .rating-stars {
                .star {
                    padding-inline: .25rem;
                }
            }
        }

        .actions {
            .action {
                height: 3rem;
                width: 3rem;
            }
        }
    }
}

@container series-show (width < 1024px) {
    .header {
        flex-direction: column;
        height: auto !important;
        width: 100%;

        .poster {
            flex-shrink: 0;
            height: 135cqi !important;
            margin-inline: auto;
            width: 90cqi !important;
        }

        .infos {
            height: auto !important;
            padding: 1rem;
            width: 100%;

            h1 {
                font-size: 2rem;
                line-height: 2.2rem;
            }
        }
    }

    .infos {
        width: 100% !important;
    }

    .posters {
        width: 100% !important;
    }

    .content {
        flex-direction: column;

        .right {
            order: 1;
        }

        .left {
            order: 2;
            width: 100cqi !important;

            .seasons {
                .season {
                    height: 15rem;

                    .poster {
                        height: 15rem;
                    }

                    .infos {
                        .name {
                            font-size: 1.5rem;
                        }

                        .overview {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

/*@media (width < 1200px) {
    .all-my-series {
        flex-direction: column;
        flex-wrap: nowrap;

        aside {
            position: unset;
            top: unset;
            width: 100%;

            .filters {
                gap: .25rem;

                .filter {
                    padding-block: .25rem;
                    padding-inline: .5rem;
                }
            }
        }

        main {
            width: 100%;
        }
    }
}*/

@media (max-width: 576px) {
    .series-show {
        .header, .schedules {
            padding: 0;
        }

        .header {
            .infos {
                border-radius: 0;

                .backdrop {
                    img {
                        border-radius: 0;
                    }
                }
            }
        }

        .schedules {
            .next-episode {
                border-radius: 0;
            }
        }

        .content {
            flex-direction: column;

            h3 {
                padding-inline-start: 1rem;
            }

            .providers {
                padding-inline: 0.75rem;
            }

            .seasons-episodes {
                .season-episode {
                    align-items: center;
                    flex-direction: column;
                    height: unset;
                    position: relative;

                    .poster, .still {
                        aspect-ratio: 16/9;
                        width: 100%;

                        .number {
                            bottom: -2rem;
                            left: .5rem;
                            right: unset;
                            height: 20vw;
                            width: 20vw;
                            font-size: 15vw;
                            z-index: 1;
                        }
                    }

                    .infos {
                        height: unset;
                        padding-block-start: 2rem;
                    }

                    .user-episode {
                        position: absolute;
                        right: 4vw;
                        top: 5vw;
                    }
                }
            }

            .cast, .crew {
                .wrapper {
                    padding-inline: 0;
                }
            }
        }
    }

    .add-this {
        bottom: 0;
        border-radius: 0;
        left: 0;
        right: 0;
    }

    .all-my-series {
        main {
            .wrapper {
                .card {
                    height: unset;
                    width: 100%;

                    a {
                        .poster, .name {
                            width: 100%;
                        }

                        .poster {
                            height: unset;

                            img {
                                aspect-ratio: 78 / 117;
                                height: auto;
                                width: 100%;
                            }

                            .series-infos {
                                .air-date {
                                    font-size: 2rem;
                                }

                                .episode-number {
                                    font-size: 3rem;
                                }
                            }
                        }

                        .name {
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .episodes {
        .episode {
            .still {
                aspect-ratio: 16/9;
                width: unset;

                .number {
                    font-size: 3rem;
                    height: 4rem;
                    width: 4rem;

                }

            }
        }
    }
}

/* Rechercher une série */
.series-search-result {
    align-items: flex-start;
    color: var(--ardoise-10);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-weight: 300;
    justify-content: flex-start;
    margin-top: 2rem;
    text-align: center;

    .header {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: flex-start;
        padding-block: 0;
        padding-inline: 0;
        width: 100%;

        .pages {
            align-items: center;
            display: flex;
            gap: .25rem;
            justify-content: flex-start;
            overflow-x: auto;
            scroll-snap-type: x mandatory;

            div.btn, button {
                appearance: none;
                background-color: var(--ardoise-60);
                border: 1px solid var(--ardoise-50);
                border-radius: .25em;
                color: var(--ardoise-10);
                font-size: 1rem;
                font-weight: 300;
                padding-block: .125rem;
                padding-inline: 1rem;
                scroll-snap-align: start;
            }

            button {
                background-color: var(--orange-40);
                color: var(--orange-90);
                cursor: pointer;
            }
        }
    }

    .wrapper {
        display: flex;
        flex-shrink: 0;
        gap: .25rem;
        justify-content: flex-start;
        margin: 0 auto;
        padding-block: 1rem;
        scroll-snap-type: x mandatory;
        overflow-x: auto;
        width: 100%;

        .card {
            align-items: flex-start;
            background-color: var(--ardoise-90);
            border-radius: .25rem;
            color: var(--ardoise-10);
            display: flex;
            flex-direction: column;
            justify-content: center;
            scroll-snap-align: start;

            .poster {
                align-items: center;
                background-color: var(--ardoise-80);
                border-radius: .25rem .25rem 0 0;
                color: var(--ardoise-10);
                display: flex;
                height: 18rem;
                justify-content: center;
                position: relative;
                width: 12rem;

                img {
                    border-radius: .25rem .25rem 0 0;
                    height: 18rem;
                    object-fit: cover;
                    width: 12rem;
                }
            }

            .name {
                align-items: center;
                display: flex;
                font-weight: 100;
                height: 3rem;
                justify-content: center;
                line-height: 1rem;
                width: 12rem;
            }
        }
    }
}

.content {
    &:has(.series-map) {
        flex-direction: column;
    }
}

#series-map-title {
    align-items: center;
    display: flex;
    font-size: 1.5rem;
    font-weight: 100;
    gap: .5rem;
    line-height: 1.25em;
    margin-block: 1rem .5rem;

    .add-location-button {
        align-items: center;
        background-color: var(--orange-50);
        border-radius: .25rem;
        color: var(--orange-90);
        cursor: pointer;
        display: flex;
        font-size: 1rem;
        font-weight: 300;
        height: 2rem;
        justify-content: center;
        width: 2rem;
    }
}

.series-map {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-end;

    h1 {
        margin-block-end: 2rem;
    }

    .map-controller {
        border: 2px solid var(--ardoise-50);
        border-radius: .5rem;
        height: 50vh;
        overflow: hidden;

        &.all {
            height: 80vh;
        }
    }

    .locations {
        display: flex;
        overflow-x: auto;

        ul {
            display: flex;
            gap: 1rem;
            margin-inline: auto;

            li {
                background-color: var(--ardoise-100-alpha-50);
                border-radius: .25rem;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                gap: .5rem;

                .image {
                    aspect-ratio: 16/9;
                    width: 15rem;

                    img {
                        aspect-ratio: 16 / 9;
                        border-radius: .25rem .25rem 0 0;
                        height: 100%;
                        object-fit: cover;
                        width: 100%;
                    }
                }

                .location {
                    align-items: center;
                    display: flex;
                    height: 100%;
                    justify-content: center;
                    padding-inline: .5rem;
                    text-align: center;
                    width: 15rem;
                }
            }
        }
    }
}

dialog {
    background-color: var(--ardoise-80-alpha-90);
    border-radius: .5rem;
    inset: 0;
    margin-block: auto;
    margin-inline: auto;
    padding: 1rem;
    position: absolute;
    width: 80%;
    z-index: 2;

    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .form-row {
            display: flex;
            gap: 1rem;

            .form-field {
                display: flex;
                gap: .25rem;
                width: 100%;

                &:has(+ .form-field) {
                    width: 50%;
                }

                &:has(button) {
                    justify-content: flex-end;
                }

                label {
                    display: flex;
                    flex-direction: column;
                    font-size: 1rem;
                    font-weight: 300;
                    width: 100%;

                    .error {
                        color: var(--error);
                        font-size: .75rem;
                        font-weight: 100;
                    }
                }

                input, textarea {
                    background-color: var(--ardoise-80);
                    border: 2px solid var(--orange-50);
                    border-radius: .25rem;
                    color: var(--ardoise-10);
                    font-size: 1rem;
                    font-weight: 100;
                    padding-inline: .5rem;
                }

                button {
                    background-color: var(--orange-50);
                    border: 2px solid var(--orange-90);
                    border-radius: .25rem;
                    color: var(--orange-90);
                    cursor: pointer;
                    font-size: 1rem;
                    font-weight: 300;
                    padding-inline: .5rem;
                }
            }
        }
    }
}

dialog::backdrop {
    background-color: #1f1f1fcf;
}