.localization-span {
    color: var(--orange-80);
}

.localization-tools {
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-inline-start: auto;
    position: relative;

    .localization-tools-button {
        align-items: center;
        aspect-ratio: 1;
        background-color: var(--orange);
        border-radius: .25rem;
        color: var(--ardoise-10);
        cursor: pointer;
        display: flex;
        justify-content: center;
        width: 2rem;

        svg {
            height: 1.5rem;
            width: 1.5rem;
        }
    }

    /*&:hover .localization-tools-menu {
        display: block;
    }*/
}

.localization-tools-menu {
    border-radius: .25rem;
    display: none;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 2rem;
    z-index: 1;

    &.active {
        display: block;
    }

    > div {
        align-items: center;
        background-color: var(--ardoise-70);
        color: var(--ardoise-10);
        cursor: pointer;
        display: flex;
        font-size: 1rem;
        font-weight: 300;
        gap: .5rem;
        justify-content: flex-start;
        padding-block: .5rem;
        padding-inline: 1rem;
        white-space: nowrap;

        &:hover {
            background-color: var(--orange-50);
        }
    }
}

/*.watch-link-form,
.keyword-translation-form {
    background-color: hsla(from var(--ardoise-80) h s l / .9);
    border-radius: 0.5rem 0 0 0.5rem;
    border: 2px solid var(--orange-50);
    border-right-width: 0;
    display: none;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 2rem;
    transition: opacity 0.3s ease-in-out;
    z-index: 1;
}*/

.delete-overview-form,
.keyword-translation-form,
.localized-name-form,
.overview-form,
.watch-link-form {
    background-color: hsla(from var(--ardoise-70) h s l / .9);
    border-radius: 1rem;
    border: 4px solid var(--orange-50);
    margin: auto;
    padding: 2rem;
    position: relative;

    &:has(input[type="text"]),
    &:has(select),
    &:has(textarea) {
        width: 50%;
    }

    &.display {
        display: block;
    }

    &.active {
        opacity: 1;
    }

    .close {
        align-items: center;
        aspect-ratio: 1;
        background-color: var(--ardoise-80);
        border-radius: 50%;
        color: var(--ardoise-10);
        cursor: pointer;
        display: flex;
        font-size: 1.5rem;
        font-weight: 300;
        height: 2rem;
        justify-content: center;
        position: absolute;
        right: 1rem;
        top: 1rem;
        width: 2rem;

        &:hover {
            background-color: var(--orange-50);
        }
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;

        &:has(.delete) {
            font-size: 1.5rem;
            gap: 2rem;
            line-height: 1.1em;
        }

        .form-row {
            .form-field:has(select) {
                max-width: unset !important;
                width: 100%;

                label {
                    align-items: flex-start;

                    select {
                        height: 2rem;
                        margin-block-start: unset;
                        width: 100%;
                    }
                }

                label:has(select)::after {
                    top: 60%;
                }
            }

            .form-field {
                label {
                    .keyword-translation-label {
                        background-color: var(--orange);
                        border-radius: .25rem;
                        padding: .25rem .5rem;
                        width: fit-content;
                    }
                }
            }

            .form-field:has(button) {
                align-items: center;
                display: flex;
                gap: 1rem;
                justify-content: flex-end;
            }

            button {
                border-radius: .25rem;
                border: none;
                color: var(--ardoise-10);
                cursor: pointer;
                padding-inline: 1rem;
                padding-block: .25rem;

                &[type="submit"] {
                    background-color: var(--orange-50);

                    &:hover {
                        background-color: var(--orange-60);
                    }

                    &:disabled {
                        background-color: var(--orange-30);
                        cursor: not-allowed;
                    }
                }

                &.delete {
                    background-color: var(--remove-this-series) !important;
                    font-weight: 600;
                    text-transform: uppercase;
                }
            }

            &.hide {
                display: none;
            }
        }
    }
}

.keyword-translation-form {
    label {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        gap: .25rem;

        input[type="text"] {
            background-color: hsla(from var(--orange-10) h s l / .8);
            border: none;
            border-radius: .25rem;
            padding: .5rem .5rem;
            width: 100%;
        }
    }
}

.delete-overview-form::backdrop,
.keyword-translation-form::backdrop,
.localized-name-form::backdrop,
.overview-form::backdrop,
.watch-link-form::backdrop {
    backdrop-filter: blur(8px);
    background-color: hsla(from var(--ardoise-80) h s l / .5);
}
