@media(prefers-reduced-motion: no-preference) {
    @view-transition {
        navigation: auto;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes fadeOut {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    ::view-transition-old(.series-tv-time .series-group .wrapper) {
        animation: fadeOut .5s ease-in-out;
    }

    ::view-transition-new(.series-tv-time .series-group .wrapper) {
        animation: fadeIn .5s ease-in-out;
    }
}

.series-tv-time {
    align-items: center;
    display: flex;
    margin-block-start: 3.5rem;
    padding-inline: 1rem;

    .series-search-block {
        margin-block: 2rem 1rem;

        .search-results {
            backdrop-filter: blur(1rem);
            background-color: hsl(from var(--ardoise-80) h s l / .25);
        }
    }

    &:has(.wrapper.list) {
        .display-list {
            display: none;
        }

        .display-grid {
            display: block;
        }
    }

    &:not(:has(.wrapper.list)) {
        .display-list {
            display: block;
        }

        .display-grid {
            display: none;
        }
    }

    header {
        background-color: var(--yellow);
        color: var(--orange-10);
        padding-inline: 1rem;
        width: 100%;

        .infos {
            padding-inline: 0
        }

        .display-list, .display-grid {
            color: var(--orange-10);
            cursor: pointer;
            margin-inline-start: auto;

            svg {
                height: 1.5rem;
                width: 1.5rem;
            }
        }
    }

    .series-group {
        margin-top: unset;
        width: 100%;

        &.user {
            margin-block-start: unset;
        }

        .wrapper {
            position: relative;

            .content {
                gap: .25rem;

                &.center {
                    width: round(down, 100%, 15.75rem);
                }

                .card {
                    border-radius: .75rem;
                    border: 4px solid hsl(from var(--green) h 0 l / 0.5);
                    height: 29rem;
                    width: 15.5rem;

                    &.premiere {
                        border-color: var(--orange-50);
                        box-shadow: inset 0 0 10rem 0.25rem hsl(from var(--orange) h s l / 0.5);

                        .infos {
                            background-color: transparent;
                        }
                    }

                    &:has(.last) {
                        border-color: var(--green);
                        box-shadow: inset 0 0 10rem .25rem hsl(from var(--green) h s l / 0.5);

                        .infos {
                            background-color: transparent;
                        }
                    }

                    a {
                        .poster {
                            position: relative;
                        }

                        .infos {
                            align-items: center;
                            background-color: hsl(from var(--green-80) h s l / .25);
                            font-size: 1rem;
                            height: 6rem;
                            padding-inline: .5rem;
                            text-align: left;

                            .details {
                                display: flex;
                                flex-direction: column;
                                gap: .25rem;
                                height: 5rem;
                                justify-content: center;

                                .name {
                                    all: unset;
                                    line-height: 1.1;
                                    text-wrap: balance;
                                }

                                .progress-wrapper {
                                    border: 1px solid hsl(from var(--green) h 0 l);
                                    border-radius: 5rem;
                                    display: none;
                                    width: 10rem;

                                    .progress-bar {
                                        background-color: var(--green);
                                        height: .5rem;
                                        border-radius: 5rem;
                                    }
                                }

                                .status {
                                    color: hsl(from var(--green) h 0 l);
                                    display: none;

                                    .last {
                                        color: var(--orange);
                                    }
                                }

                                .number {
                                    color: var(--yellow);
                                    font-style: normal;

                                    span {
                                        color: hsl(from var(--green) h 0 l);

                                        &.green {
                                            color: hsl(from var(--green) h 50% l);
                                            font-weight: bold;
                                        }
                                    }
                                }
                            }

                            .watch-links {
                                display: none;
                            }

                            .add-badge, .done {
                                display: none;
                            }

                            .vote {
                                display: none;
                            }
                        }
                    }
                }
            }

            .count {
                backdrop-filter: blur(1rem);
                background-color: hsl(from var(--orange-20) h s l / 0.25);
                border-radius: 5rem;
                border: 4px solid hsl(from var(--orange-90) h s l / 0.25);
                font-size: 1.5rem;
                font-weight: 300;
                padding: .5rem 1rem;
                position: absolute;
                right: .5rem;
                top: .5rem;
                width: fit-content;
            }

            &.list {
                container-name: wrapper-list;
                container-type: inline-size;
                width: 100%;

                .content {
                    flex-direction: column;
                    width: 100%;

                    .card {
                        height: 9.5rem;
                        width: 100%;

                        a {
                            flex-direction: row;

                            .poster {
                                height: 9rem;
                                width: 6rem;

                                img {
                                    border-radius: .5rem 0 0 .5rem;
                                    height: 100%;
                                    width: 100%;
                                }
                            }

                            .infos {
                                align-items: center;
                                border-radius: 0 .5rem .5rem 0;
                                height: 9rem;
                                justify-content: flex-start;
                                width: calc(100% - 6rem);

                                .details {
                                    display: flex;
                                    flex-direction: column;
                                    gap: .25rem;

                                    .name {
                                        height: unset;
                                        width: unset;
                                    }

                                    .progress-wrapper {
                                        display: block;
                                    }

                                    .status {
                                        display: block;
                                    }
                                }

                                .watch-links {
                                    display: flex;
                                    gap: 1rem;
                                    margin-inline-start: auto;

                                    .watch-link {
                                        height: 2.5rem;
                                        width: 2.5rem;

                                        img {
                                            border-radius: 50%;
                                            border: 2px solid;
                                            height: 100%;
                                            object-fit: cover;
                                            width: 100%;
                                        }
                                    }

                                }

                                .vote {
                                    align-items: center;
                                    background-color: var(--green-70);
                                    border-radius: 50%;
                                    display: flex;
                                    font-size: 1.5rem;
                                    font-weight: 300;
                                    height: 2.5rem;
                                    justify-content: center;
                                    margin-inline: 1rem;
                                    width: 2.5rem;

                                    svg {
                                        color: var(--yellow);
                                        height: 1.75rem;
                                        width: 1.75rem;
                                    }
                                }

                                .add-badge, .done {
                                    align-items: center;
                                    display: flex;
                                    height: 2.5rem;
                                    justify-content: center;
                                    width: 2.5rem;

                                    svg {
                                        height: 1.75rem;
                                        width: 1.75rem;
                                    }
                                }

                                .add-badge {
                                    border: 4px solid;
                                    border-radius: 50%;
                                    color: var(--add-this);
                                    margin-inline: 1rem;
                                }

                                .done {
                                    color: var(--green);
                                    margin-inline: 1rem;
                                }
                            }
                        }
                    }
                }

                @container wrapper-list (min-width: 80rem) {
                    .content {
                        flex-direction: row;
                        flex-wrap: wrap;

                        .card {
                            width: calc(50% - .125rem);
                        }
                    }
                }

                @container wrapper-list (min-width: 120rem) {
                    .content {
                        .card {
                            width: calc(33% - .0625rem);
                        }
                    }
                }

                @container wrapper-list (min-width: 160rem) {
                    .content {
                        .card {
                            width: calc(25% - .25rem);
                        }
                    }
                }

                @container wrapper-list (min-width: 200rem) {
                    .content {
                        .card {
                            width: calc(20% - .25rem);
                        }
                    }
                }
            }
        }
    }

    .copied {
        background-color: var(--green);
        border-radius: 1rem;
        border: 2px solid;
        color: var(--orange-90);
        display: none;
        left: 0;
        opacity: 0;
        padding: .5rem 1rem;
        position: absolute;
        top: 0;
        z-index: 100;

        &.show {
            display: block;
        }

        &.active {
            animation: copied 1s ease-in-out;
        }
    }
}

@keyframes copied {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    20% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate(1rem, -8rem);
    }
}

.last-episode-votes {
    backdrop-filter: blur(1rem);
    border-radius: 2.5rem;
    border: 4px solid hsl(from var(--ardoise-10) h s l / .25);
    bottom: 8rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: fit-content;
    max-height: 50dvh;
    overflow-y: auto;
    padding: 1rem;
    position: fixed;
    right: 2rem;
    transition: height .5s ease-in-out,
    border-width .5s ease-in-out 1.5s,
    border-radius .25s ease-in-out,
    padding .25s ease-in-out,
    width 1s ease-in-out .5s;
    transition-behavior: allow-discrete;
    width: 31rem;
    z-index: 100;

    &:not(:has(.last-episode-vote)) {
        border-radius: 0;
        border-width: 0;
        /*display: none;*/
        height: 0;
        padding: 0;
        width: 0;
    }

    .last-episode-vote {
        border: 4px solid hsl(from var(--ardoise-10) h s l / .25);
        border-radius: 1.25rem;
        transition: opacity 0.3s ease;

        &.closing {
            opacity: 0;
        }

        .content {
            display: flex;
            width: 28rem;

            .poster {
                aspect-ratio: 2 / 3;
                height: 12rem;
                position: relative;

                &:not(:has(img)) {
                    align-items: center;
                    background-color: var(--green-80);
                    border-radius: 1rem 0 0 1rem;
                    color: var(--green-10);
                    display: flex;
                    justify-content: center;
                }

                img {
                    border-radius: 1rem 0 0 1rem;
                    object-fit: cover;
                }

                .your-vote {
                    align-items: center;
                    background-color: var(--green);
                    border-radius: 50%;
                    bottom: 1rem;
                    color: var(--green-10);
                    display: flex;
                    font-size: 1.5rem;
                    font-weight: 300;
                    height: 3rem;
                    left: 50%;
                    justify-content: center;
                    position: absolute;
                    transform: translateX(-50%);
                    width: 3rem;
                    z-index: 1;
                }
            }

            .infos {
                backdrop-filter: blur(1rem);
                background-color: hsl(from var(--green) h s 10% / .5);
                border-radius: 0 1rem 1rem 0;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                justify-content: center;
                padding: 1rem;
                width: 20rem;

                .name {
                    display: flex;
                    flex-wrap: wrap;
                    gap: .25rem 1rem;

                    span.episode-number {
                        color: var(--yellow);
                    }

                    span.last-episode {
                        background-color: hsl(from var(--green) h s l / .5);
                        border-radius: 5rem;
                        color: var(--orange-90);
                        font-weight: 300;
                        margin-inline-start: .5rem;
                        padding: .25rem 1rem;
                    }
                }

                .vote {
                    --svgSize: 1.5rem;

                    display: flex;
                    justify-content: center;
                    width: 100%;

                    .vote-star {
                        cursor: pointer;

                        svg[data-status="off"] {
                            display: block;
                        }

                        svg[data-status="on"] {
                            display: none;
                        }

                        &.active {
                            svg[data-status="off"] {
                                display: none;
                            }

                            svg[data-status="on"] {
                                display: block;
                            }
                        }

                        /* L'avant-dernière étoile : couleur orange */
                        &:not(:has(+ .vote-star + .vote-star)) {
                            color: var(--orange);

                            /* Dernière étoile : couleur verte */
                            &:not(:has(+ .vote-star)) {
                                color: var(--yellow);
                            }
                        }
                    }
                }

                .submit-vote {
                    display: flex;
                    gap: 1rem;
                    justify-content: flex-end;

                    a {
                        background-color: var(--orange);
                        border-radius: 5rem;
                        padding: 0.25rem 1rem;
                    }

                    button {
                        background-color: var(--orange);
                        border-radius: 5rem;
                        cursor: pointer;
                        padding: 0.25rem 1rem;
                    }
                }
            }
        }
    }
}

@media (width < 480px) {
    body:has(.search-results.showing-something) {
        .episodes-today {
            display: none;
        }
    }

    .container-fluid.series-tv-time {
        padding-inline: 0;

        .series-search-block {
            margin-block: 3rem 1rem;

            label input {
                font-size: 1rem;
            }

            .search-results {
                min-width: 100dvw;
                top: 0;

                ul {
                    max-height: calc(100dvh - 10rem);

                    li {
                        a {
                            padding-block: 0;
                            padding-inline: 0;

                            .title {
                                font-size: 1rem;
                                padding-block: 0;
                                padding-inline: .25rem;
                            }

                            .add-this-item {
                                margin-right: .5rem;
                            }
                        }
                    }
                }
            }
        }

        h1 {
            left: 1rem;
            top: 4rem;
            padding-block: .5rem;
            padding-inline: 1rem;
            font-size: 1rem;
        }
    }

    .last-episode-votes {
        border-radius: .75rem;
        gap: .25rem;
        padding: .25rem;
        right: 0;
        width: 100dvw;

        .last-episode-vote {
            border-radius: .25rem;

            .content {
                width: calc(100dvw - 1.5rem);

                .poster {
                    height: 9rem;

                    img {
                        border-top-left-radius: .125rem;
                        border-bottom-left-radius: .125rem;
                    }
                }

                .infos {
                    padding: .5rem;

                    .submit-vote {
                        a, button {
                            padding: 0.25rem 1rem;
                        }
                    }
                }
            }
        }
    }
}