
.user-actions {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-end;
    position: relative;

    .watch-links {
        align-items: center;
        display: flex;
        gap: .5rem;
        justify-content: center;
        margin-inline-end: auto;

        .label {
            font-size: 1rem;
            font-weight: 300;
        }

        .watch-link {
            position: relative;

            span {
                align-items: center;
                background-color: var(--ardoise-80-alpha-50);
                border-radius: .25rem;
                color: var(--ardoise-10);
                display: flex;
                font-size: 1rem;
                font-weight: 300;
                justify-content: center;
                padding: .5rem 1rem;
            }

            img {
                border-radius: .25rem;
                height: 2rem;
                object-fit: cover;
                width: 2rem;
            }

            &:hover .watch-link-tools {
                display: flex;
            }

            .watch-link-tools {
                align-items: center;
                background-color: var(--ardoise-90-alpha-50);
                border-radius: 1.25rem;
                display: none;
                gap: .5rem;
                justify-content: center;
                left: -1.5rem;
                padding: .25rem;
                position: absolute;
                top: 2rem;

                .watch-link-tool {
                    align-items: center;
                    border-radius: 50%;
                    cursor: pointer;
                    display: flex;
                    height: 2rem;
                    justify-content: center;
                    width: 2rem;

                    &.edit {
                        background-color: var(--orange-50);
                        color: var(--ardoise-10);
                    }

                    &.delete {
                        background-color: var(--remove-this-series);
                        color: var(--ardoise-10);
                    }
                }
            }
        }

        .add-watch-link {
            align-items: center;
            background-color: var(--orange-50);
            border-radius: .25rem;
            color: var(--orange-90);
            cursor: pointer;
            display: flex;
            height: 2rem;
            justify-content: center;
            width: 2rem;
        }
    }

    .viewed-at {
        align-items: center;
        background-color: var(--orange-50);
        border-radius: .25rem;
        color: var(--ardoise-10);
        cursor: pointer;
        display: flex;
        font-size: 1rem;
        font-weight: 300;
        gap: .5rem;
        justify-content: center;
        margin-inline-end: auto;
        padding: .5rem;

        &.viewed {
            background-color: var(--green-50);
            color: var(--ardoise-10);
        }
    }

    .rating {
        align-items: center;
        background-color: var(--ardoise-80-alpha-50);
        border-radius: .25rem;
        color: var(--ardoise-10);
        display: flex;
        font-size: 1rem;
        font-weight: 300;
        gap: .5rem;
        justify-content: center;
        padding: .5rem;

        .rating-stars {
            display: flex;
            gap: 0;
            justify-content: center;

            .stars {
                display: flex;

                .star {
                    color: var(--ardoise-10);
                    cursor: pointer;
                    padding-inline: .125rem;

                    &.active {
                        color: var(--orange-50);
                    }
                }
            }
        }
    }

    .badges {
        align-items: center;
        display: flex;
        gap: .5rem;
        justify-content: center;

        .badge {
            align-items: center;
            background-color: var(--marathoner-series);
            border-radius: .25rem;
            color: var(--ardoise-10);
            display: flex;
            font-size: 1rem;
            font-weight: 300;
            gap: .25rem;
            justify-content: center;
            padding: .5rem;
        }
    }

    .actions {
        display: flex;
        gap: .5rem;

        .action {
            align-items: center;
            border-radius: .25rem;
            color: var(--ardoise-10);
            cursor: pointer;
            display: flex;
            height: 2rem;
            justify-content: center;

            &.remove-this-series {
                background-color: var(--remove-this-series);
                width: 2rem;
            }

            &.toggle-favorite-series {
                background-color: var(--ardoise-80-alpha-50);
                width: 2rem;

                &.favorite {
                    color: var(--favorite-series);
                }
            }

            &.toggle-pinned-series {
                background-color: var(--ardoise-80-alpha-50);
                width: 2rem;

                &.pinned {
                    color: var(--favorite-series);
                }
            }
        }
    }
}

.watch-link-form,
.localized-name-form,
.overview-form,
.delete-overview-form,
.keyword-translation-form {
    background-color: var(--ardoise-80-alpha-90);
    border-radius: 0.5rem;
    border: 2px solid var(--orange-50);
    display: none;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 2rem;
    transition: opacity 0.3s ease-in-out;
    z-index: 1;

    &.display {
        display: block;
    }

    &.active {
        opacity: 1;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;

        .form-row {
            .form-field:has(select) {
                max-width: unset !important;
                width: 100%;

                label {
                    align-items: flex-start;

                    select {
                        height: 2rem;
                        margin-block-start: unset;
                        width: 100%;
                    }
                }

                label:has(select)::after {
                    top: 60%;
                }
            }

            .form-field:has(button) {
                align-items: center;
                display: flex;
                gap: 1rem;
                justify-content: flex-end;
            }

            button {
                padding-inline: 1rem;
                padding-block: .25rem;

                &.delete {
                    background-color: var(--remove-this-series) !important;
                    font-size: 2rem;
                    font-weight: 600;
                    line-height: 2;
                    text-transform: uppercase;
                    width: 20rem;
                }
            }

            &.hide {
                display: none;
            }
        }

        .form-body {
            display: flex;
            flex-direction: column;
            gap: .5rem;

            .fields {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .translation {
                    width: 100%;

                    label {
                        display: flex;
                        font-size: 1rem;
                        font-weight: 300;
                        gap: 1rem;
                        justify-content: space-between;
                        width: 100%;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}