.user-lists {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: calc(100vh - 12rem);
    margin-block-start: 4rem;

    h1 {
        align-items: center;
        background-color: var(--orange-50);
        border-radius: 5rem;
        color: var(--ardoise-10);
        display: flex;
        flex-shrink: 0;
        font-size: 1.5rem;
        font-weight: 300;
        height: 3rem;
        padding-inline-start: 2rem;
    }

    .lists-container {
        display: flex;
        height: 100%;

        .lists-list {
            background-color: var(--orange-20);
            border-radius: .5rem;
            display: flex;
            flex-direction: column;
            height: 100%;
            overflow-y: auto;
            width: 20rem;

            .list-item {
                font-size: 1.25rem;
                font-weight: 300;
                padding: .5rem;
                width: 100%;

                &:hover {
                    background-color: var(--orange-30);
                    cursor: pointer;
                }

                &.active {
                    background-color: var(--orange-40);
                }
            }

        }

        .list-container {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            height: 100%;
            padding: 1rem;
            width: 100%;

            .list-card {
                background-color: var(--orange-20);
                border-radius: .5rem;
                padding: 1rem;
                position: relative;
                width: 100%;

                .name {
                    font-size: 1.5rem;
                    font-weight: 500;
                }

                .count, .description {
                    font-size: 1rem;
                    font-weight: 300;
                }

                .select-year {
                    position: absolute;
                    right: 1rem;
                    top: 1rem;

                    label select {
                        border-radius: 5rem;
                        font-size: 1.25rem;
                        padding-block: .5rem;
                        padding-inline: 1.5rem 2.5rem;
                    }

                    label:has(select)::after {
                        right: 1.25rem;
                        top: 32%
                    }
                }
            }

            .list-content {
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;
                height: fit-content;
                justify-content: center;
                overflow-y: auto;
                width: 100%;

                > div {
                    .card {
                        a {
                            .infos {
                                .name {
                                    font-size: 1.25rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}