.user-lists {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: calc(100vh - 12rem);
    margin-block-start: 4rem;

    h1 {
        align-items: center;
        background-color: var(--orange-50);
        border-radius: 5rem;
        color: var(--ardoise-10);
        display: flex;
        flex-shrink: 0;
        font-size: 1.5rem;
        font-weight: 300;
        height: 3rem;
        padding-inline-start: 2rem;
    }

    .lists-container {
        display: flex;
        height: 100%;
        position: relative;

        .lists-list-toggler {
            align-items: center;
            background-color: var(--orange);
            border-radius: .25rem;
            cursor: pointer;
            display: flex;
            height: 2rem;
            justify-content: center;
            left: 1rem;
            position: absolute;
            top: 9rem;
            transition: transform 1s var(--side-panel-easing), opacity 0.3s ease-in-out;
            width: 2rem;
            z-index: 2;

            .icon-open {
                display: block;
            }

            .icon-close {
                display: none;
            }

            &.show {
                transform: translateX(21rem);

                .icon-open {
                    display: none;
                }

                .icon-close {
                    display: block;
                }
            }
        }

        .lists-list {
            background-color: var(--orange-20);
            border-radius: .5rem;
            display: flex;
            flex-direction: column;
            height: fit-content;
            left: 1rem;
            max-height: calc(100vh - 12rem);
            opacity: 0;
            overflow-y: auto;
            position: absolute;
            top: 9rem;
            transform: translateX(calc(-100% - 2rem));
            transition: all 1s var(--side-panel-easing), opacity 0.3s ease-in-out;
            width: 20rem;
            z-index: 2;

            &.show {
                opacity: 1;
                transform: translateX(0);
            }

            .add-list {
                align-items: center;
                border-top: 1px solid var(--orange-40);
                display: flex;
                gap: .5rem;
            }

            .list-item, .add-list {
                font-size: 1.25rem;
                font-weight: 300;
                padding: .5rem;
                width: 100%;

                &:hover {
                    background-color: var(--orange-30);
                    cursor: pointer;
                }

                &.active {
                    background-color: var(--orange-40);
                }
            }
        }

        .list-container {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            height: 100%;
            overflow-y: auto;
            padding: 1rem;
            width: 100%;

            .list-header {
                &.fixed {
                    /*left: 20rem;*/
                    position: absolute;
                    right: -0.75rem;
                    top: -4rem;

                    .list-card {
                        align-items: center;
                        background-color: transparent;
                        display: flex;
                        gap: 2rem;
                        height: 3rem;
                        justify-content: flex-end;
                        padding-block: 0;

                        .description, .tools {
                            display: none;
                        }

                        .select-year {
                            position: unset;
                        }
                    }
                }

                .list-card {
                    background-color: var(--orange-20);
                    border-radius: .5rem;
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;
                    padding: 1rem;
                    position: relative;
                    width: 100%;

                    .name {
                        font-size: 1.5rem;
                        font-weight: 500;
                        line-height: 1.2em;
                    }

                    .description {
                        color: var(--orange-70);
                        font-size: 1rem;
                        font-weight: 300;
                    }

                    .count {
                        background-color: var(--orange-30);
                        border-radius: 5rem;
                        padding-inline: 1rem;
                        width: fit-content;
                    }

                    .count, .description {
                        font-size: 1rem;
                        font-weight: 300;
                    }

                    .tools {
                        bottom: .5rem;
                        display: flex;
                        gap: .5rem;
                        position: absolute;
                        right: 1rem;

                        .tool {
                            align-items: center;
                            background-color: var(--orange-30);
                            border-radius: 5rem;
                            color: var(--orange-60);
                            cursor: pointer;
                            display: flex;
                            height: 2rem;
                            justify-content: center;
                            width: 2rem;

                            svg {
                                --svgSize: 1.25rem;
                            }

                            &:hover {
                                background-color: var(--orange-50);
                                color: var(--orange-90);
                            }
                        }
                    }

                    .select-year {
                        position: absolute;
                        right: 1rem;
                        top: .5rem;

                        label select {
                            border-radius: 5rem;
                            font-size: 1.25rem;
                            padding-block: .5rem;
                            padding-inline: 1.5rem 2.5rem;
                        }

                        label:has(select)::after {
                            right: 1.25rem;
                            top: 32%
                        }
                    }
                }
            }

            .list-content {
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;
                height: fit-content;
                justify-content: center;
                /*overflow-y: auto;*/
                width: 100%;

                > div {
                    .card {
                        a {
                            .infos {
                                flex-grow: 1;

                                .name {
                                    font-size: 1.25rem;
                                    max-width: calc(100% - 1rem);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (width < 30rem) {
    .user-lists {
        margin-block-start: 2rem;

        h1 {
            border-radius: 0;

            span {
                display: none;
            }
        }

        .lists-container {
            .lists-list-toggler {
                top: 7rem;
            }

            .lists-list {
                top: 7rem;
            }

            .list-container {
                padding: 0;

                .list-header {
                    width: 100%;

                    &.fixed {
                        left: 0;
                        right: 0;

                        .list-card {
                            flex-direction: row;
                            gap: 1rem;
                            justify-content: space-between;
                            padding-inline: .25rem;

                            .count {
                                .count-label {
                                    display: none;
                                }
                            }
                        }
                    }

                    .list-card {
                        border-radius: 0;
                        display: flex;
                        flex-direction: column;
                        gap: .5rem;
                        height: auto;
                        width: 100%;

                        .select-year {
                            label {
                                span {
                                    display: none;
                                }
                            }
                        }
                    }
                }

                .list-content {
                    > div {
                        aspect-ratio: 5 / 9;
                        width: calc(50vw - .5rem);

                        .card {
                            height: unset;
                            width: 100%;

                            a {
                                .infos {
                                    .name {
                                        font-size: 1rem;
                                    }
                                }

                                .poster {
                                    height: unset;
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}