
.container-fluid.user-profile-container {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    padding-inline: 0;

    .toggle-theme {
        position: fixed;
        right: 2rem;
        top: 5rem;
        z-index: 1000;
        align-items: center;
        background-color: hsla(from var(--ardoise-80) h s l / .5);
        border-radius: 50%;
        color: var(--ardoise-10);
        cursor: pointer;
        display: flex;
        height: 3rem;
        justify-content: center;
        width: 3rem;

        svg {
            height: 1.5rem;
            width: 1.5rem;
        }

        &.dark {
            background-color: hsla(from var(--ardoise-80) h s l / .5);
            color: var(--ardoise-10);
        }

        &.light {
            background-color: var(--ardoise-10);
            color: hsla(from var(--ardoise-80) h s l / .5);
        }
    }
}

.user-actions {
    display: flex;
    flex-direction: column;
    gap: .25rem;

    h2 {
        background-color: transparent;
    }

    .wrapper {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
        position: relative;

        .watch-links {
            align-items: center;
            display: flex;
            gap: .5rem;
            justify-content: center;

            &.hidden {
                display: none;
            }

            .label {
                font-size: 1rem;
                font-weight: 300;
            }

            .watch-link {
                background-color: cadetblue;
                border-radius: .25rem;
                position: relative;

                span {
                    align-items: center;
                    background-color: hsla(from var(--ardoise-80) h s l / .5);
                    border-radius: .25rem;
                    color: var(--ardoise-10);
                    display: flex;
                    font-size: 1rem;
                    font-weight: 300;
                    justify-content: center;
                    padding: .5rem 1rem;
                }

                img {
                    border-radius: .25rem;
                    height: 2rem;
                    object-fit: cover;
                    width: 2rem;
                }

                &:hover .watch-link-tools {
                    display: flex;
                }

                .watch-link-tools {
                    align-items: center;
                    background-color: hsla(from var(--ardoise-90) h s l / .5);
                    border-radius: 1.25rem;
                    display: none;
                    gap: .5rem;
                    justify-content: center;
                    left: -1.5rem;
                    padding: .25rem;
                    position: absolute;
                    top: 2rem;
                    z-index: 10;

                    .watch-link-name {
                        color: var(--ardoise-10);
                        white-space: nowrap;
                    }

                    .watch-link-tool {
                        align-items: center;
                        border-radius: 50%;
                        cursor: pointer;
                        display: flex;
                        flex-shrink: 0;
                        height: 2rem;
                        justify-content: center;
                        width: 2rem;

                        &.edit {
                            background-color: var(--orange-50);
                            color: var(--ardoise-10);
                        }

                        &.copy {
                            background-color: var(--green-50);
                            color: var(--ardoise-10);
                            transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

                            &.copied {
                                background-color: var(--green-90);
                                box-shadow: 0 0 .5rem .25rem var(--orange-50);
                            }
                        }

                        &.delete {
                            background-color: var(--remove-this-series);
                            color: var(--ardoise-10);
                        }
                    }
                }
            }

            .add-watch-link {
                align-items: center;
                background-color: var(--orange-50);
                border-radius: .25rem;
                color: var(--orange-90);
                cursor: pointer;
                display: flex;
                height: 2rem;
                justify-content: center;
                width: 2rem;
            }
        }

        .viewed-at {
            align-items: center;
            display: flex;
            gap: 1rem;
            justify-content: center;
            margin-inline-end: auto;

            .mark-as-viewed {
                align-items: center;
                background-color: var(--orange-50);
                border-radius: .25rem;
                color: var(--ardoise-10);
                cursor: pointer;
                display: flex;
                height: 2rem;
                justify-content: center;
                width: 2rem;

                &:hover {
                    background-color: var(--orange-60);
                }

                &.viewed {
                    background-color: var(--green-50);
                    color: var(--ardoise-10);

                    &:hover {
                        background-color: var(--green-60);
                    }
                }
            }

            .view-date {
                align-items: center;
                background-color: var(--green-50);
                border-radius: .25rem;
                display: flex;
                font-size: 1rem;
                font-weight: 300;
                height: 2rem;
                padding-inline: .5rem;
            }
        }

        .rating {
            align-items: center;
            background-color: hsla(from var(--ardoise-80) h s l / .5);
            border-radius: .25rem;
            color: var(--ardoise-10);
            display: flex;
            font-size: 1rem;
            font-weight: 300;
            gap: .5rem;
            justify-content: center;
            padding: .5rem;

            .rating-stars {
                display: flex;
                gap: 0;
                justify-content: center;

                .stars {
                    display: flex;

                    .star {
                        color: var(--ardoise-10);
                        cursor: pointer;
                        padding-inline: .125rem;

                        &.active {
                            color: var(--orange-50);
                        }

                        svg {
                            height: 2.5rem;
                            width: 2.5rem;
                        }
                    }
                }
            }
        }

        .badges {
            align-items: center;
            display: flex;
            gap: .5rem;
            justify-content: center;

            .badge {
                align-items: center;
                background-color: var(--marathoner-series);
                border-radius: .25rem;
                color: var(--ardoise-10);
                display: flex;
                font-size: 1rem;
                font-weight: 300;
                gap: .25rem;
                justify-content: center;
                padding: .5rem;
            }
        }

        .actions {
            display: flex;
            gap: .5rem;

            .action {
                align-items: center;
                border-radius: .25rem;
                color: var(--ardoise-10);
                cursor: pointer;
                display: flex;
                height: 2rem;
                justify-content: center;

                &.remove-this-series, &.remove-this-movie {
                    background-color: var(--remove-this-series);
                    width: 2rem;

                    svg {
                        height: 2rem;
                        width: 2rem;
                    }
                }

                &.toggle-favorite-series, &.toggle-favorite-movie {
                    background-color: hsla(from var(--ardoise-80) h s l / .5);
                    width: 2rem;

                    &.favorite {
                        color: var(--favorite-series);
                    }

                    svg {
                        height: 2rem;
                        width: 2rem;
                    }
                }

                &.toggle-pinned-series {
                    background-color: hsla(from var(--ardoise-80) h s l / .5);
                    width: 2rem;

                    &.pinned {
                        color: var(--favorite-series);
                    }

                    svg {
                        height: 2rem;
                        width: 2rem;
                    }
                }
            }
        }
    }
}

@property --glow-deg {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0deg;
}

@keyframes glow {
    from {
        --glow-deg: 0deg;
    }
    to {
        --glow-deg: 360deg;
    }
}

.glowing-border {
    --gradient-glow: red, orange, yellow, green, blue, indigo, violet, red;
    /*--gradient-glow: var(--orange-80), var(--orange-20), var(--green-80), var(--green-20), var(--green-80), var(--orange-20), var(--orange-80);*/

    /*animation: glow 10s linear infinite;*/
    background: linear-gradient(var(--green-80) 0 0) padding-box,
    conic-gradient(from var(--glow-deg), var(--gradient-glow)) border-box;
    border: 2px solid transparent;
    isolation: isolate;
    min-height: 20rem;
    margin-block: 4rem;
    padding: 2rem;
    position: relative;
    width: min(70rem, 90%);

    &:nth-child(odd) {
        border-left: 0;
        border-radius: 0 15rem 15rem 0;
        margin-inline-end: auto;
        margin-inline-start: 0;
        padding: 2rem 8rem 2rem 2rem;

        &::before {
            left: -2rem;
        }
    }

    &:nth-child(even) {
        border-radius: 15rem 0 0 15rem;
        border-right: 0;
        margin-inline-end: 0;
        margin-inline-start: auto;
        padding: 4rem 2rem 4rem 8rem;

        &::before {
            right: -2rem;
        }
    }

    &::before,
    &::after {
        border-radius: inherit;
        content: "";
        position: absolute;
    }

    &::before {
        background: linear-gradient(var(--green-90) 0 0);
        inset: .5rem;
        filter: blur(1rem);
        z-index: -1;
    }

    &::after {
        background: conic-gradient(from var(--glow-deg), var(--gradient-glow));
        filter: blur(1rem);
        inset: -1.5rem;
        z-index: -2;
        opacity: 0.0625;
    }
}

.user-profile {
    margin-block-start: 8rem;
    width: min(70rem, 90%);

    form.form {
        .form-row {
            .form-field {
                label {
                    display: flex;
                    flex-direction: column;
                    position: relative;

                    input[type="file"] {
                        align-items: center;
                        appearance: none;
                        border: 2px dashed var(--green-40);
                        border-radius: .5rem;
                        color: transparent;
                        display: flex;
                        height: 100%;
                        justify-content: center;
                        width: 100%;
                    }

                    input[type="file"]::file-selector-button {
                        /*display: none;*/
                        background-color: transparent;
                        border: none;
                        color: transparent;
                        inset: 2.5rem 0 0 0;
                        position: absolute;
                    }

                    .dropzone {
                        align-items: center;
                        background-color: hsla(from var(--green-70) h s l / .5);
                        border-radius: .5rem;
                        bottom: 0;
                        color: var(--green-20);
                        display: flex;
                        font-size: 1rem;
                        font-weight: 300;
                        justify-content: center;
                        left: 0;
                        padding: 1rem;
                        position: absolute;
                        right: 0;
                        top: 2.5rem;

                        &:hover {
                            background-color: hsla(from var(--green-40) h s l / .5);
                        }
                    }
                }
            }
        }

        .form-row:has(button[type="submit"]) {
            justify-content: flex-start;

            button[type="submit"] {
                font-size: 2rem;
            }
        }
    }
}

.translation-settings {
    min-height: 30rem;
    width: min(70rem, 90%);

    h2 {
        font-size: 1.5rem;
        font-weight: 600;
        margin-block: 1rem;
    }

    label:has(select) {
        margin-inline-start: unset;
        width: 100%;

        &::after {
            top: 32%;
        }
    }

    .languages {
        display: flex;
        gap: 1rem;

        .targeted-languages, .preferred-languages {
            display: flex;
            flex-direction: column;
            gap: .5rem;
            width: 20rem;

            h3 {
                font-size: 1.25rem;
                font-weight: 600;
                margin-block: .5rem;
            }

            .language-list {
                display: flex;
                flex-direction: column;
                gap: .25rem;
                list-style: none;

                .language-item {
                    align-items: center;
                    background-color: hsla(from var(--ardoise-80) h s l / .5);
                    border-radius: .25rem;
                    color: var(--ardoise-10);
                    display: flex;
                    font-size: 1rem;
                    font-weight: 300;
                    gap: .5rem;
                    justify-content: space-between;
                    padding: .5rem;

                    &.active {
                        background-color: var(--orange-40);
                        font-weight: 600;
                    }

                    &:hover {
                        background-color: var(--green-60);
                    }

                    .delete-language, .drag-language {
                        align-items: center;
                        background-color: transparent;
                        border-radius: .25rem;
                        color: var(--green-40);
                        cursor: pointer;
                        display: flex;
                        height: 1.75rem;
                        width: 1.75rem;

                        &:hover {
                            background-color: var(--orange-50);
                            color: var(--orange-90);
                        }
                    }

                    .delete-language {
                        margin-inline-start: auto;
                    }
                }
            }
        }
    }
}

.site-updates {
    padding-block-start: 3rem;
    width: 100%;

    .site-update.glowing-border {
        margin-block: 1rem;
        width: min(70rem, 90%);
    }

    .updates-title {
        height: 16rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: .25rem;

        &:has(.change) {
            gap: 1rem;
        }

        li {
            align-items: center;
            display: flex;
            gap: 1rem;
            list-style: none;
            margin-inline-start: 1rem;

            &:has(.change) {
                align-items: flex-start;
                flex-direction: column;
                gap: .5rem;
            }

            .change {
                align-items: center;
                display: flex;
                font-size: 1rem;
                font-weight: 300;
                gap: 1rem;

                svg {
                    height: 2rem;
                    width: 2rem;
                }
            }

            .details {
                color: var(--orange-70);
                font-size: .875rem;
                font-weight: 300;
                padding-inline-start: 2rem;
            }

            span {
                align-items: center;
                border-radius: 50%;
                color: var(--ardoise-10);
                display: flex;
                height: 1.5rem;
                justify-content: center;
                width: 1.5rem;

                &.fix {
                    background-color: var(--green-50);
                }

                &.feature {
                    background-color: var(--ardoise-50);
                }

                &.improvement {
                    background-color: var(--orange-50);
                }

                &.css {
                    background-color: var(--yellow-50);
                }

                &.wip {
                    background-color: var(--purple-50);
                }
            }
        }
    }
}