.videos {
    margin-block-start: 3rem;
    margin-block-end: 1rem;

    .video-tools {
        align-items: center;
        background-color: var(--orange-30-alpha-75);
        border-radius: .5rem;
        display: flex;
        gap: 1rem;
        justify-content: center;
        margin-block: 1rem;
        padding: 1rem;

        form {
            align-items: center;
            display: flex;
            gap: 1rem;

            label {
                align-items: center;
                display: flex;
                gap: .5rem;

                input {
                    background-color: var(--orange-20);
                    border: none;
                    border-radius: .25rem;
                    color: var(--orange-100);
                    padding: .25rem 1rem;
                }
            }

            button {
                background-color: var(--orange-50);
                border: none;
                border-radius: .25rem;
                color: var(--orange-100);
                cursor: pointer;
                padding: .25rem 1rem;

                &:hover {
                    background-color: var(--orange-60);
                }
            }
        }
    }

    .video-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        margin-inline: auto;
        width: round(down, 100%, 33rem);

        .video {
            border: 2px solid transparent;
            border-radius: .5rem;
            display: flex;
            flex-direction: column;
            width: 32rem;

            &:hover {
                border-color: var(--orange-100);
            }

            .thumbnail {
                position: relative;

                img {
                    aspect-ratio: 16/9;
                    border-radius: .5rem .5rem 0 0;
                    object-fit: cover;
                    width: 100%;
                }

                .duration {
                    background-color: var(--orange-10);
                    border-radius: .25rem;
                    color: var(--orange-100);
                    font-size: 1.25rem;
                    font-weight: 600;
                    padding: .25rem .5rem;
                    position: absolute;
                    right: 1rem;
                    bottom: 1rem;
                }
            }

            .infos {
                background-color: var(--orange-30-alpha-75);
                border-radius: 0 0 .5rem .5rem;
                display: flex;
                flex-direction: column;
                gap: .5rem;
                height: 9rem;
                padding: .5rem;

                .channel {
                    align-items: center;
                    display: flex;
                    gap: .5rem;
                    height: 2.5rem;

                    .thumbnail {
                        img {
                            aspect-ratio: 1;
                            border-radius: 50%;
                            height: 2.5rem;
                            width: 2.5rem;
                        }
                    }

                    .title {
                        color: var(--orange-100);
                        font-size: 1.25rem;
                        font-weight: 600;
                    }
                }

                .content {
                    display: flex;
                    flex-direction: column;
                    gap: .25rem;
                    height: 5rem;

                    .title {
                        color: var(--orange-100);
                        display: flex;
                        font-size: 1.25rem;
                        font-weight: 600;
                        height: 3.5rem;
                        overflow-y: auto;
                    }

                    .at {
                        display: flex;
                        gap: 1rem;
                        height: 1.5rem;

                        .published-at, .added-at {
                            color: var(--orange-100);
                            font-size: .875rem;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }
}

@media (width <= 48rem) {
    .videos {
        margin-block-start: unset;
    }
}

@media (width <= 33rem) {
    .videos {
        .video-tools {
            form {
                width: 100%;

                label {
                    width: calc(100% - 6rem);

                    span {
                        display: none;
                    }

                    input {
                        flex-grow: 1;
                    }
                }
            }
        }

        .video-wrapper {
            width: 100%;

            .video {
                width: 100%;

                .infos {
                    height: 12rem;

                    .content {
                        height: 9rem;

                        .title {
                            align-items: center;
                            height: 5rem;
                            justify-content: center;
                            text-align: center;
                            text-wrap: balance;
                        }

                        .at {
                            align-items: center;
                            flex-direction: column;
                            gap: 0;
                            height: 3rem;
                        }
                    }
                }
            }
        }
    }
}

.video-page {
    margin-block-start: 3rem;

    .video {
        aspect-ratio: 16/9;
        width: 100%;

        iframe {
            border-radius: .5rem;
            border: none;
            height: 100%;
            width: 100%;
        }
    }
}