<div class="localization-tools">
    <div class="localization-tools-button">
        {{ ux_icon('mdi:ellipsis-vertical') }}
    </div>
    <div class="localization-tools-menu">
        <div id="localized-name">{{ 'Suggest a localized name'|trans }}</div>
        <div id="localized-overview">{{ 'Add a localized overview'|trans }}</div>
        <div id="additional-overview">{{ 'Add an additional overview'|trans }}</div>
    </div>
</div>